#footer{
  .row{
    @extend %clearFix;
  }
  .row1{
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .row2{
    color: #86bccc;
    padding-bottom: 2em;
    text-align: center;
    a{
      color: white;
      padding-left: 12px;
      padding-right: 12px;    
      @media (max-width: 1023px){
        display: inline-block;
      }
    }
    p{
      padding-bottom: 1em;
    }
  }
  .text-copycight{
    font-size: 13px;
  }
  .col-left{
    width: 50%;
    float: left;
    text-align: right;
    @media (max-width: 1023px){
      width: 100%;
      text-align: center;
    }
    .btn-circle{
      margin-right: 32px;
        @media (max-width: 1023px){
          margin-left: 16px;
          margin-right: 16px;
        }
        @media (max-width: 512px){
          display: block;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 1em;
        }
    }
  }
  .col-right{
    position: relative;
    width: 50%;
    float: left;
    color: #86bccc;
    margin-top: 23px;
    @media (max-width: 1023px){
      width: 100%;
      text-align: center;
    }
    a{
      color: white;
      padding-left: 12px;
      padding-right: 12px;
      @media (max-width: 1023px){
        display: inline-block;
        line-height: 1.4;
      }
    }
    p{
      line-height: 1;
      padding-bottom: 1em;
      padding-left: 2em;
      @media (max-width: 1023px){
        padding-left: 0;
      }
    }
    &::before{
      content: '';
      width: 1px;
      height: 3em;
      background-color: white;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      @media (max-width: 1023px){
        content: none;
        background-color: none;
      }
    }
  }
  @media (max-width: 768px){
    // width: 768px; 
  }
}