#header{
  position: relative;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 70px;
  background-color: white;
  color: #025679;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  @extend %clearFix;
  @media (max-width: 1023px){
    height: 55px;
  }
  a{
    color: #025679;
    padding-left: 5px;
    padding-right: 5px; 
  }
}
.header-logo{
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  margin-top: 20px;
  float: left;
  @media (max-width: 1023px){
    float: none;
    margin-top: 15px;
  }
  img{
    height: 35px;
    @media (max-width: 1023px){
      height: 30px;
    }
  }
  .btn-bars{
    float: right;
    font-size: 28px;
    cursor: pointer;
  }
}

i.btn-bars.on-mobile{
  display: none;
  &.icon-list{
    @media (max-width: 1023px){
      display: block;
    }
  }
}
.is-on{
  i.btn-bars.on-mobile{
    &.icon-x{
      @media (max-width: 1023px){
        display: block;
      }
    }
    &.icon-list{
      @media (max-width: 1023px){
        display: none;
      }
    }
  }
}

.list-header-bg{
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 98;
  display: none;
  &.is-on{
    @media (max-width: 1023px){
      display: block;      
    }
  }  
}
.list-header{
  position: fixed;
  top: 55px;
  left: 0;
  width: 100%;
  z-index: 99;
  display: none;
  .header-icon{
    margin-left: 15px;
    margin-right: 5px;
  }
  a{
    color: #025679;
    padding-left: 5px;
    padding-right: 5px; 
  }
  &.is-on{
    @media (max-width: 1023px){
      display: block;      
    }
  }
}

.list-header-item{
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: white;
  color: #025679;
  border-top: 1px solid #eeeeee;
}

.header-right{
  height: 25px;
  line-height: 25px;
  margin-top: 30px;
  float: right;
  padding-right: 20px;
  @media (max-width: 1023px){
    display: none;
  } 
  .header-icon{
    margin-left: 15px;
    margin-right: 5px;
  }
}
.link-name{
  font-weight: 600;
}