// 主容器
.layout-container {
  @media (max-width: 768px){
    // width: 768px;
  }
}
.layout-mw-wrapper{
  width: 1260px;
  margin: 0 auto;
  @extend %clearFix;
   
  @media (max-width: 1279px){
    width: 1000px;
  }
  @media (max-width: 1023px){
    width: 100%;
  }
  @media (max-width: 768px){
    // width: 768px;
  }
}
// 主內容區塊
.layout-view {
  // background-color: white;
}

//內頁banner
.section-banner{
  margin-top: 70px;
  height: 150px;
  color: white;
  text-align: center;
  background-color: #ccc;
  @media (max-width: 1023px){
    margin-top: 55px;
  }

  h2{
    margin-top: 0;
    padding-top: 1.1em;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 5px;
  }
  h3{
    font-size: 18px;
    line-height: 2em;
    font-weight: 600;
    letter-spacing: 1px;
  }
}

//內頁banner下選單
/*add from navy*/
.section-banner2 {
  height: 95px;
  background-color: #f7f7f7;
  padding-right:20px;
}
/*add from navy 151005*/
.sbheader-right {
  // height: 25px;
  line-height: 25px;
  margin-top: 25px;
  float: right;
  padding-right: 20px;
  padding-left:20px;
}

.sbheader-right .sbheader-icon {
  margin-left: 15px;
  margin-right: 5px;
}

.sbheader-right a {
  color: #025679;
  padding-left: 8px;
  padding-right: 5px;
  padding-top:-2px;
}

@media (max-width: 767px) {
  .sbheader-right {
    display: none;
  }
}
.sbheader-right .header-icon {
  margin-left: 15px;
  margin-right: 5px;
}
/*subheader 設定*/

@media (min-width: 768px) {
.sbheader-mobile {
    display: none;
  }
}

@media (max-width: 767px) {
.sbheader-mobile {
    display: block;
  } 
}
  
.sbheader-box {
 padding-top: 25px;
  padding-right: 20px;
  padding-left:20px;
  text-align:center;
  @media (max-width: 767px) {
    padding-right: 0;
    padding-left: 0;
    white-space: nowrap;
  }
}

.sbheader-box a {
  color: #025679;
  margin:0px 20px;
}


//各內頁內容
.section-content{
  background-color: white;
  padding-bottom: 5em;
}

//各小標
.scene-title{
  text-align: center;
  padding-top: 80px;
  // line-height: 2.6;
  line-height: 1;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  font-size: 42px;
  font-weight: normal;
  letter-spacing: 5px;
  color: white;
  @media (max-width: 1366px){
    font-size: 36px;
    letter-spacing: 2px;
  }
  @media (max-width: 1023px){
    font-size: 32px;
  }
  img{
    vertical-align: middle;
  }
}
.scene-subtitle{
  font-size: 26px;
  line-height: 3;
  letter-spacing: 2px;
  color: white;
  font-weight: normal;
}