@import "../initial";

body{
  // background-color: #66cbcc;
  // @include gradient-horizontal($start-color: #326698, $end-color: #66cbcc, $start-percent: 20%, $end-percent: 80%);
  // background-repeat: repeat-y;
  background-color: #0e597b;
}
%scene{
  width: 100%;
  position: relative;
  text-align: center;
}
#scene1-inner{
  // display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 2;
}

#scene1{
  @extend %scene;
  margin-top: 70px;
  height: 650px;
  color: white;
  @media (max-width: 1023px){
    height: 63vw;
    margin-top: 55px;
  }
  @media (max-width: 767px){
  }
  h1{
    font-weight: 500;
    font-size: 60px;
    padding-top: 100px;
    padding-bottom: 40px;
  }
  h2{
    font-size: 28px;
    font-weight: 300;
    line-height: 1.5;
    color: #FCD919;
  }
  .swiper-pagination-bullet{
    margin-left: 6px;
    margin-right: 6px;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 1px solid white;
    &::before{
      content: none;
    }
  }
  .swiper-pagination-bullet-active{
    background-color: white;
  }
}
.scene1-bottom{
  position: absolute;
  bottom: 0;
  margin-bottom: -1px;
  background: url('/assets/images/bg-tri-twin.svg') center bottom no-repeat;
  @include backgroundSize(cover);
  height: 200px;
  width: 100%;
  z-index: 2;
  @media (max-width: 1680px){
    height: 155px;
  }
}
.btn-knowmore{
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  font-size: 18px;
  line-height: 1.8;
  span{
    cursor: pointer;
  }
  b,img.on-desk{
    font-weight: normal;
    @media (max-width: 767px){
      display: none;
    }
  }
  .on-mobile{
    display: none;
    @media (max-width: 767px){
      display: inline-block;      
    }
  }
}

.bannerswiper-outer{
  position: relative;
  width: 100%;
  height: 650px;
  margin: 0 auto;
  overflow: hidden;
  @media (max-width: 1023px){
    height: 63vw;
  }
}
.bannerswiper-container{
  width: 100%;
  height: 650px;
  @media (max-width: 1023px){
    height: 63vw;
  }
  .swiper-slide{
    height: 650px;
    background-repeat: no-repeat;
    background-position: center;
    @media (max-width: 1023px){
      height: 63vw;
      @include backgroundSize(cover);
    }
  }
}
.bannerswiper-pagination{
  @media (max-width: 767px){
    display: none;
  }
}

#scene2{
  @extend %scene;
  // height: 940px;
  padding-top: 30px;
  // margin-top: -1px;
  height: 670px;
  background-color: white;
  @media (max-width: 1023px){
    padding-top: 30px;
    // height: 710px;
    height: 610px;
  }
  @media (max-width: 767px){
    height: auto;
  }
}

.swiper-outer{
  position: relative;
  width: 980px;
  height: 500px;
  margin: 0 auto;
  @media (max-width: 1279px){
    width: 768px;
  }
  @media (max-width: 1023px){
  }
  @media (max-width: 767px){
    // height: calc(65vw + 75px);
    height: calc(106vw + 75px);
    width: 100%;
  }
  &::before{
    position: absolute;
    z-index: 3;
    display: block;
    content: '';
    @include gradient-horizontal($start-color: #ffffff, $end-color: transparent, $start-percent: 0%, $end-percent: 100%);
    left: 0;
    top: 0;
    width: 30px;
    height: 100%;
  }
  &::after{
    position: absolute;
    z-index: 3;
    display: block;
    content: '';
    @include gradient-horizontal($start-color: transparent, $end-color: #ffffff, $start-percent: 00%, $end-percent: 100%);
    right: 0;
    top: 0;
    width: 30px;
    height: 100%;
  }
}
.swiper-container{
  width: 980px;
  height: 595px;
  @media (max-width: 1279px){
    width: 768px;
  }
  @media (max-width: 1023px){
    height: 565px;
  }
  @media (max-width: 767px){
    // width: 100%;
    // height: calc(65vw + 60px);
  }
  &.on-mobile{
    .swiper-slide{
      @media (max-width: 767px){
        height: 106vw;
      }
    }
    @media (max-width: 767px){
      width: 100%;
      height: calc(106vw + 60px);
    }
  }
  .swiper-slide{
    height: 500px;
    @include backgroundSize(contain);
    background-repeat: no-repeat;
    background-position: center;
    @media (max-width: 1023px){
    }
    @media (max-width: 767px){
      // height: 65vw;
    }
  }
}
.swiper-container{
  &.on-desk{
    @media (max-width: 767px){
      display: none;
    }
  }
  &.on-mobile{
    display: none;
    @media (max-width: 767px){
      display: block;
    }
  }

}
.swiper-button-prev{
  @include transition-property(opacity,background,border);
  @include transition-duration(.2s);
  @include transition-timing-function(linear);  
  width: 80px;
  height: 80px;
  left: -100px;
  @include border-radius(40px);
  background: url('/assets/images/icon-arrow-left-blue.png') center no-repeat;
  border: 1px solid #4393c6;
  &:hover{
    border: 1px solid #fb8950;    
    background: url('/assets/images/icon-arrow-left-orange.png') center no-repeat;
  }
  @media (max-width: 1023px){
    display: none;
  }
}
.swiper-button-next{
  @include transition-property(opacity,background,border);
  @include transition-duration(.2s);
  @include transition-timing-function(linear);  
  width: 80px;
  height: 80px;
  right: -100px;
  @include border-radius(40px);
  background: url('/assets/images/icon-arrow-right-blue.png') center no-repeat;
  border: 1px solid #4393c6;
  &:hover{
    border: 1px solid #fb8950;    
    background: url('/assets/images/icon-arrow-right-orange.png') center no-repeat;
  }
  @media (max-width: 1023px){
    display: none;
  }

}
.swiper-pagination-bullet{
    position: relative;
    width: 15px;
    height: 15px;
    background-color: #24868f;
    opacity: 1;
    @include transition-property(background-color);
    @include transition-duration(.2s);
    @include transition-timing-function(linear);  
    @media (max-width: 767px){
      width: 10px;
      height: 10px;
    }
    &::before{
      @include transition-property(all);
      @include transition-duration(.3s);
      @include transition-timing-function(linear);  
      position: absolute;
      @include border-radius(50%);
      left: 0;
      top: 0;
      content: '';
      background-color: #f87431;
      opacity: 0;
      width: 16px;
      height: 16px;
      @media (max-width: 767px){
        width: 10px;
        height: 10px;
      }
    }
}
.swiper-pagination-bullet-active{
    opacity: 1;
    background: #f87431;
    &::before{
      left: -7px;
      top: -7px;
      opacity: 0.2;
      width: 28px;
      height: 28px;
      @media (max-width: 767px){
        width: 16px;
        height: 16px;
        top: -3px;
        left: -3px;
      }
    }
}
.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet{
    margin: 0 36px;
    @media (max-width: 1279px){
      margin: 0 26px;
    }
    @media (max-width: 1023px){
      margin: 0 16px;
    }
    @media (max-width: 767px){
      margin: 0 7px;
    }
}
.swiper-container-horizontal > .swiper-pagination {
  display: inline-block;
  position: relative;
  width: auto;
  bottom: 32px;
  // left: 16px;
  // right: 16px;
  background: url('/assets/images/bg-line-dotted.png') center repeat-x;
  &::before{
    content: '';
    position: absolute;
    background: url('/assets/images/arrow-dot-left.png') center no-repeat;
    width: 8px;
    height: 100%;
    left: -16px;
  }
  &::after{
    content: '';
    position: absolute;
    background: url('/assets/images/arrow-dot-right.png') center no-repeat;
    width: 8px;
    height: 100%;
    right: -16px;
  }
}
.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled{
  opacity: 0;
}
#scene3{
  @extend %scene;
  height: 610px;
  background-color: #547ba1;
  background: url('/assets/images/bg-scene3.jpg') center no-repeat;
  @include backgroundSize(cover);
  @media (max-width: 1023px){
    height: 500px;
  }
  @media (max-width: 767px){
    height: 760px;
  }
  .scene-title{
    padding-top: 70px;
  }
  .scene-subtitle{
    @media (max-width: 767px){
      font-size: 18px;
    }
  }
}
.arrow-horizonal{
  @media (max-width: 1023px){
    display: none;
  }  
}
.choose-chara{
  position: relative;
  height: 265px;
  width: 900px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  @media (max-width: 1023px){
    width: 100%;
  }
  .choose-chara-circle{
    position: relative;
    height: 265px;
    width: 265px;
    border: 1px solid white;
    border-color: rgba(255,255,255,0.6);
    @include border-radius(50%);
    @media (max-width: 1023px){
      width: 180px;
      height: 180px;
    }
  }
  .circle-right{
    float: right;
    @media (max-width: 767px){
     float: none;
    margin-left: auto;
    margin-right: auto;
     top: 120px;
    }
    img{
      padding-top: 60px;
      @media (max-width: 1023px){
        padding-top: 20px;
      } 
    }
  }
  .circle-left{
    float: left;
    @media (max-width: 767px){
     float: none;
      margin-left: auto;
      margin-right: auto;
     margin-top: 140px;
    }
    img{
      padding-top: 70px;
      @media (max-width: 1023px){
        padding-top: 30px;
      } 
    }
  }
}
.choose-chara-circle{
  font-size: 20px;
  line-height: 2;
  cursor: pointer;
  &:hover{
    .choose-chara-innercircle-hover{
      opacity: 0;
    }
  } 
}
.choose-chara-innercircle{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
  @include border-radius(50%);
}
.choose-chara-innercircle-hover{
  @include transition-property(opacity);
  @include transition-duration(.3s);
  @include transition-timing-function(linear);  
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  @include gradient-horizontal($start-color: #e6f1ff, $end-color: #c7fffe, $start-percent: 20%, $end-percent: 80%);

  color: #14335d;
  opacity: 1;
  @include border-radius(50%);
}
.circletxt{
  display: block;
}
.circleimg{
  @media (max-width: 1023px){
    width: 70px;
  } 
}
.choose-chara-center{
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  display: inline-block;
  font-size: 18px;
  color: white;
  @media (max-width: 1023px){
    top: 70px;
  }
  @media (max-width: 767px){
    top: 0;
  }
  img{
    vertical-align: middle;
  }
  p{
    line-height: 3;
  }
}
.choose-chara-center-img{
  padding-left: 20px;
  padding-right: 20px;
}

#scene4{
  height: 610px;
  @media (max-width: 1023px){
    height: auto;
  }
  @extend %scene;
  @extend %clearFix;
  .scene-title{
    font-size: 28px;
    padding-top: 120px;
    // color: white;
    color: #267cab;
    @media (max-width: 1279px){
      padding-top: 60px;
    }
  }
  .col-left{
    position: relative;
    float: left;
    height: 610px;
    width: 70%;
    background-position: center;
    @include backgroundSize(cover);
    &::after{
      position: absolute;
      z-index: 3;
      display: block;
      content: '';
      @include gradient-horizontal($start-color: transparent, $end-color: #ffffff, $start-percent: 0%, $end-percent: 90%);
      right: 0;
      top: 0;
      width: 270px;
      height: 100%;
      @media (max-width: 1023px){
        width: 100%;
        height: 100px;
        top:auto;
        left: 0;
        bottom: 0;
        @include gradient-vertical($start-color: transparent, $end-color: #ffffff, $start-percent: 0%, $end-percent: 90%);
      }
    }
    @media (max-width: 1023px){
      float: none;
      width: 100%;
      height: 400px;
    }
    @media (max-width: 767px){
      height: 300px;
      height: 56vw;
    }
  }
  .col-right{
    float: left;
    text-align: center;
    background-color: #ffffff;
    width: 30%;
    height: 100%;
    padding-left: 70px;
    padding-right: 70px;
    @media (max-width: 1366px){
      padding-left: 40px;
      padding-right: 40px;
    }
    @media (max-width: 1023px){
      float: none;
      width: 100%;
      height: auto;
    }
  }
  .btn-rounded{
    min-width: 220px;
    margin-bottom: 2em;
  }
}
.story-content{
  padding-top: 1em;
  padding-bottom: 2em;
  line-height: 1.8;
  font-size: 18px;
  text-align: left;
  max-height: 246px;
  overflow: hidden;
}

#scene5{
  background-color: #f5f5f5;
  height: 770px;
  @media (max-width: 1023px){
    height: auto;
  }
  @extend %scene;
  text-align: center;
}
.scene5-bottom{
  padding-top: 6em;
  @media (max-width: 512px){
    padding-top: 2em;
  }
}
.module-news-block{
  width: 32%;
  padding-top: 160px;
  padding-left: 35px;
  padding-right: 35px;
  display: inline-block;
  vertical-align: top;
  @media (max-width: 1023px){
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
  }
  @media (max-width: 767px){
    width: 70%;
  }
  @media (max-width: 512px){
    width: 90%;
  }
}
.module-news-img{
  width: 80%;
  margin-left: 10%;
  overflow: hidden;
  @include border-radius(50%);
  overflow: hidden;
  -webkit-transform: rotate(0.001deg);
  background-position: center center;
  @include backgroundSize(cover);
  &::before{
    content: "";
    display: block;
    padding-top: 100%;
  }
}
.module-news-text{
  color: #0f3b4c;

  h3{
    padding-top: 1.5em;
    padding-bottom: 1em;
    font-size: 24px;
    line-height: 1;
    font-weight: 600;
    width: 100%;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
  }
  p{
    font-size: 18px;
    line-height: 1.8;
    height: 5.4em;
    overflow: hidden;
  }
}
.btn-readmore{
  color: #f87431;
  font-size: 20px;
  line-height: 1.5;
  cursor: pointer;
  @media (max-width: 512px){
    padding-bottom: 1em;
  }
}