@charset "UTF-8";
/* line 2, ../../sass/units/member.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 3, ../../sass/units/member.scss */
.clearfix:after {
  clear: both;
}

/* line 4, ../../sass/units/member.scss */
.clearfix {
  zoom: 1;
}

/* line 5, ../../sass/units/member.scss */
.fl {
  float: left;
}

/* line 6, ../../sass/units/member.scss */
.clear {
  clear: both;
  font-size: 0px;
  line-height: 0em;
  height: 0;
}

/* line 12, ../../sass/units/member.scss */
.register_t2 .M-y {
  display: none;
}

/* line 15, ../../sass/units/member.scss */
.register-content {
  width: 100%;
  background: #fff;
  padding-top: 30px;
}

/* line 20, ../../sass/units/member.scss */
.register {
  width: 875px;
  margin: 0 auto;
  background: #fff;
}

/* line 25, ../../sass/units/member.scss */
.register-nav {
  width: 94%;
  margin: 0 auto;
}

/* line 29, ../../sass/units/member.scss */
.register_t2 .register_column2 .t5 {
  display: none;
}

/* line 32, ../../sass/units/member.scss */
.register-nav ul {
  margin-bottom: 18px;
}

/* line 35, ../../sass/units/member.scss */
.register-nav ul li {
  float: left;
  width: 20%;
  font-size: 100%;
  text-align: center;
  color: #4d4d4d;
}

/* line 42, ../../sass/units/member.scss */
.register-nav ul .current {
  color: #267cab;
}

/* line 45, ../../sass/units/member.scss */
.register-nav ul .current_btn {
  color: #267cab;
}

/* line 48, ../../sass/units/member.scss */
.nav_rate {
  width: 100%;
  border: 1px solid #DFDEDC;
  background: #EBEBEB;
  padding-top: 2px;
  padding-bottom: 2px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding-left: 1%;
}

/* line 59, ../../sass/units/member.scss */
.nav_rate2 {
  border: 1px solid #70CCFF;
  background: #70CCFF;
  margin-top: 1px;
  height: 6px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 68, ../../sass/units/member.scss */
.nav1 {
  width: 18%;
}

/* line 71, ../../sass/units/member.scss */
.nav2 {
  width: 35%;
}

/* line 74, ../../sass/units/member.scss */
.nav3 {
  width: 58%;
}

/* line 77, ../../sass/units/member.scss */
.nav4 {
  width: 78%;
}

/* line 80, ../../sass/units/member.scss */
.nav5 {
  width: 98%;
}

/* line 83, ../../sass/units/member.scss */
.nav_m {
  display: none;
}

/* line 86, ../../sass/units/member.scss */
.register_t1 {
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
}

/* line 91, ../../sass/units/member.scss */
.register_column {
  margin: 0 auto;
  width: 98%;
}

/* line 96, ../../sass/units/member.scss */
.register_t1 dl {
  width: 100%;
  padding-bottom: 22px;
  margin-top: 28px;
}

/* line 101, ../../sass/units/member.scss */
.register_t1 dl dt {
  float: left;
  width: 36px;
  text-align: right;
}

/* line 106, ../../sass/units/member.scss */
.register_t1 dl dd {
  float: left;
  width: 89%;
  margin-left: 2%;
  margin-top: 10px;
}

/* line 112, ../../sass/units/member.scss */
.register_t1 dl .m_dd {
  display: none;
  margin-top: 5px;
}

/* line 116, ../../sass/units/member.scss */
.register_t1 dl dd h1 {
  color: #267cab;
  font-size: 21px;
  font-weight: normal;
  line-height: 28px;
}

/* line 122, ../../sass/units/member.scss */
.register_t1 dl dd .rule {
  color: #ff8c2d;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

/* line 128, ../../sass/units/member.scss */
.register_t1 .r1 {
  margin-bottom: 10px;
}

/* line 132, ../../sass/units/member.scss */
.register_t1 dl dd .txt1 {
  color: #4d4d4d;
  font-size: 15px;
}

/* line 136, ../../sass/units/member.scss */
.register_t1 dl dd .txt2 {
  color: #4d4d4d;
  font-size: 18px;
}

/* line 140, ../../sass/units/member.scss */
.under {
  border-bottom: 1px solid #DDDDDD;
}

/* line 145, ../../sass/units/member.scss */
.register_t2 {
  width: 100%;
  margin-top: 20px;
  border-top: 1px solid #DDDDDD;
  padding-top: 7px;
}

/* line 151, ../../sass/units/member.scss */
.register_column2 {
  width: 70%;
  margin: 0 auto;
}

/* line 155, ../../sass/units/member.scss */
.register_column3 {
  width: 60%;
  margin: 0 auto;
}

/* line 159, ../../sass/units/member.scss */
.register_t2 .M-a {
  display: none;
}

/* line 162, ../../sass/units/member.scss */
.register_t2 h1 {
  color: #bd0d00;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 22px;
}

/* line 171, ../../sass/units/member.scss */
.register_t2 dl {
  width: 336px;
  border: 2px solid #ccc;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 54px;
  line-height: 35px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  margin-bottom: 6px;
  color: #4d4d4d;
}

/* line 185, ../../sass/units/member.scss */
.register_t2 dl dt {
  width: 105px;
  padding-left: 6%;
  border-right: 2px solid #ccc;
  line-height: 30px;
  float: left;
  text-align: left;
  font-size: 15px;
}

/* line 195, ../../sass/units/member.scss */
.register_t2 dl.w2 dt {
  padding-left: 4.5%;
}

/* line 198, ../../sass/units/member.scss */
.register_t2 dl dd {
  line-height: 30px;
  width: 66%;
  font-size: 18px;
  float: left;
  text-align: left;
}

/* line 206, ../../sass/units/member.scss */
.register_t2 .select dl {
  margin-left: 0px;
  width: 152px;
}

/* line 210, ../../sass/units/member.scss */
.register_t2 .select dd {
  width: 60px;
}

/* line 213, ../../sass/units/member.scss */
.register_t2 .select dt {
  width: 78px;
  border: 0;
  float: left;
  padding-left: 15px;
}

/* line 220, ../../sass/units/member.scss */
.register_t2 dl input {
  text-align: left;
  border: 0;
  padding-right: 5px;
  padding-left: 5px;
  color: #4d4d4d;
  font-size: 15px;
  text-indent: 4%;
  font-weight: normal;
}

/* line 230, ../../sass/units/member.scss */
.register_t2 .w1 {
  width: 336px;
}

/* line 233, ../../sass/units/member.scss */
.register_t2 .w2 {
  width: 490px;
}

/* line 237, ../../sass/units/member.scss */
.register_t2 .w1 input {
  width: 180px;
}

/* line 240, ../../sass/units/member.scss */
.register_t2 .w2 input {
  width: 338px;
}

/* line 243, ../../sass/units/member.scss */
.register_t2 .year {
  float: left;
  margin-right: 8px;
}

/* line 247, ../../sass/units/member.scss */
.register_t2 .area {
  float: left;
  margin-right: 8px;
}

/* line 251, ../../sass/units/member.scss */
.register_t2 select {
  width: 55px;
  background: #fff;
  border: 0px;
  font-size: 14px;
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-image: url(../../images/g-drap.png);
  background-position: right 1rem center;
  font-family: "Helvetica Neue", Helvetica, Arial, Chinese, "微軟正黑體", sans-serif;
  color: #4d4d4d;
  padding: 0px 10px;
}

/* line 264, ../../sass/units/member.scss */
.register_t2 h2 {
  color: #bd0d00;
  font-size: 15px;
  font-weight: normal;
  line-height: 25px;
  margin-top: 10px;
  margin-bottom: 22px;
  padding-left: 30px;
}

/* line 273, ../../sass/units/member.scss */
.register_t2 .acc {
  width: 99%;
  border: 2px solid #ccc;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 54px;
  line-height: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  margin-bottom: 8px;
  margin-top: 20px;
  text-align: center;
  color: #4d4d4d;
}

/* line 288, ../../sass/units/member.scss */
.register_t2 .acc_no {
  border: 2px solid #BD0D00;
  color: #BD0D00;
}

/* line 292, ../../sass/units/member.scss */
.register_t2 .tip {
  margin-top: 9px;
  color: #70cbff;
  width: 80%;
  font-size: 15px;
}

/* line 298, ../../sass/units/member.scss */
.register_t2 .acc input {
  margin: 0 auto;
  border: none;
  text-align: center;
  width: 90%;
  font-size: 15px;
}

/* line 306, ../../sass/units/member.scss */
.register_t2 .register_column3 input {
  color: #4d4d4d;
}

/* line 310, ../../sass/units/member.scss */
.register_t2 .tip_no {
  color: #BD0D00;
}

/* line 313, ../../sass/units/member.scss */
.register_t2 .pass_tip {
  text-align: left;
  margin-top: 9px;
  color: #BD0D00;
  width: 90%;
}

/* line 320, ../../sass/units/member.scss */
.register_t2 .pass_secure li {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 325, ../../sass/units/member.scss */
.register_t2 .pass_secure {
  text-align: left;
  margin-top: 9px;
  color: #4d4d4d;
  width: 98%;
}

/* line 331, ../../sass/units/member.scss */
.register_t2 .pass_s1 {
  float: left;
  width: 75px;
}

/* line 335, ../../sass/units/member.scss */
.register_t2 .pass_s2 {
  float: left;
  width: 76%;
  margin-left: 2%;
}

/* line 340, ../../sass/units/member.scss */
.register_t2 .pass_s3 {
  float: left;
  width: 30px;
  text-align: center;
}

/* line 345, ../../sass/units/member.scss */
.register_t2 .pass_rate {
  width: 100%;
  border: 1px solid #DFDEDC;
  background: #EBEBEB;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 3px;
  height: 13px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding-left: 1%;
}

/* line 359, ../../sass/units/member.scss */
.register_t2 .pass_rate2 {
  border: 1px solid #70CCFF;
  background: #70CCFF;
  margin-top: 1px;
  height: 6px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 368, ../../sass/units/member.scss */
.register_t2 .statement {
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 16px;
  color: #333333;
  line-height: 25px;
}

/* line 376, ../../sass/units/member.scss */
.register_t2 .statement a {
  color: #267cab;
  text-decoration: underline;
}

/* line 380, ../../sass/units/member.scss */
.register_t2 .statement .check {
  padding-bottom: 12px;
}

/* line 384, ../../sass/units/member.scss */
.register_t2 .radio {
  float: left;
  width: 8%;
}

/* line 388, ../../sass/units/member.scss */
.register_t2 .radio_txt {
  float: left;
  width: 90%;
}

/* line 392, ../../sass/units/member.scss */
.email_Verify {
  margin: 0 auto;
  width: 95%;
  margin-top: 40px;
  padding-bottom: 20px;
}

/* line 398, ../../sass/units/member.scss */
.email_Verify h1 {
  font-size: 20px;
  font-weight: normal;
  color: #267cab;
  padding-bottom: 28px;
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 24px;
}

/* line 407, ../../sass/units/member.scss */
.email_Verify h2 {
  font-size: 18px;
  font-weight: normal;
  color: #4d4d4d;
  margin-bottom: 20px;
  text-align: center;
}

/* line 414, ../../sass/units/member.scss */
.email_Verify .email_style {
  width: 80%;
  margin: 0 auto;
}

/* line 418, ../../sass/units/member.scss */
.email_Verify .email {
  float: left;
  width: 70%;
  height: 55px;
  padding-bottom: 10px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border: 2px solid #ddd;
}

/* line 428, ../../sass/units/member.scss */
.email_Verify .email dt {
  float: left;
  padding-left: 5%;
  padding-right: 3%;
  height: 35px;
  border-right: 2px solid #ddd;
  color: #4d4d4d;
  line-height: 30px;
  margin-top: 10px;
}

/* line 438, ../../sass/units/member.scss */
.email_Verify .email dd {
  float: left;
  width: 70%;
  margin-top: 5px;
  padding-left: 3%;
}

/* line 445, ../../sass/units/member.scss */
.email_Verify .email_b {
  width: 97%;
  margin-left: 2%;
  font-size: 15px;
  border: 0;
  font-weight: normal;
  color: #4d4d4d;
}

/* line 454, ../../sass/units/member.scss */
.email_button {
  text-align: center;
  display: inline-block;
  font-size: 20px;
  line-height: 50px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  color: #4C4C4C;
  background-color: #DDDDDD;
  cursor: pointer;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#DDDDDD', GradientType=1);
  font-family: "Helvetica Neue", Helvetica, Arial, Chinese, "微軟正黑體", sans-serif;
}

/* line 471, ../../sass/units/member.scss */
.email_b {
  width: 220px;
  font-size: 1em;
  margin-top: 7px;
  margin-left: 8px;
}

/* line 477, ../../sass/units/member.scss */
.home_btn {
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
}

/* line 482, ../../sass/units/member.scss */
.home_btn .btn-rounded {
  font-weight: 500;
}

/* line 485, ../../sass/units/member.scss */
.email_button a {
  color: #4C4C4C;
  text-decoration: none;
}

/* line 490, ../../sass/units/member.scss */
.phone_Verify {
  margin: 0 auto;
  width: 95%;
  margin-top: 30px;
  padding-bottom: 50px;
}

/* line 496, ../../sass/units/member.scss */
.phone_Verify h1 {
  font-size: 20px;
  font-weight: normal;
  color: #267cab;
  padding-bottom: 28px;
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 24px;
  text-align: center;
  line-height: 28px;
}

/* line 507, ../../sass/units/member.scss */
.register_t1 .re_btn, .register_t2 .re_btn {
  padding-top: 40px;
  text-align: center;
}

/* line 512, ../../sass/units/member.scss */
.register_t1 .btn-rounded a, .register_t2 .btn-rounded a, .phone_Verify .btn-rounded a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

/* line 518, ../../sass/units/member.scss */
.phone_Verify .button {
  width: 175px;
  margin: 0 auto;
  margin-top: 30px;
}

/* line 524, ../../sass/units/member.scss */
.phone_Verify .phone_num {
  width: 600px;
  margin-left: 28%;
  margin-bottom: 20px;
}

/* line 529, ../../sass/units/member.scss */
.phone_Verify .phone_input {
  width: 323px;
  margin: 0 auto;
  border: 2px solid #ccc;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 54px;
  line-height: 25px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  margin-bottom: 8px;
  margin-top: 23px;
  text-align: center;
  color: #4d4d4d;
  float: left;
}

/* line 546, ../../sass/units/member.scss */
.phone_Verify .phone_input input {
  border: none;
  font-size: 1em;
  color: #4d4d4d;
  text-align: center;
  margin-bottom: 30px;
}

/* line 553, ../../sass/units/member.scss */
.phone_Verify .erro {
  width: 250px;
  color: #bd0d00;
  line-height: 24px;
  top: 0;
  text-align: left;
  float: left;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

/* line 564, ../../sass/units/member.scss */
.phone_Verify .up {
  color: #bd0d00;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

/* line 570, ../../sass/units/member.scss */
.phone_Verify .up .email_style {
  margin-left: 8px;
}

/* line 574, ../../sass/units/member.scss */
.phone_time {
  text-align: center;
  margin-top: 26px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

/* line 580, ../../sass/units/member.scss */
.phone_time .f1 {
  font-size: 21px;
  color: #4d4d4d;
  font-weight: normal;
}

/* line 585, ../../sass/units/member.scss */
.phone_time .f1 span {
  font-size: 30px;
  color: #bd0d00;
}

/* line 589, ../../sass/units/member.scss */
.phone_time .f2 {
  font-size: 15px;
  color: #bd0d00;
  font-weight: normal;
  line-height: 20px;
}

/* line 595, ../../sass/units/member.scss */
.phone_repeat {
  margin-top: 25px;
}

/* line 598, ../../sass/units/member.scss */
.phone_repeat .n1 {
  width: 60%;
  margin: 0 auto;
  font-size: 18px;
  color: #267cab;
  text-align: center;
}

/* line 605, ../../sass/units/member.scss */
.phone_repeat .n2 {
  width: 60%;
  margin: 0 auto;
  font-size: 18px;
  color: #4d4d4d;
  margin-top: 20px;
  text-align: center;
  line-height: 25px;
}

/* line 614, ../../sass/units/member.scss */
.re_status {
  width: 100%;
  margin: 0 auto;
}

/* line 619, ../../sass/units/member.scss */
.register_status {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #ccc;
  margin-top: 30px;
}

/* line 626, ../../sass/units/member.scss */
.status_txt {
  width: 100%;
  margin: 0 auto;
  margin-top: 22px;
}

/* line 631, ../../sass/units/member.scss */
.status_txt dt {
  float: left;
  text-align: left;
  width: 6%;
}

/* line 636, ../../sass/units/member.scss */
.status_txt dd {
  float: left;
  width: 94%;
}

/* line 640, ../../sass/units/member.scss */
.status_txt h1 {
  color: #267cab;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
  margin-top: 1%;
  width: 94%;
}

/* line 648, ../../sass/units/member.scss */
.status_txt h2 {
  color: #ff8c2d;
  font-size: 18px;
  font-weight: normal;
  margin-top: 21px;
}

/* line 654, ../../sass/units/member.scss */
.status_txt h3 {
  color: #267cab;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  line-height: 26px;
}

/* line 661, ../../sass/units/member.scss */
.status_txt h4 {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  line-height: 26px;
}

/* line 668, ../../sass/units/member.scss */
.status_txt .c1 {
  color: #ff8c2d;
}

/* line 671, ../../sass/units/member.scss */
.status_txt .c2 {
  color: #bd0d00;
}

/* line 674, ../../sass/units/member.scss */
.status_txt .gray {
  color: #4d4d4d;
  font-size: 14px;
  line-height: 23px;
}

/* line 679, ../../sass/units/member.scss */
.under {
  border-bottom: 1px solid #DDDDDD;
}

/* line 682, ../../sass/units/member.scss */
.status_t1 {
  text-align: center;
  color: #267cab;
  font-size: 21px;
  margin-top: 28px;
}

/* line 688, ../../sass/units/member.scss */
.status_photo {
  width: 53%;
  margin: 0 auto;
  margin-top: 30px;
}

/* line 694, ../../sass/units/member.scss */
.status_photo .p1 {
  float: left;
  width: 23%;
  line-height: 50px;
  border-right: 1px solid #ddd;
  color: #4d4d4d;
}

/* line 701, ../../sass/units/member.scss */
.status_photo .p2 {
  float: left;
  margin-left: 5%;
  width: 45%;
  color: #4d4d4d;
}

/* line 707, ../../sass/units/member.scss */
.status_photo .p3 {
  float: left;
  width: 23%;
  color: #4d4d4d;
}

/* line 713, ../../sass/units/member.scss */
.status_button {
  width: 115px;
  height: 51px;
  font-size: 15px;
  margin-bottom: 10px;
}

/* line 719, ../../sass/units/member.scss */
.status_photo p {
  margin-top: 9px;
  color: #4d4d4d;
  margin-bottom: 10px;
}

/* line 724, ../../sass/units/member.scss */
.status_vedio {
  margin-top: 30px;
}

/* line 727, ../../sass/units/member.scss */
.vedio_play {
  width: 63%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 28px;
}

/* line 733, ../../sass/units/member.scss */
.vedio_name {
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
}

/* line 739, ../../sass/units/member.scss */
.b25 {
  width: 25%;
}

/* line 743, ../../sass/units/member.scss */
.b139 {
  width: 139px;
}

/* line 746, ../../sass/units/member.scss */
.btn_w2 {
  width: 170px;
}

/* line 749, ../../sass/units/member.scss */
.btn_w3 {
  width: 250px;
}

/* line 752, ../../sass/units/member.scss */
.status_btn a, .home_btn a {
  color: #fff;
  text-align: center;
  text-decoration: none;
}

/* line 757, ../../sass/units/member.scss */
.status_btn .btn1, .home_btn .btn1 {
  float: left;
  margin-right: 23px;
  margin-bottom: 10px;
}

/* line 762, ../../sass/units/member.scss */
.status_btn .btn-rounded, .home_btn .btn-rounded {
  width: auto;
  text-align: center;
}

/* line 766, ../../sass/units/member.scss */
.status_brank {
  width: 67%;
  margin: 0 auto;
  margin-bottom: 23px;
  margin-top: 29px;
  color: #4D4D4D;
  font-weight: normal;
}

/* line 775, ../../sass/units/member.scss */
.status_brank input {
  border: none;
  width: 100%;
}

/* line 779, ../../sass/units/member.scss */
.status_brank select {
  width: 100%;
  border: none;
  background: none;
  border: 0px;
  font-size: 14px;
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-image: url(../../images/g-drap.png);
  background-position: right 1rem center;
  font-family: "Helvetica Neue", Helvetica, Arial, Chinese, "微軟正黑體", sans-serif;
  color: #4d4d4d;
  padding: 0px 10px;
}

/* line 793, ../../sass/units/member.scss */
.status_upload {
  width: 63%;
  margin: 0 auto;
  margin-bottom: 25px;
}

/* line 798, ../../sass/units/member.scss */
.status_upload .p1 {
  float: left;
  width: 16%;
  line-height: 50px;
  border-right: 1px solid #ddd;
  color: #4d4d4d;
}

/* line 805, ../../sass/units/member.scss */
.status_upload .p4 {
  float: left;
  margin-left: 2%;
  width: 28%;
  color: #4d4d4d;
}

/* line 811, ../../sass/units/member.scss */
.status_upload .p5 {
  float: left;
  color: #bd0d00;
  font-size: 15px;
  width: 55%;
  padding-top: 10px;
}

/* line 819, ../../sass/units/member.scss */
.Menber_nav {
  width: 40%;
  margin: 0 auto;
}

/* line 823, ../../sass/units/member.scss */
.Menber_nav ul li {
  float: left;
  width: auto;
  font-size: 100%;
  text-align: center;
  color: #4d4d4d;
  width: 50%;
  text-align: center;
}

/* line 833, ../../sass/units/member.scss */
.Menber_brank {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 23px;
}

/* line 838, ../../sass/units/member.scss */
.Menber_brank dt {
  width: 37%;
}

/* line 841, ../../sass/units/member.scss */
.Menber_brank dd {
  width: 50%;
}

/* line 844, ../../sass/units/member.scss */
.top29 {
  margin-top: 29px;
}

/* line 847, ../../sass/units/member.scss */
.thank {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  color: #4d4d4d;
  line-height: 27px;
  padding-top: 33px;
  width: 44%;
}

/* line 856, ../../sass/units/member.scss */
.status_btn {
  width: 182px;
  margin: 0 auto;
  margin-top: 40px;
}

/* line 861, ../../sass/units/member.scss */
.status_btn2 {
  width: 44%;
  margin: 0 auto;
  margin-top: 40px;
}

/* line 867, ../../sass/units/member.scss */
.status_btn2 .btn1 {
  margin-right: 5%;
  margin-bottom: 20px;
}

/* line 872, ../../sass/units/member.scss */
.status_btn .btn-rounded {
  width: 180px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 500;
}

/* line 879, ../../sass/units/member.scss */
.W-hide {
  display: none;
}

/* line 883, ../../sass/units/member.scss */
.module-customselect {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 125px;
  height: 43px;
  z-index: 1;
  font-size: 15px;
  text-align: left;
}

/* line 895, ../../sass/units/member.scss */
.module-customselect.style-l {
  width: 240px;
}

/* line 898, ../../sass/units/member.scss */
.module-customselect.is-on {
  z-index: 10;
}

/* line 901, ../../sass/units/member.scss */
.module-customselect .module-customselect-selected {
  position: absolute;
  display: block;
  line-height: 43px;
  font-size: 15px;
  top: 0;
  left: 0;
  height: 100%;
  width: 95%;
  background: url("../../images/icon-select.png") right center no-repeat white;
  border: 2px solid #ddd;
  padding-left: 1.5em;
  z-index: 2;
  cursor: pointer;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}

/* line 920, ../../sass/units/member.scss */
.module-customselect.is-on .module-customselect-selected, .module-customselect.is-on ul {
  border-color: #bbb;
}

/* line 923, ../../sass/units/member.scss */
.module-customselect.is-on ul {
  opacity: 1;
  padding-top: 32px;
  max-height: 999px;
}

/* line 928, ../../sass/units/member.scss */
.module-customselect ul {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  position: absolute;
  top: 22px;
  left: 0;
  width: 95%;
  background-color: white;
  border: 2px solid #ddd;
  z-index: 1;
  padding-top: 0;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding-top: 8px;
}

/* line 949, ../../sass/units/member.scss */
.module-customselect.is-on .module-customselect-selected, .module-customselect.is-on ul {
  border-color: #bbb;
}

/* line 952, ../../sass/units/member.scss */
.module-customselect ul li {
  width: 100%;
  height: 43px;
  line-height: 43px;
  color: #4d4d4d;
  width: auto;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

/* line 966, ../../sass/units/member.scss */
.module-customselect ul li:hover {
  background-color: #f0f0f0;
}

/* line 969, ../../sass/units/member.scss */
.module-customselect-typename {
  position: absolute;
  left: 0;
  top: 10px;
  z-index: 3;
  font-size: 15px;
  line-height: 35px;
  color: #4d4d4d;
  border-right: 2px solid #ddd;
  width: 24%;
  padding: 0 2%;
  text-align: center;
}

/* line 982, ../../sass/units/member.scss */
.module-customselect-selected input {
  width: 50%;
}

/* line 985, ../../sass/units/member.scss */
.b4_select .module-customselect-selected {
  text-indent: 25%;
  line-height: 50px;
}

/* line 989, ../../sass/units/member.scss */
.b4_form {
  margin-bottom: 10px;
}

/* line 992, ../../sass/units/member.scss */
.inp01 {
  width: 100%;
  height: 60px;
}

/* line 996, ../../sass/units/member.scss */
.inp_left01 {
  width: 24%;
  text-align: left;
  padding-left: 5%;
}

/* line 1001, ../../sass/units/member.scss */
.m_btn {
  margin-left: 8px;
  font-size: 1em;
}

/* line 1005, ../../sass/units/member.scss */
.register-content .news_button {
  text-align: center;
  display: inline-block;
  font-size: 20px;
  line-height: 50px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-bottom: 8px;
  color: #fff;
  background-color: #ed842f;
  cursor: pointer;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#DDDDDD', GradientType=1);
  font-family: "Helvetica Neue", Helvetica, Arial, Chinese, "微軟正黑體", sans-serif;
}
.register-content .news_button.style-gray{
  background-color: #ddd;
}
/* line 1022, ../../sass/units/member.scss */
.register-content .news_button.style-fb {
  background-color: #3B5999;
}

/* line 1026, ../../sass/units/member.scss */
.register-content .news_button a {
  text-decoration: none;
  color: #fff;
}

.register-content .style-gray.news_button a {
  color: #444;
}

/* line 1031, ../../sass/units/member.scss */
.acc_no ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #BD0D00;
}

/* line 1032, ../../sass/units/member.scss */
.acc_no :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #BD0D00;
}

/* line 1033, ../../sass/units/member.scss */
.acc_no ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #BD0D00;
}

/* line 1034, ../../sass/units/member.scss */
.acc_no :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #BD0D00;
}

/* COPY FROM css_678.css */
/* line 1037, ../../sass/units/member.scss */
.layout-view {
  min-width: 320px;
}

/* line 1040, ../../sass/units/member.scss */
.b1_2_form {
  margin-bottom: 6px;
}

/* line 1043, ../../sass/units/member.scss */
.b1_2_form .module-customselect {
  width: 162px;
  height: 54px;
  margin: 0;
}

/* line 1048, ../../sass/units/member.scss */
.b1_2_form .module-customselect-selected {
  line-height: 52px;
  color: #4d4d4d;
}

/* line 1052, ../../sass/units/member.scss */
.b1_2_mobile {
  display: none;
}

/* line 1055, ../../sass/units/member.scss */
.register-content .btn-rounded {
  line-height: 56px;
  margin-bottom: 5px;
}

/* line 1059, ../../sass/units/member.scss */
.b168 {
  width: 168px;
  text-align: center;
}

@media screen and (max-width: 678px), screen and (max-device-width: 678px) {
  /* line 1065, ../../sass/units/member.scss */
  .status_btn2 {
    width: 182px;
  }

  /* line 1068, ../../sass/units/member.scss */
  .email_button, .register-content .btn-rounded {
    font-size: 1em;
  }

  /* line 1071, ../../sass/units/member.scss */
  .email_Verify .email {
    float: none;
  }

  /* line 1074, ../../sass/units/member.scss */
  .m_btn {
    display: block;
    margin: 0 auto;
    width: 130px;
  }

  /* line 1079, ../../sass/units/member.scss */
  .hidd {
    display: none;
  }

  /* line 1082, ../../sass/units/member.scss */
  .b1_2_form {
    display: none;
  }

  /* line 1085, ../../sass/units/member.scss */
  .b1_2_mobile {
    display: block;
  }

  /* line 1088, ../../sass/units/member.scss */
  .register {
    width: 100%;
    margin: 0 auto;
    max-width: 670px;
    min-width: 320px;
  }

  /* line 1094, ../../sass/units/member.scss */
  .register_t1 dl dd h1 {
    margin-top: 20px;
    font-size: 18px;
  }

  /* line 1098, ../../sass/units/member.scss */
  .register_t1 dl dd .rule {
    font-size: 16px;
  }

  /* line 1101, ../../sass/units/member.scss */
  .register_t2 dl {
    width: 100%;
    padding-top: 12px;
    height: 54px;
    line-height: 54px;
    border: 0;
    margin-bottom: 6px;
  }

  /* line 1109, ../../sass/units/member.scss */
  .register_t1 dl dt {
    float: left;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 18px;
  }

  /* line 1116, ../../sass/units/member.scss */
  .register_t1 dl dd {
    float: left;
    width: 100%;
    border-bottom: none;
    padding-bottom: 18px;
    margin-bottom: 0px;
  }

  /* line 1123, ../../sass/units/member.scss */
  .register_t1 dl .m_dd {
    display: block;
    font-size: 14px;
  }

  /* line 1127, ../../sass/units/member.scss */
  .register_t1 dl .w_dd {
    display: none;
  }

  /* line 1130, ../../sass/units/member.scss */
  .register_column {
    border-bottom: 0;
  }

  /* line 1133, ../../sass/units/member.scss */
  .register_column2 {
    width: 80%;
    margin: 0 auto;
  }

  /* line 1137, ../../sass/units/member.scss */
  .register_t1 dl {
    padding-bottom: 0px;
    padding-top: 0;
  }

  /* line 1142, ../../sass/units/member.scss */
  .register_t1 .re_btn {
    margin-top: 0px;
    text-align: center;
  }

  /* line 1146, ../../sass/units/member.scss */
  .under {
    border-bottom: 0;
  }

  /* line 1150, ../../sass/units/member.scss */
  .register_t2 dl {
    width: 100%;
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    height: 44px;
  }

  /* line 1160, ../../sass/units/member.scss */
  .register_t2 dl dt, .register_t2 dl.w2 dt {
    width: 85px;
    padding-left: 0;
    border-right: 0;
    border: 0;
    text-align: left;
    line-height: 50px;
    height: 40px;
  }

  /* line 1169, ../../sass/units/member.scss */
  .register_t2 dl dd {
    padding: 0;
    width: 250px;
  }

  /* line 1173, ../../sass/units/member.scss */
  .register_t2 select {
    width: 55px;
    background: #fff;
    font-size: 14px;
    -webkit-appearance: none;
    background-repeat: no-repeat;
    background-image: url(../../images/g-drap.png);
    background-position: right 1rem center;
    font-family: "Helvetica Neue", Helvetica, Arial, Chinese, "微軟正黑體", sans-serif;
    color: #4d4d4d;
    padding: 10px 5px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding-left: 3%;
    border: 2px solid #ccc;
    width: 100px;
    margin-right: 2px;
  }

  /* line 1193, ../../sass/units/member.scss */
  .register_t2 .select dt {
    padding-left: 0px;
    width: 85px;
  }

  /* line 1197, ../../sass/units/member.scss */
  .register_t2 .w_y {
    display: none;
  }

  /* line 1200, ../../sass/units/member.scss */
  .register_t2 .statement {
    width: 90%;
  }

  /* line 1203, ../../sass/units/member.scss */
  .register_t2 h2 {
    padding-left: 0px;
  }

  /* line 1206, ../../sass/units/member.scss */
  .register_t2 .statement {
    width: 98%;
  }

  /* line 1209, ../../sass/units/member.scss */
  .register_t2 .w1 {
    width: 98%;
  }

  /* line 1212, ../../sass/units/member.scss */
  .register_t2 .w2 {
    width: 98%;
  }

  /* line 1215, ../../sass/units/member.scss */
  .register_t2 .w2 dd {
    padding: 0;
    width: 75%;
  }

  /* line 1219, ../../sass/units/member.scss */
  .register_t2 .w1 dd {
    padding: 0;
    width: 75%;
  }

  /* line 1224, ../../sass/units/member.scss */
  .register_t2 dl input {
    text-align: left;
    border: 2px solid #ccc;
    height: 45px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding-left: 8%;
  }

  /* line 1233, ../../sass/units/member.scss */
  .register_t2 .w1 input {
    width: 80%;
  }

  /* line 1236, ../../sass/units/member.scss */
  .register_t2 .w2 input {
    width: 98%;
  }

  /* line 1239, ../../sass/units/member.scss */
  .email_Verify h1 {
    line-height: 27px;
    font-size: 18px;
    text-align: left;
  }

  /* line 1244, ../../sass/units/member.scss */
  .email_Verify h2 {
    line-height: 22px;
    font-size: 16px;
    text-align: left;
  }

  /* line 1249, ../../sass/units/member.scss */
  .email_Verify .email {
    float: left;
    width: 100%;
  }

  /* line 1254, ../../sass/units/member.scss */
  .register_t2 .email_Verify .email_button {
    width: 120px;
    float: none;
    margin-left: 0 auto;
    margin-top: 20px;
  }

  /* line 1261, ../../sass/units/member.scss */
  .email_Verify .email_style {
    width: 99%;
  }

  /* line 1265, ../../sass/units/member.scss */
  .email_Verify .email {
    float: none;
    width: 99%;
    border: 0;
  }

  /* line 1271, ../../sass/units/member.scss */
  .email_Verify .email dd {
    width: 35%;
    float: left;
  }

  /* line 1275, ../../sass/units/member.scss */
  .email_Verify .email dt {
    border-right: 0;
  }

  /* line 1278, ../../sass/units/member.scss */
  .email_Verify .email dd {
    border-right: 0;
    width: 65%;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    border: 2px solid #ddd;
    margin-left: 2%;
  }

  /* line 1291, ../../sass/units/member.scss */
  .email_Verify .email input {
    width: 90%;
  }

  /* line 1295, ../../sass/units/member.scss */
  .phone_Verify h1 {
    text-align: left;
    font-size: 18px;
  }

  /* line 1299, ../../sass/units/member.scss */
  .phone_Verify .phone_num {
    width: 98%;
    margin-left: 0;
    margin-bottom: 10px;
  }

  /* line 1304, ../../sass/units/member.scss */
  .phone_Verify .phone_input {
    width: 95%;
  }

  /* line 1307, ../../sass/units/member.scss */
  .phone_Verify .erro {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
  }

  /* line 1314, ../../sass/units/member.scss */
  .phone_repeat .n1 {
    width: 98%;
    font-size: 16px;
  }

  /* line 1318, ../../sass/units/member.scss */
  .phone_repeat .n2 {
    width: 98%;
    font-size: 16px;
  }

  /* line 1322, ../../sass/units/member.scss */
  .register_t2 .area {
    float: none;
  }

  /* line 1325, ../../sass/units/member.scss */
  .phone_Verify .up {
    width: 99%;
    margin: 0 auto;
    float: none;
    text-align: center;
  }

  /* line 1331, ../../sass/units/member.scss */
  .register-nav ul .current {
    width: 100%;
    text-align: center;
  }

  /* line 1336, ../../sass/units/member.scss */
  .phone_Verify .up {
    color: #bd0d00;
    margin: 0 auto;
    float: none;
    text-align: center;
  }

  /* line 1342, ../../sass/units/member.scss */
  .phone_Verify .phone_input {
    margin-bottom: 20px;
  }

  /* line 1345, ../../sass/units/member.scss */
  .nav1, .nav2, .nav3, .nav4, .nav5 {
    width: 40%;
  }

  /* line 1348, ../../sass/units/member.scss */
  .nav_m {
    display: block;
  }

  /* line 1349, ../../sass/units/member.scss */
  .register_t2 .register_column3 {
    width: 80%;
    margin: 0 auto;
    margin-top: 28px;
  }

  /* line 1354, ../../sass/units/member.scss */
  .register_t2 .M_accounts {
    margin-top: 8px;
    color: #4d4d4d;
  }

  /* line 1358, ../../sass/units/member.scss */
  .register_t2 .M_accounts .a1 {
    float: left;
    width: 100px;
    padding-top: 17px;
    font-size: 14px;
  }

  /* line 1364, ../../sass/units/member.scss */
  .register_t2 .M_accounts .a2 {
    float: left;
    width: 60%;
  }

  /* line 1368, ../../sass/units/member.scss */
  .register_t2 .M_accounts .input_style {
    width: 100%;
    text-align: left;
    border: 2px solid #ccc;
    height: 45px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding-left: 8%;
    padding-top: 10px;
  }

  /* line 1380, ../../sass/units/member.scss */
  .register_t2 .M_accounts input {
    border: 0;
    width: 90%;
  }

  /* line 1384, ../../sass/units/member.scss */
  .register_t2 .pass_s2 {
    float: left;
    width: 60%;
  }

  /* line 1388, ../../sass/units/member.scss */
  .register_t2 .M-a {
    display: block;
  }

  /* line 1391, ../../sass/units/member.scss */
  .register_t2 .register_column2 .t5 {
    display: block;
  }

  /* line 1394, ../../sass/units/member.scss */
  .register_t2 .register_column2 .t5 dl {
    margin-top: 5px;
  }

  /* line 1398, ../../sass/units/member.scss */
  .register_t2 .register_column2 .t5 dl dd {
    color: #bd0d00;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
  }

  /* line 1404, ../../sass/units/member.scss */
  .register_t2 .tip {
    text-align: left;
    width: 100%;
    font-size: 14px;
  }

  /* line 1409, ../../sass/units/member.scss */
  .nav1, .nav2, .nav3, .nav4, .nav5 {
    width: 20%;
  }

  /* line 1415, ../../sass/units/member.scss */
  .vedio_play {
    width: 100%;
  }

  /* line 1418, ../../sass/units/member.scss */
  .status_upload {
    width: 60%;
  }

  /* line 1422, ../../sass/units/member.scss */
  .status_upload .p4 {
    width: 38%;
  }

  /* line 1424, ../../sass/units/member.scss */
  .status_upload .p1 {
    width: 25%;
  }

  /* line 1426, ../../sass/units/member.scss */
  .status_upload .p5 {
    width: 100%;
  }

  /* line 1429, ../../sass/units/member.scss */
  .vedio_play img {
    max-width: 95%;
  }

  /* line 1432, ../../sass/units/member.scss */
  .status_photo {
    width: 98%;
  }

  /* line 1435, ../../sass/units/member.scss */
  .status_photo .p1 {
    float: none;
    width: 100%;
    border: 0;
    text-align: center;
  }

  /* line 1441, ../../sass/units/member.scss */
  .status_photo .p2 {
    float: none;
    width: 100%;
    text-align: center;
    margin-left: 0;
  }

  /* line 1447, ../../sass/units/member.scss */
  .status_photo .p2 img {
    min-width: 90%;
  }

  /* line 1450, ../../sass/units/member.scss */
  .M-hide {
    display: none;
  }

  /* line 1454, ../../sass/units/member.scss */
  .status_photo .p3 {
    margin: 0 auto;
    float: none;
    width: 250px;
    margin-top: 10px;
  }

  /* line 1460, ../../sass/units/member.scss */
  .status_photo .p3 .button {
    float: left;
    width: 120px;
    margin-top: 10px;
    margin-right: 2%;
  }

  /* line 1467, ../../sass/units/member.scss */
  .status_photo p {
    width: 100%;
    text-align: left;
    margin-left: 3%;
  }

  /* line 1473, ../../sass/units/member.scss */
  .status_txt dt {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 19px;
    margin-bottom: 19px;
  }

  /* line 1480, ../../sass/units/member.scss */
  .status_txt dd {
    width: 100%;
  }

  /* line 1483, ../../sass/units/member.scss */
  .register_status {
    width: 95%;
    border: 0;
  }

  /* line 1487, ../../sass/units/member.scss */
  .status_btn {
    width: 180px;
    margin: 0 auto;
    margin-top: 30px;
  }

  /* line 1492, ../../sass/units/member.scss */
  .email_b {
    margin: 0 auto;
  }

  /* line 1495, ../../sass/units/member.scss */
  .status_txt h2 {
    font-size: 14px;
  }

  /* line 1498, ../../sass/units/member.scss */
  .line {
    width: 40px;
    height: 2px;
    margin: 0 auto;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
  }

  /* line 1505, ../../sass/units/member.scss */
  .W-hide {
    display: block;
  }

  /* line 1508, ../../sass/units/member.scss */
  .status_brank {
    width: 75%;
  }

  /* line 1510, ../../sass/units/member.scss */
  .inp_left01 {
    width: 38%;
  }

  /* line 1513, ../../sass/units/member.scss */
  .b4_select .inp_right01 {
    text-indent: 38%;
  }

  /* line 1515, ../../sass/units/member.scss */
  .status_txt h1, .status_t1 {
    font-size: 18px;
  }

  /* line 1518, ../../sass/units/member.scss */
  .status_txt h2, .status_txt h3, .status_txt h4 {
    font-size: 16px;
  }

  /* line 1521, ../../sass/units/member.scss */
  .Menber_nav {
    width: 90%;
  }

  /* line 1524, ../../sass/units/member.scss */
  .thank {
    font-size: 18px;
    width: 98%;
  }

  /* line 1529, ../../sass/units/member.scss */
  .register_t2 .b1_2_mobile .year {
    float: left;
    margin: 0;
    width: 20%;
  }

  /* line 1535, ../../sass/units/member.scss */
  .register_t2 .month {
    float: left;
    width: 80%;
  }

  /* line 1541, ../../sass/units/member.scss */
  .register_t2 .month dd {
    margin-right: 1%;
    float: left;
    width: 30%;
  }

  /* line 1546, ../../sass/units/member.scss */
  .register_t2 .month dd select {
    width: 100%;
  }
}
@media screen and (max-width: 520px), screen and (max-device-width: 520px) {
  /* line 1552, ../../sass/units/member.scss */
  .register_t2 .register_column3 {
    width: 85%;
  }

  /* line 1555, ../../sass/units/member.scss */
  .register_t2 .register_column2 {
    width: 85%;
  }

  /* line 1558, ../../sass/units/member.scss */
  .M_accounts .a2 {
    float: left;
    width: 45%;
  }

  /* line 1562, ../../sass/units/member.scss */
  .register_t1 dl dd .txt1 {
    font-size: 14px;
  }

  /* line 1565, ../../sass/units/member.scss */
  .register_t2 .acc {
    width: 99%;
  }

  /* line 1568, ../../sass/units/member.scss */
  .register_t2 .w2 dd {
    width: 70%;
  }

  /* line 1571, ../../sass/units/member.scss */
  .register_t2 .w1 dd {
    width: 70%;
  }

  /* line 1575, ../../sass/units/member.scss */
  .register_t2 .w1 input {
    width: 98%;
  }

  /* line 1579, ../../sass/units/member.scss */
  .register_t2 .pass_s2 {
    float: left;
    width: 70%;
  }

  /* line 1583, ../../sass/units/member.scss */
  .register_t2 .M-y dt {
    width: 90px;
  }

  /* line 1586, ../../sass/units/member.scss */
  .register_t2 .M-y dd {
    width: 60%;
  }

  /* line 1589, ../../sass/units/member.scss */
  .register_t2 .M-y select {
    width: 28%;
  }

  /* line 1592, ../../sass/units/member.scss */
  .status_upload {
    width: 80%;
  }

  /* line 1595, ../../sass/units/member.scss */
  .status_brank {
    width: 80%;
  }

  /* line 1597, ../../sass/units/member.scss */
  .b4_select .inp_right01 {
    text-indent: 36%;
  }
}
@media screen and (max-width: 480px), screen and (max-device-width: 480px) {
  /* line 1603, ../../sass/units/member.scss */
  .register_t2 .register_column3 {
    width: 95%;
  }

  /* line 1606, ../../sass/units/member.scss */
  .register_t2 .register_column2 {
    width: 95%;
  }

  /* line 1610, ../../sass/units/member.scss */
  .register_t2 dl dd {
    padding: 0;
    width: 205px;
  }

  /* line 1616, ../../sass/units/member.scss */
  .register_t2 .M-y {
    display: block;
    width: 320px;
  }

  /* line 1620, ../../sass/units/member.scss */
  .register_t2 .M-y dt {
    width: 90px;
  }

  /* line 1623, ../../sass/units/member.scss */
  .register_t2 .M-y dd {
    width: 70%;
  }

  /* line 1626, ../../sass/units/member.scss */
  .register_t2 .M-y select {
    width: 32%;
    float: left;
  }

  /* line 1630, ../../sass/units/member.scss */
  .register_t2 .pass_s2 {
    width: 60%;
  }

  /* line 1634, ../../sass/units/member.scss */
  .register_t2 .w2 dd {
    width: 65%;
  }

  /* line 1637, ../../sass/units/member.scss */
  .register_t2 .w1 dd {
    width: 65%;
  }

  /* line 1642, ../../sass/units/member.scss */
  .status_brank {
    width: 90%;
  }

  /* line 1644, ../../sass/units/member.scss */
  .b4_select .inp_right01 {
    text-indent: 36%;
  }

  /* line 1646, ../../sass/units/member.scss */
  .register_t2 .b1_2_mobile .year {
    float: left;
    margin: 0;
    width: 22%;
  }

  /* line 1652, ../../sass/units/member.scss */
  .register_t2 .month {
    float: left;
    width: 75%;
  }

  /* line 1658, ../../sass/units/member.scss */
  .register_t2 .month dd {
    float: left;
    width: 30%;
  }

  /* line 1664, ../../sass/units/member.scss */
  .register_t2 .month dd select {
    width: 100%;
  }
}
@media screen and (max-width: 380px), screen and (max-device-width: 380px) {
  /* line 1669, ../../sass/units/member.scss */
  .register_t2 .register_column3 {
    width: 98%;
    margin: 0 auto;
  }

  /* line 1673, ../../sass/units/member.scss */
  .register_t2 dl {
    width: 100%;
  }

  /* line 1677, ../../sass/units/member.scss */
  .register_t2 .register_column2 {
    width: 98%;
    font-size: 14px;
  }

  /* line 1681, ../../sass/units/member.scss */
  .register_t2 dl dt {
    font-size: 14px;
    width: 70px;
  }

  /* line 1685, ../../sass/units/member.scss */
  .register_t2 .M-y dt {
    width: 80px;
    float: left;
    padding-left: 0;
    font-size: 14px;
  }

  /* line 1691, ../../sass/units/member.scss */
  .register_t2 .M-y dd {
    width: 70%;
  }

  /* line 1694, ../../sass/units/member.scss */
  .register_t2 .M-y select {
    width: 65px;
  }

  /* line 1697, ../../sass/units/member.scss */
  .register_t2 .w1 {
    width: 100%;
  }

  /* line 1700, ../../sass/units/member.scss */
  .register_t2 .w2 {
    width: 100%;
  }

  /* line 1704, ../../sass/units/member.scss */
  .register_t2 .w2 dd {
    width: 178px;
  }

  /* line 1707, ../../sass/units/member.scss */
  .register_t2 .w1 dd {
    width: 178px;
  }

  /* line 1710, ../../sass/units/member.scss */
  .register_t2 dl dt, .register_t2 dl.w2 dt {
    width: 80px;
  }

  /* line 1713, ../../sass/units/member.scss */
  .register_t2 .w1 input {
    width: 98%;
  }

  /* line 1717, ../../sass/units/member.scss */
  .home_btn {
    width: 100%;
    text-align: center;
  }

  /* line 1722, ../../sass/units/member.scss */
  .status_brank {
    width: 100%;
  }

  /* line 1724, ../../sass/units/member.scss */
  .inp_left01 {
    width: 40%;
  }

  /* line 1727, ../../sass/units/member.scss */
  .b4_select .inp_right01 {
    text-indent: 40%;
  }

  /* line 1729, ../../sass/units/member.scss */
  .register_t2 .b1_2_mobile .year {
    float: left;
    margin: 0;
    width: 27%;
  }

  /* line 1735, ../../sass/units/member.scss */
  .register_t2 .month {
    float: left;
    width: 72%;
  }

  /* line 1741, ../../sass/units/member.scss */
  .register_t2 .month dd {
    float: left;
    width: 30%;
  }

  /* line 1747, ../../sass/units/member.scss */
  .register_t2 .month dd select {
    width: 100%;
  }
}
/* line 1752, ../../sass/units/member.scss */
.style-aligncenter .form-warning-text {
  text-align: center;
}

/*# sourceMappingURL=member.css.map */
