@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 12, ../../sass/_initial.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 33, ../../sass/_initial.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 37, ../../sass/_initial.scss */
body {
  line-height: 1;
}

/* line 40, ../../sass/_initial.scss */
ol, ul {
  list-style: none;
}

/* line 43, ../../sass/_initial.scss */
blockquote, q {
  quotes: none;
}

/* line 46, ../../sass/_initial.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 51, ../../sass/_initial.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 56, ../../sass/_initial.scss */
a.style-normal {
  text-decoration: underline;
  color: #267cab;
}

/* line 60, ../../sass/_initial.scss */
a.style-white {
  text-decoration: none;
  color: white;
}

/* line 64, ../../sass/_initial.scss */
textarea:focus, input:focus {
  outline: 0;
}

/* line 67, ../../sass/_initial.scss */
.style-aligncenter {
  text-align: center;
}

/* line 70, ../../sass/_initial.scss */
.on-desk-block {
  display: block;
}
@media (max-width: 767px) {
  /* line 70, ../../sass/_initial.scss */
  .on-desk-block {
    display: none;
  }
}

/* line 76, ../../sass/_initial.scss */
.on-mobile-block {
  display: none;
}
@media (max-width: 767px) {
  /* line 76, ../../sass/_initial.scss */
  .on-mobile-block {
    display: block;
  }
}

/* copy from navy profile.css */
/* line 5, ../../sass/units/mypage.scss */
.section-proflie-banner {
  background-color: #f7f7f7;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
  -webkit-transition: max-height;
  -o-transition: max-height;
  transition: max-height;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
@media (max-width: 767px) {
  /* line 15, ../../sass/units/mypage.scss */
  .section-proflie-banner.is-active .cb-list3 li:first-child {
    background: url("../../images/icon-select-orange-up.png") right center no-repeat;
  }
}
@media (max-width: 767px) {
  /* line 14, ../../sass/units/mypage.scss */
  .section-proflie-banner.is-active {
    max-height: 1000px;
  }
}
@media (max-width: 767px) {
  /* line 5, ../../sass/units/mypage.scss */
  .section-proflie-banner {
    max-height: 60px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

/* line 30, ../../sass/units/mypage.scss */
.profile-cont table, .profile-cont td, .profile-cont th, .profile-cont tr {
  text-align: left;
}

/* line 33, ../../sass/units/mypage.scss */
.cb-list3 {
  text-align: center;
  letter-spacing: 2px;
  font-weight: 400;
}

/* line 41, ../../sass/units/mypage.scss */
.cb-list3 li {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  display: inline;
  line-height: 1;
}
@media (max-width: 767px) {
  /* line 41, ../../sass/units/mypage.scss */
  .cb-list3 li {
    padding-top: 0;
    padding-bottom: 0;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #eee;
  }
}
/* line 58, ../../sass/units/mypage.scss */
.cb-list3 li:first-child {
  display: none;
  font-size: 20px;
  color: #ff8c2d;
}
/* line 62, ../../sass/units/mypage.scss */
.cb-list3 li:first-child a {
  color: #ff8c2d;
}
@media (max-width: 767px) {
  /* line 58, ../../sass/units/mypage.scss */
  .cb-list3 li:first-child {
    display: block;
    background: url("../../images/icon-select-orange.png") right center no-repeat;
  }
}

/* line 71, ../../sass/units/mypage.scss */
.cb-list3 a {
  font-size: 20px;
  color: #267cab;
  text-decoration: none;
}
@media (max-width: 767px) {
  /* line 71, ../../sass/units/mypage.scss */
  .cb-list3 a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

/* line 81, ../../sass/units/mypage.scss */
.cb-list3 a:hover, .cb-list3 .is-active {
  color: #ff8c2d;
}

@media (max-width: 767px) {
  /* line 85, ../../sass/units/mypage.scss */
  .cb-list3 ul li {
    display: block;
  }
}
@media (max-width: 479px) {
  /* line 90, ../../sass/units/mypage.scss */
  .cb-list3 li {
    width: 100%;
    text-align: center;
    margin: 0px auto;
  }
}
/* line 97, ../../sass/units/mypage.scss */
.profile-cont {
  width: 1000px;
  height: 100%;
  margin: 50px auto 0px auto;
  padding: 10px;
}

/* line 104, ../../sass/units/mypage.scss */
.profile-cont > div {
  height: 100%;
  padding-bottom: 6px;
  font-weight: 300;
}

/* line 110, ../../sass/units/mypage.scss */
.profile-cont-l {
  border-right: 1px solid #ddd;
  float: left;
  width: 48%;
  padding-right: 60px;
}

/* line 117, ../../sass/units/mypage.scss */
.profile-cont-r {
  overflow: hidden;
  padding-left: 60px;
  line-height: 1.6;
}

@media (max-width: 999px) {
  /* line 125, ../../sass/units/mypage.scss */
  .profile-cont {
    width: 100%;
  }

  /* line 129, ../../sass/units/mypage.scss */
  .profile-cont-l {
    padding-left: 5px;
    padding-right: 40px;
  }

  /* line 134, ../../sass/units/mypage.scss */
  .profile-cont-r {
    padding-left: 40px;
    padding-right: 35px;
  }
}
@media (max-width: 767px) {
  /* line 142, ../../sass/units/mypage.scss */
  .profile-cont {
    width: 100%;
  }

  /* line 146, ../../sass/units/mypage.scss */
  .profile-cont-l {
    width: 100%;
    border: 0px;
    padding: 0px 30px;
    margin-bottom: 35px;
  }

  /* line 153, ../../sass/units/mypage.scss */
  .profile-cont-r {
    width: 100%;
    padding: 0px 30px;
  }

  /* line 158, ../../sass/units/mypage.scss */
  .basic-info-box.txtcenter {
    text-align: center;
  }
}
@media (max-width: 469px) {
  /* line 165, ../../sass/units/mypage.scss */
  .profile-cont {
    width: 100%;
  }

  /* line 169, ../../sass/units/mypage.scss */
  .profile-cont-l {
    width: 100%;
    border: 0px;
    padding: 0px 13px;
    margin-bottom: 35px;
  }

  /* line 176, ../../sass/units/mypage.scss */
  .profile-cont-r {
    width: 100%;
    padding: 0px 13px;
  }
}
@media (max-width: 320px) {
  /* line 187, ../../sass/units/mypage.scss */
  .profile-cont-l {
    width: 300px;
    padding: 0px 10px;
  }

  /* line 192, ../../sass/units/mypage.scss */
  .profile-cont-r {
    width: 300px;
    padding: 0px 10px;
  }
}
/* line 202, ../../sass/units/mypage.scss */
.profile-title {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 30px;
  font-size: 21px;
  color: #267cab;
  font-weight: 300;
}

/* line 211, ../../sass/units/mypage.scss */
.profile-title2 {
  border-bottom: 1px solid #ddd;
  padding: 30px;
  margin-top: -30px;
  font-size: 21px;
  color: #267cab;
  font-weight: 300;
}

/* line 220, ../../sass/units/mypage.scss */
.profile-cont img {
  vertical-align: middle;
  padding: 0px 5px 8px 0px;
  margin-top: 5px;
}

/* line 227, ../../sass/units/mypage.scss */
.basic-info-box, .basic-info-box.rts {
  padding: 30px 0px 0px 30px;
  font-size: 18px;
  line-height: 32px;
  color: #4d4d4d;
  /*text-align:center;*/
}

@media (max-width: 480px) {
  /* line 238, ../../sass/units/mypage.scss */
  .basic-info-box {
    padding-left: 0px;
    padding-right: 0px;
  }

  /* line 243, ../../sass/units/mypage.scss */
  .basic-info-box.rts {
    padding-left: 12px;
    padding-right: 12px;
  }

  /* line 248, ../../sass/units/mypage.scss */
  .profile-title {
    text-align: center;
  }
}
/* line 253, ../../sass/units/mypage.scss */
.basic-info-box p {
  font-size: 15px;
  line-height: 24px;
  padding: 5px 0px;
}

/* line 259, ../../sass/units/mypage.scss */
.basic-info-box p.tr {
  color: #bd0d00;
  padding-left: 20px;
}

/* line 264, ../../sass/units/mypage.scss */
.basic-info-box a {
  color: #267cab;
  text-decoration: underline;
}
/* line 267, ../../sass/units/mypage.scss */
.basic-info-box a.style-white {
  text-decoration: none;
  color: white;
}

/* line 272, ../../sass/units/mypage.scss */
.profile-obtn {
  display: inline-block;
  font-size: 20px;
  line-height: 2.5;
  padding-left: 2.5em;
  padding-right: 2.5em;
  margin-bottom: 10px;
  font-weight: 300;
  color: white;
  background-color: #ed842f;
  cursor: pointer;
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
/* line 289, ../../sass/units/mypage.scss */
.profile-obtn.style-gray {
  color: #4d4d4d;
  background-color: #ddd;
}
/* line 292, ../../sass/units/mypage.scss */
.profile-obtn.style-gray a {
  color: #4d4d4d;
}
/* line 296, ../../sass/units/mypage.scss */
.profile-obtn a {
  text-decoration: none;
}

/* line 301, ../../sass/units/mypage.scss */
.style-blue {
  color: #267cab;
}

/* line 304, ../../sass/units/mypage.scss */
.style-orange {
  color: #ff8c2d;
}

/* line 307, ../../sass/units/mypage.scss */
.txt-alert {
  font-size: 18px;
  color: #bd0d00;
  padding-top: 24px;
}

/*會員專區大標*/
/* line 313, ../../sass/units/mypage.scss */
.profile-item-title {
  text-align: center;
  margin-bottom: 30px;
}

/* line 318, ../../sass/units/mypage.scss */
.profile-scene-title {
  font-size: 35px;
  color: #267cab;
  text-align: center;
  padding-top: 50px;
  line-height: 1.5;
  font-weight: normal;
  letter-spacing: 3px;
}

/* line 328, ../../sass/units/mypage.scss */
.profile-icon-underline {
  display: inline-block;
  background-color: #53d6dd;
  width: 100px;
  height: 2px;
  magin: 0px auto;
}

/*table 區塊*/
/* line 339, ../../sass/units/mypage.scss */
.corner2 {
  margin: 20px 0px 0px 0px;
  border-radius: 10px;
  background-color: #f1f1f1;
  text-align: center;
  padding: 28px;
  line-height: 22px;
  color: #0f3b4c;
  font-size: 15px;
}

/* line 350, ../../sass/units/mypage.scss */
.corner2 footer {
  color: #4d4d4d;
  font-size: 14px;
  line-height: 2.5;
  text-align: right;
  padding-top: 10px;
}

/* line 358, ../../sass/units/mypage.scss */
.corner2 caption {
  padding-bottom: 28px;
}

/* line 362, ../../sass/units/mypage.scss */
.corner2 th {
  font-weight: 300;
  padding: 0px 3px 8px 30px;
}

/* line 367, ../../sass/units/mypage.scss */
.pt2-scroll {
  height: 434px;
  overflow: scroll;
}

/* line 373, ../../sass/units/mypage.scss */
.pt2 td, .pt3 td {
  border-right: 2px solid #e5e5e5;
  border-left: 2px solid #e5e5e5;
  background: #fff;
  padding: 10px 25px 8px 25px;
  text-align: left;
}

/* line 381, ../../sass/units/mypage.scss */
.pt2 td.gb {
  background: transparent;
  padding: 25px;
}

/* line 386, ../../sass/units/mypage.scss */
.pt2 tr, .pt3 tr {
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
}

/* line 391, ../../sass/units/mypage.scss */
.pt3 th {
  background: transparent;
  padding: 20px;
  text-align: center;
}

/* line 397, ../../sass/units/mypage.scss */
.pt3 td {
  text-align: center;
  padding: 5px;
}

/* line 402, ../../sass/units/mypage.scss */
.pt5 td {
  text-align: center;
  padding: 10px;
}

/* line 407, ../../sass/units/mypage.scss */
.pt3-scroll {
  overflow: scroll;
}

@media (max-width: 480px) {
  /* line 414, ../../sass/units/mypage.scss */
  .corner2 {
    padding: 15px 15px 20px 15px;
  }

  /* line 417, ../../sass/units/mypage.scss */
  .corner2 caption {
    padding-bottom: 15px;
  }

  /* line 420, ../../sass/units/mypage.scss */
  .corner2 th {
    font-weight: 300;
    padding: 0px 15px 8px 15px;
  }

  /* line 425, ../../sass/units/mypage.scss */
  .pt2 td {
    padding: 10px 18px 8px 18px;
  }

  /* line 429, ../../sass/units/mypage.scss */
  .pt3 th {
    padding: 15px;
  }
}
/*橢圓形下拉式選單*/
/* line 441, ../../sass/units/mypage.scss */
.rt-list {
  text-align: center;
  margin-bottom: 25px;
}

/* line 446, ../../sass/units/mypage.scss */
.rt-list > ul {
  display: inline-block;
}

/* line 451, ../../sass/units/mypage.scss */
.rt-list > ul > li {
  display: inline-block;
  height: 32px;
  vertical-align: middle;
  line-height: 32px;
}

/* line 458, ../../sass/units/mypage.scss */
.rt-list li.title {
  display: inline-block;
  font-size: 20px;
  letter-spacing: 2px;
}

/* line 464, ../../sass/units/mypage.scss */
.rt-list li a {
  color: #FFF;
  text-decoration: none;
}

/* line 469, ../../sass/units/mypage.scss */
.rt-list .gbtn {
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  height: 32px;
  color: white;
  background-color: #777;
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px13px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 70px;
  margin-left: 0.5em;
}

@media (max-width: 690px) {
  /* line 486, ../../sass/units/mypage.scss */
  .rt-list li.gbtn {
    width: 80px;
    padding: 2px 10px 8px 15px;
  }
}
/* line 492, ../../sass/units/mypage.scss */
.p-gbtn {
  padding: 5px 25px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border: 2px solid #777;
  border-radius: 30px;
  letter-spacing: 1px;
  color: white;
  background-color: #777;
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px13px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 240px;
  margin-top: 10px;
}

/* line 509, ../../sass/units/mypage.scss */
.corner-foot {
  color: #4d4d4d;
  font-size: 14px;
  line-height: 2.5;
  text-align: right;
  padding-top: 10px;
}

/*# sourceMappingURL=mypage.css.map */
