@import "../initial";

/* copy from navy profile.css */
//mypage tab
.section-proflie-banner {
  background-color: #f7f7f7;
  // padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
  @include transition(max-height);
  @include transition-duration(.5s);
  @include transition-timing-function(ease);
  &.is-active {
    .cb-list3 li:first-child {
      @media (max-width: 767px) {
        background: url("/assets/images/icon-select-orange-up.png") right center no-repeat;
      }
    }
    @media (max-width: 767px) {
      max-height: 1000px;
    }
  }
  @media (max-width: 767px) {
    max-height: 60px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.profile-cont table,.profile-cont td,.profile-cont th,.profile-cont tr{
  text-align:left;
}
.cb-list3 {
  text-align: center;
  letter-spacing: 2px;
  font-weight: 400;
}
.cb-list3 ul {
  // display: inline;
}
.cb-list3 li {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  display: inline;
  line-height: 1;
  @media (max-width: 767px) {
    padding-top: 0;
    padding-bottom: 0;
    height: 60px;
    line-height: 60px;
    // background-color: #eee;
    border-bottom: 1px solid #eee; 
  }
  &:first-child{
    display: none;
    font-size: 20px;
    color:#ff8c2d;
    a{
      color:#ff8c2d;
    }
    @media (max-width: 767px) {
      display: block;
      background: url('/assets/images/icon-select-orange.png') right center no-repeat;
    }
  }
}
.cb-list3 a {
  font-size:20px;
  color:#267cab;
  text-decoration:none;
    @media (max-width: 767px) {
      display: block;
      width: 100%;
      height: 100%;
    }
}
.cb-list3 a:hover,.cb-list3 .is-active{
  color:#ff8c2d;
} 
@media (max-width: 767px) {
  .cb-list3 ul li {
    display: block;
  }
}
@media (max-width: 479px) {
  .cb-list3 li {
    width: 100%;
    text-align:center;
    margin: 0px auto;
  }
}
//mypage index
.profile-cont {
  width: 1000px;        
  height: 100%;
  margin: 50px auto 0px auto;
  padding:10px;
}

.profile-cont>div{ 
  height: 100%;
  padding-bottom:6px;
  font-weight:300;
}

.profile-cont-l { 
  border-right:1px solid #ddd;
  float: left; 
  width:48%;  
  padding-right:60px;
}

.profile-cont-r {
  overflow:hidden;
  padding-left:60px;
  line-height: 1.6;
}

@media (max-width: 999px) {

  .profile-cont{
    width: 100%;           
  }
  
  .profile-cont-l { 
    padding-left:5px;
    padding-right:40px;
  }
  
  .profile-cont-r {
    padding-left:40px;
    padding-right:35px; 
  }
}

@media (max-width: 767px) {

  .profile-cont{
    width: 100%;           
  }
  
  .profile-cont-l { 
    width:100%;
    border:0px;
    padding:0px 30px;
    margin-bottom:35px;
  }
  
  .profile-cont-r {
    width:100%;
    padding:0px 30px;

  } 
  .basic-info-box.txtcenter{
    text-align:center;
  } 
}

@media (max-width: 469px) {

  .profile-cont{
    width: 100%;           
  }
  
  .profile-cont-l { 
    width:100%;
    border:0px;
    padding:0px 13px;
    margin-bottom:35px;
  }
  
  .profile-cont-r {
    width:100%;
    padding:0px 13px;

  } 
  
}

@media (max-width: 320px) {


  .profile-cont-l {
    width:300px; 
    padding:0px 10px;
  }
  
  .profile-cont-r {
    width:300px;
    padding:0px 10px;

  } 
  
}



.profile-title{
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  padding:30px;
  font-size:21px;
  color:#267cab;
  font-weight:300;
}

.profile-title2{
  border-bottom:1px solid #ddd;
  padding:30px;
  margin-top:-30px;
  font-size:21px;
  color:#267cab;
  font-weight:300;
}

.profile-cont img {
  vertical-align:middle;
  padding:0px 5px 8px 0px;
  margin-top:5px;
}


.basic-info-box ,.basic-info-box.rts{
  padding:30px 0px 0px 30px;
  font-size:18px;
  line-height:32px;
  color:#4d4d4d;
  /*text-align:center;*/
}



@media (max-width: 480px) {
  .basic-info-box {
    padding-left:0px;
    padding-right:0px;

  } 
  .basic-info-box.rts {
    padding-left:12px;
    padding-right:12px;

  } 
  .profile-title{
    text-align:center;

  } 
}
.basic-info-box p{
  font-size:15px;
  line-height:24px;
  padding:5px 0px;
}

.basic-info-box p.tr{
  color:#bd0d00;
  padding-left:20px;
}

.basic-info-box a {
  color:#267cab;
  text-decoration:underline;
  &.style-white{
  text-decoration: none;
  color: white;
  }
}
.profile-obtn {
  display: inline-block;
  font-size: 20px;
  line-height: 2.5;
  padding-left: 2.5em;
  padding-right: 2.5em;
  margin-bottom: 10px;
  font-weight: 300;
  color: white;
  background-color: #ed842f;
  cursor: pointer;
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  &.style-gray{
    color: #4d4d4d;
    background-color: #ddd;
    a{
      color: #4d4d4d;
    }
  }
  a{
    text-decoration: none;
  }
}

.style-blue{
  color:#267cab;
}
.style-orange{
  color:#ff8c2d;
}
.txt-alert{
  font-size:18px;
  color:#bd0d00;
  padding-top:24px;
}
/*會員專區大標*/
.profile-item-title{
  text-align:center;
  margin-bottom:30px;
}

.profile-scene-title {
  font-size: 35px;
  color: #267cab;
  text-align: center;
  padding-top: 50px;
  line-height: 1.5;
  font-weight: normal;
  letter-spacing: 3px
}

.profile-icon-underline {
  display: inline-block;
  background-color: #53d6dd;
  width: 100px;
  height: 2px;
  magin:0px auto;
}

//myright

/*table 區塊*/
.corner2 {
  margin: 20px 0px 0px 0px;
  border-radius: 10px;
  background-color: #f1f1f1;
  text-align: center;
  padding: 28px;
  line-height:22px; 
  color:#0f3b4c;
  font-size:15px;
}

.corner2 footer{
  color:#4d4d4d;
  font-size:14px;
  line-height:2.5;
  text-align:right;
  padding-top:10px;
}

.corner2 caption{
  padding-bottom:28px;
}

.corner2 th {
  font-weight:300;
  padding:0px 3px 8px 30px;
}

.pt2-scroll{      
  height: 434px;
  overflow: scroll; 
  
}

.pt2 td,.pt3 td {
 border-right:2px solid #e5e5e5;  
 border-left:2px solid #e5e5e5; 
 background:#fff;
 padding:10px 25px 8px 25px;
 text-align:left;
} 

.pt2 td.gb{
  background:transparent;
  padding:25px;
}

.pt2 tr,.pt3 tr {
 border-top:2px solid #e5e5e5;  
 border-bottom:2px solid #e5e5e5; 
} 

.pt3 th{
  background:transparent;
  padding:20px;
  text-align:center;
}

.pt3 td{
  text-align:center;
  padding:5px;
} 

.pt5 td{
  text-align:center;
  padding:10px;
}   

.pt3-scroll{      
      // height: 140px;
      overflow: scroll; 

    } 
    
    @media (max-width: 480px) {
      .corner2 {
        padding:15px 15px 20px 15px;;
      }
      .corner2 caption{
        padding-bottom:15px;
      }
      .corner2 th {
        font-weight:300;
        padding:0px 15px 8px 15px;
      }

      .pt2 td {
       padding:10px 18px 8px 18px;
     } 

     .pt3 th{  
      padding:15px; 
    }

    .pt3-scroll{      
      // height: 160px;
    } 

  }
/*橢圓形下拉式選單*/


.rt-list {
  text-align: center;
  margin-bottom:25px;
}

.rt-list>ul {
 display:inline-block;
}


.rt-list>ul>li {
  display:inline-block;
  height: 32px;
  vertical-align: middle;
  line-height: 32px;
}

.rt-list li.title {
  display:inline-block; 
  font-size:20px;
  letter-spacing: 2px;
}

.rt-list li a {
  color: #FFF;
  text-decoration: none;
}

.rt-list .gbtn {
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  height: 32px;
  color: white;
  background-color: #777;
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px13px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 70px;
  margin-left: 0.5em;
}
@media (max-width: 690px) {
  .rt-list  li {
  }
  .rt-list li.gbtn {
    width: 80px;
    padding: 2px 10px 8px 15px;
  }  
}

.p-gbtn {
  padding: 5px 25px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border: 2px solid #777;
  border-radius: 30px;
  letter-spacing:1px;
  color: white;
  background-color: #777;
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px13px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 240px;
  margin-top: 10px;
}

.corner-foot{
    color: #4d4d4d;
    font-size: 14px;
    line-height: 2.5;
    text-align: right;
    padding-top: 10px;
}