@import "../initial";
/*GLOBAL2.CSS*/
.tcbox-content{
    width:100%;
    height:300px;
  }
/*new add from navy*/
.section-banner-1 {
  margin-top: 70px;
  height: 150px;
  color: white;
  text-align: center;
  background-color: #ccc;
}
@media (max-width: 767px) {
  .section-banner-1 {
    margin-top: 55px;
  height:80px;
  }
}
.section-banner-1 h2 {
  margin-top: 0;
  padding-top: 1.1em;
  font-size: 40px;
  font-weight: 300;
  letter-spacing:5px;
}

@media (max-width: 767px) {
  .sub-bbg h2 {
    margin-top: 0;
      padding-top: 0.8em;
    font-size: 22px;
    letter-spacing:2px;
  }
}
.section-banner-1 h3 {
  font-size: 18px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing:1px;
}
@media (max-width: 767px) {
  .sub-bbg h3 {
    font-size: 14px;
  }
}
.sub-bbg{
  height:150px;
  background-position: center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
@media (max-width: 767px) {
  .sub-bbg{
  height:80px;
  }
}
@media (max-width: 767px) { 
  .icon-x {
    height:18px;
  width:18px;
  margin-top:7px;
  }
}
@media (max-width: 767px) { 
  .icon-list {
    height:18px;
  width:18px;
  margin-top:7px;
  
  }
}
/*圓形圖標 yoyo moved to _button.css*/
/*橢圓形按鈕 yoyo moved to _button.css*/

.section-content3 {
  background-color: white;
  text-align:center;
  padding:50px 0px;
}
/*END OF GLOBAL2.CSS*/


/*COMBINATION.CSS*/
.cb-menu {
  text-align: center;
  background-color: #f7f7f7;
  padding-top:10px;
  padding-bottom:25px;
  &.style-white{
    background-color: white;
  }
}
/*橢圓形按鈕*/
/*whit bg + gray outline*/
.cb-btn-r1 {
  display: inline-block;
  padding:0.5em 1.5em;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border: 2px solid #ddd;
  border-radius: 33px;
  height:43px;
  background-color: #fff;
  min-width: 240px;
  margin-top:20px;
}
/*cb menu ul setting*/
.cb-list {
    text-align: center;
  letter-spacing:2px;
  font-weight:200;
}
.cb-list ul {
  display: inline-block;
  }
.cb-list li {
  padding:7px 20px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border: 2px solid #ddd;
  border-radius: 33px;
  height:43px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(left, #fff 20%, #fff 80%);
  background-image: -o-linear-gradient(left, #fff 20%, #fff 80%);
  background-image: linear-gradient(to right, #fff 20%, #fff 80%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFED842F', endColorstr='#FFD88E38', GradientType=1);
  cursor: pointer;
  width: 240px;
  margin-top:10px;

  }
.cb-list li.obtn {
  padding:0.7em 1.5em;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 33px;
  border: 2px solid #ed842f;
  height:43px;
  color: white;
  background-color: #ed842f;
  background-image: -webkit-linear-gradient(left, #ed842f 20%, #d88e38 80%);
  background-image: -o-linear-gradient(left, #ed842f 20%, #d88e38 80%);
  background-image: linear-gradient(to right, #ed842f 20%, #d88e38 80%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFED842F', endColorstr='#FFD88E38', GradientType=1);
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 240px;
  margin-top:10px;
  }
.cb-list li a{
  color:#FFF;
  text-decoration:none;
  }
.cb-list select {
  width:200px;
  height:25px;
  background:#fff;
  border:0px;
  font-size:18px;
  color:#0f3b4c;
  font-weight:100;
  -webkit-appearance:none;
  background-image:url(../../images/g-drap.png);
  background-repeat: no-repeat;
    background-position: right 1rem center;
  padding:0px 10px;
}
/*cb menu ul setting*/
.cb-list2 {
    text-align: center;
  letter-spacing:2px;
  font-weight:200;
  overflow: hidden;
}
.cb-list2 ul {
  display: inline-block;
  white-space: nowrap;
  max-height: 2000px;
  @include transition-property(max-height);
  @include transition-duration(.3s);
  @include transition-timing-function(linear);  
  }
.cb-list2 li {
  padding:7px 20px 7px 15px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border: 2px solid #ddd;
  border-radius: 33px;
  height:43px;
  background-color: #fff;
  cursor: pointer;
  width: 125px;
  margin-top:10px;
  float:left;
  margin-right:15px;

  &.style-noborder{
    width: auto;
    padding: 0;
    border: 0;
    height: auto;
    margin-top: 10px;
    margin-right: 0;
    padding:0.7em 0;
    padding-right: 15px;
    height:43px;
    @media (max-width: 767px) {
      padding-right: 0;
    }
    img{
      vertical-align: middle;
      margin-right: 0.2em;
    }
  }
}
.cb-list2 li.obtn {
  padding:0.7em 1.5em;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 33px;
  border: 2px solid #ed842f;
  height:43px;
  color: white;
  background-color: #ed842f;
  background-image: -webkit-linear-gradient(left, #ed842f 20%, #d88e38 80%);
  background-image: -o-linear-gradient(left, #ed842f 20%, #d88e38 80%);
  background-image: linear-gradient(to right, #ed842f 20%, #d88e38 80%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFED842F', endColorstr='#FFD88E38', GradientType=1);
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 100px;
  margin-top:10px;
  margin-right: 0;
  }
.cb-list2 li a{
  color:#FFF;
  text-decoration:none;
  }
.cb-list2 select {
  width:108px;
  height:25px;
  background:#fff;
  border:0px;
  font-size:18px;
  color:#0f3b4c;
  font-weight:100;
  -webkit-appearance:none;
  background-image:url(../../images/g-drap.png);
  background-repeat: no-repeat;
    background-position: right 1rem center;
  padding:0px;
}
/*gride-setting*/
.cb-view {
   width:1050px;  
   margin: 0px auto ;
  padding-top:30px;
  margin-bottom:-60px;
   text-align:right;
  }
@media (max-width: 1279px) {
  .cb-view {
     width:1050px;    
     margin:0 auto -70px auto;
  }
}
@media (max-width: 1100px) {
  .cb-view {
    width:92%;  
  }
}
@media (max-width: 478px) {
  .cb-view {
    width:210px;
    text-align:center;
    margin-bottom:30px;
  }
}
.cb-view2 {
   width:1050px;; 
  margin:40px auto 30px auto;
  
  }
@media (max-width: 1279px) {
    .cb-view2 {
     width:1050px;  
  }
}
@media (max-width: 1100px) {
  .cb-view2 {
   width:1050px;  
  }
}
@media (max-width: 1049px) {
  .cb-view2 {
   width:90%; 
  }
}
@media (max-width: 478px) {
  .cb-view2 {
    width:210px;
    margin-top:0px;
  }
}
.cb-view2 a{
  color:#326698;
  letter-spacing:2px;
    font-size:18px;
  }
.cb-view2 .item-icon {
  margin-left: 10px;
  margin-right: 5px;
}
/*combination product float*/
.cb-products {
   width:100%;
   margin: 0 auto;
   text-align:center;
   clear:both;
  }
@media (max-width: 479px) {
    .cb-products {
     // width:210px; 
     width: auto;
     margin:0 auto;
  }
}
ul.products li {
    width: 195px;
    display: inline-block;
  text-align:left;
  /*padding-top:30px;*/
}

/*END OF COMBINATION*/

/*yoyo*/
.btn-readmore{
  a{
    color: #f87431;
    font-size: 20px;
    line-height: 1.5;    
  }
  @media (max-width: 512px){
    padding-bottom: 1em;
  }
}
.ranking{
  text-align: center;
}
.products{
  width: 1080px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 1279px){
    width: auto;
  }
  @media (max-width: 800px){
    width: 600px;
  }
  @media (max-width: 600px){
    width: 400px;
  }
  @media (max-width: 400px){
    width: auto;
    text-align: center;
  }
}

/*top-ranks.css*/
/*cb menu ul setting*/

.cb-list2 {
    text-align: center;
  
  /*letter-spacing:2px;
  font-weight:200;*/
}


.cb-list2 ul {
  display: inline-block;
  }

.cb-list2 li.top-btn{
  font-size:14px;
  color:#0f3b4c;
  font-weight:100;
  padding-top:13px;
  font-family: "Helvetica Neue", Helvetica, Arial, Chinese, "微軟正黑體", sans-serif;
  }

.cb-list2 li {
  padding:7px 20px 7px 15px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border: 2px solid #ddd;
  border-radius: 33px;
  height:43px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(left, #fff 20%, #fff 80%);
  background-image: -o-linear-gradient(left, #fff 20%, #fff 80%);
  background-image: linear-gradient(to right, #fff 20%, #fff 80%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFED842F', endColorstr='#FFD88E38', GradientType=1);
  cursor: pointer;
  width: 125px;
  margin-top:10px;
  float:left;
  margin-left:8px;
  margin-right:8px;
  }

.cb-list2 li.obtn {
  padding:0.7em 1.5em;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 33px;
  border: 2px solid #ed842f;
  height:43px;
  color: white;
  background-color: #ed842f;
  background-image: -webkit-linear-gradient(left, #ed842f 20%, #d88e38 80%);
  background-image: -o-linear-gradient(left, #ed842f 20%, #d88e38 80%);
  background-image: linear-gradient(to right, #ed842f 20%, #d88e38 80%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFED842F', endColorstr='#FFD88E38', GradientType=1);
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 130px;
  margin-top:10px;
  }
  
.cb-list2 li a{
  color:#FFF;
  text-decoration:none;
  }
  
.cb-list2 select {
  width:100px;
  height:25px;
  background:#fff;
  border:0px;
  font-size:14px;
  color:#0f3b4c;
  font-weight:100;
  -webkit-appearance:none;
  background-image:url(../../images/g-drap.png);
  background-repeat: no-repeat;
    background-position: right 0.5rem center;
  padding:0px 0px 0px 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, Chinese, "微軟正黑體", sans-serif;
  
}




@media (max-width: 1169px) {

.cb-list2 {
    text-align: center;
  width:250px;
  margin:0px auto;
}
  
  
.cb-list2 li {
  width:240px;
}

.cb-list2 select {  
  width:180px;
  }

.cb-list2 li.obtn {
  width:240px;
  }
  
.cb-list2 li.top-btn{
  display:block;
  }
}


/*@media (max-width: 767px) {
.cb-list2 ul {
  display: none;
  }
}*/



@media (min-width: 1169px) {
.cb-list2 li.top-btn{
  display:none;
  }

}
@media (max-width: 1169px) {
  .cb-list2.is-mobile-off ul{
    max-height: 53px;
  }
}

@media (max-width: 767px) {
.cb-list2 li {
  width:238px;
}
}

@media (max-width: 767px) {
.cb-list2 ul li{
  // display: none;
  }
}

@media (max-width: 767px) {
.cb-list2 ul.om {
  display: display;
  }
}

/**************requirement mode******************/
.cb-list2.require{
    text-align: center;
  
  /*letter-spacing:2px;
  font-weight:200;*/
}

@media (max-width: 767px) {
.cb-list2.require ul li{
  display: block;
  }
}

@media (min-width: 1169px) {
.cb-list2.require li.top-btn{
  display:none;
  }

}


/**************     ******************/

.cb-view3 {
   width:1050px;  
   margin: 0px auto ;
  padding-top:30px;
  margin-bottom:20px;
   text-align:right;
  }
@media (max-width: 1279px) {
  .cb-view3 {
   width:1050px;    
   margin:0 auto 30px auto;
}
}
@media (max-width: 1100px) {
  .cb-view3 {
    width:92%;  
    text-align:center;
  }
}

@media (max-width: 478px) {
  .cb-view3 {
    width:100%;
    text-align:center;
    margin-bottom:30px;
  }
}
/*end of top-ranks.css*/