@import "../initial";

.scene-title {
    font-size: 28px;
    padding-top: 60px;
    color: #267cab;
}


#section-product-detail-n-chart {
  @extend %clearFix;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  clear: both;
  padding: 0px ;
}


#section-product-detail-n-chart .col-left {
  position: relative;
  float: left;
  height: auto;
  width: 35%;
  text-align: center;
  padding: 0 1em 0 3em;
  @media (max-width: 1023px) {
      padding: 0;
      float: none;
      width: 100%;
  }
}


#section-product-detail-n-chart .col-right {
  float: left;
  text-align: center;
  width: 65%;
  height: auto;
  padding: 0 3em 0 1em;
  @media (max-width: 1023px) {
    float: none;
    width: 100%;
    padding: 0 3em;
  }
  @media (max-width: 767px) {
    float: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
}


/*單欄設定*/
#column-detailtable{
  padding-top: 20px;
}
/*box setting*/
.trendchart{
    margin-top: 20px;
}
#period-result{
  text-align: center;
}
#joiner-result{
  margin-top: 60px;
  text-align: center;
  max-height: 2000px;
  @include transition(all,0.5s,ease);
  &.is-off{
    max-height: 60px;
    overflow: hidden;
  }
}
#column-discuss {
  width: 100%;
  padding: 60px 3em ;
  text-align: center;
  @media (max-width: 767px) {
      width: 100%;
      padding: 60px 0px 60px 0px;
      margin: 0px;
  }
}

/*資訊列表*/
.tr-rounded {
  font-size: 15px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 33px;
  color: #025769;
  line-height: 40px;
  height: 40px;
  background-color: #f1f1f1;
  margin-top: -2px;
  margin-left: auto;
  margin-right: auto;
  width: 270px;
  text-align: center;
  // min-width: 270px;
  @extend %clearFix;
  &:nth-child(even) {
    background-color: #FFF;
  }
}

.tr-rounded-td{
  display: inline-block;
  vertical-align: top;
  width: 120px;
  height: 100%;
  color: #025769;
  &:nth-child(1){
    border-right: 1px solid #025769;
    text-align: right;
    padding-right: 1em;
    margin-right: -1px;
  }
  &:nth-child(2){
    border-left: 1px solid #025769;
    text-align: left;    
    padding-left: 1em;
    margin-left: -1px;
  }
}

.tr-rounded-td-l {
  display: inline-block;
  width: 45%;
  height: 100%;
  margin-right: 2px;
}

/*圓角區塊*/
.corner{
  border-radius: 10px;
  background-color: #CCC;
  height: 300px
}

.corner1{
  margin: 20px 0px 60px 0px;
  border-radius: 10px;
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px 20px 20px 20px;
}
.table-wrap{
  @media (max-width: 1023px) {
    display: none;
  }
}
/*SWIPER*/
.table-wrap-on-mobile{
  display: none;
  @media (max-width: 1023px) {
    display: block;
  }
  .swiper-outer{
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  .swiper-container{
    width: 100%;
    .swiper-slide{
      @include backgroundSize(contain);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .swipe-pager{
    line-height: 20px;
    vertical-align: middle;
    .swiper-button-prev,.swiper-button-next{
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-top: 0;
      top: 0;
      left: 0;
      right: 0;
      height: 20px;
    }
  }
  .corner1{
    margin-bottom: 10px;
  }
}