/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 12, ../../sass/_initial.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 33, ../../sass/_initial.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 37, ../../sass/_initial.scss */
body {
  line-height: 1;
}

/* line 40, ../../sass/_initial.scss */
ol, ul {
  list-style: none;
}

/* line 43, ../../sass/_initial.scss */
blockquote, q {
  quotes: none;
}

/* line 46, ../../sass/_initial.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 51, ../../sass/_initial.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 56, ../../sass/_initial.scss */
a.style-normal {
  text-decoration: underline;
  color: #267cab;
}

/* line 60, ../../sass/_initial.scss */
a.style-white {
  text-decoration: none;
  color: white;
}

/* line 64, ../../sass/_initial.scss */
textarea:focus, input:focus {
  outline: 0;
}

/* line 67, ../../sass/_initial.scss */
.style-aligncenter {
  text-align: center;
}

/* line 70, ../../sass/_initial.scss */
.on-desk-block {
  display: block;
}
@media (max-width: 767px) {
  /* line 70, ../../sass/_initial.scss */
  .on-desk-block {
    display: none;
  }
}

/* line 76, ../../sass/_initial.scss */
.on-mobile-block {
  display: none;
}
@media (max-width: 767px) {
  /* line 76, ../../sass/_initial.scss */
  .on-mobile-block {
    display: block;
  }
}

/*PER ITEM*/
/* line 2, ../../sass/module/_product.scss */
.module-product-box {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  width: 180px;
  height: 180px;
  background-color: #01a2be;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  position: relative;
}
/* line 18, ../../sass/module/_product.scss */
.module-product-box.style-check .icon-add::after, .module-product-box.style-check .icon-add::before {
  content: none;
}
/* line 25, ../../sass/module/_product.scss */
.module-product-box.style-joining .icon-add::after {
  content: none;
}
/* line 30, ../../sass/module/_product.scss */
.module-product-box.style-finishd {
  background-color: #BEBEBE;
}
/* line 32, ../../sass/module/_product.scss */
.module-product-box.style-finishd .module-product-inbox {
  background-color: #E3E3E3;
}
/* line 35, ../../sass/module/_product.scss */
.module-product-box.style-finishd .module-product-innerbox {
  background-color: #D5D5D5;
}
/* line 38, ../../sass/module/_product.scss */
.module-product-box.style-finishd .module-product-innerbox-top {
  background-color: #AEAEAE;
}
/* line 40, ../../sass/module/_product.scss */
.module-product-box.style-finishd .module-product-innerbox-top .module-product-class {
  background-color: #BDBDBD;
}
/* line 44, ../../sass/module/_product.scss */
.module-product-box.style-finishd .module-product-bar-containter {
  display: none;
}
/* line 47, ../../sass/module/_product.scss */
.module-product-box.style-finishd .module-product-innerbox-bottom {
  color: #AEAEAE;
}
/* line 49, ../../sass/module/_product.scss */
.module-product-box.style-finishd .module-product-innerbox-bottom .dollarsign {
  color: #AEAEAE;
}
/* line 53, ../../sass/module/_product.scss */
.module-product-box.style-finishd .icon-add {
  background: url("../../images/icon-style-finishd.png") center no-repeat;
}
/* line 55, ../../sass/module/_product.scss */
.module-product-box.style-finishd .icon-add::before, .module-product-box.style-finishd .icon-add::after {
  content: none;
}
/* line 60, ../../sass/module/_product.scss */
.module-product-box.style-sale {
  background-color: #2cc986;
}
/* line 62, ../../sass/module/_product.scss */
.module-product-box.style-sale .module-product-inbox {
  background-color: #82e8c3;
}
/* line 65, ../../sass/module/_product.scss */
.module-product-box.style-sale .module-product-innerbox {
  background-color: #61de9c;
}
/* line 68, ../../sass/module/_product.scss */
.module-product-box.style-sale .module-product-innerbox-top {
  background-color: #06bd87;
}
/* line 71, ../../sass/module/_product.scss */
.module-product-box.style-sale .module-product-bar-containter {
  display: none;
}
/* line 74, ../../sass/module/_product.scss */
.module-product-box.style-sale .module-product-innerbox-bottom {
  color: black;
}
/* line 76, ../../sass/module/_product.scss */
.module-product-box.style-sale .module-product-innerbox-bottom .dollarsign {
  color: #0e8a4e;
}
/* line 81, ../../sass/module/_product.scss */
.module-product-box.style-sale .icon-add::before, .module-product-box.style-sale .icon-add::after {
  content: none;
}
/* line 87, ../../sass/module/_product.scss */
.module-product-box.style-sale.sale-status-notbid .icon-add {
  background: url("../../images/icon-sale-status-notbid.png") center no-repeat;
}
/* line 91, ../../sass/module/_product.scss */
.module-product-box.style-sale.sale-status-bidding {
  background-color: #00a2bd;
}
/* line 93, ../../sass/module/_product.scss */
.module-product-box.style-sale.sale-status-bidding .icon-add {
  background: url("../../images/icon-sale-status-bidding.png") center no-repeat;
}
/* line 97, ../../sass/module/_product.scss */
.module-product-box.style-sale.sale-status-purchased {
  background-color: #ff8a00;
}
/* line 99, ../../sass/module/_product.scss */
.module-product-box.style-sale.sale-status-purchased .icon-add {
  background: url("../../images/icon-tick.png") center no-repeat;
  cursor: auto;
}
/* line 105, ../../sass/module/_product.scss */
.module-product-box .module-checkbox {
  width: 29px;
  height: 29px;
  position: absolute;
  right: -8px;
  top: -4px;
}
/* line 111, ../../sass/module/_product.scss */
.module-product-box .module-checkbox input {
  z-index: 3;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 29px;
  height: 29px;
  margin: 0;
  cursor: pointer;
}
/* line 121, ../../sass/module/_product.scss */
.module-product-box .module-checkbox input:checked + .module-symbol {
  background: url("../../images/icon-check-ob.png") 0 0 no-repeat;
}
/* line 126, ../../sass/module/_product.scss */
.module-product-box .module-symbol {
  z-index: 0;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../../images/icon-check-wb.png") 0 0 no-repeat;
}

/* line 138, ../../sass/module/_product.scss */
.module-product-inbox {
  padding: 7px;
  width: 100%;
  height: 100%;
  background-color: #89f8ff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 145, ../../sass/module/_product.scss */
.module-product-innerbox {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #2bbdd6;
  color: white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 155, ../../sass/module/_product.scss */
.module-product-innerbox-top {
  width: 100%;
  height: 50%;
  background-color: #01a2be;
  text-align: center;
}

/* line 162, ../../sass/module/_product.scss */
.module-product-serialnumber {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 11px;
  -webkit-transform: scale(0.9);
}

/* line 169, ../../sass/module/_product.scss */
.module-product-class {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  margin-right: 6px;
  background-color: #8e0000;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
/* line 180, ../../sass/module/_product.scss */
.module-product-class:first-letter {
  font-size: 26px;
}
/* line 183, ../../sass/module/_product.scss */
.module-product-class.style-A {
  background-color: #68d517;
}
/* line 186, ../../sass/module/_product.scss */
.module-product-class.style-B {
  background-color: #ffc001;
}
/* line 189, ../../sass/module/_product.scss */
.module-product-class.style-C {
  background-color: #ff6d00;
}
/* line 192, ../../sass/module/_product.scss */
.module-product-class.style-D {
  background-color: #ee0000;
}
/* line 195, ../../sass/module/_product.scss */
.module-product-class.style-E {
  background-color: #8e0000;
}

/* line 199, ../../sass/module/_product.scss */
.module-product-percent {
  font-size: 26px;
  line-height: 40px;
  vertical-align: middle;
}

/* line 204, ../../sass/module/_product.scss */
.module-product-innerbox-bottom {
  width: 100%;
  height: 50%;
  padding-top: 10px;
  padding-left: 25px;
  font-size: 18px;
  line-height: 1.2;
}
/* line 212, ../../sass/module/_product.scss */
.module-product-innerbox-bottom .dollarsign {
  color: black;
  font-size: 10px;
  padding-right: 0.5em;
  font-weight: 600;
  -webkit-transform: scale(0.95);
}

/* line 220, ../../sass/module/_product.scss */
.module-product-bar-containter {
  height: 11px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -5px;
  background-color: #017e92;
}

/* line 229, ../../sass/module/_product.scss */
.module-product-bar-valueimg {
  height: 100%;
  background-color: #ffd801;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 234, ../../sass/module/_product.scss */
.module-product-bar-number {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  color: #2bbdd6;
  font-size: 11px;
  line-height: 11px;
  padding-right: 3px;
  -webkit-transform: scale(0.95);
}

/* line 245, ../../sass/module/_product.scss */
.icon-add {
  width: 30px;
  height: 27px;
  display: block;
  position: absolute;
  padding: 0;
  right: 0;
  top: 0;
  cursor: pointer;
}
/* line 255, ../../sass/module/_product.scss */
.icon-add::before {
  content: '';
  display: block;
  position: absolute;
  background-color: white;
  width: 17px;
  height: 3px;
  top: 14px;
  right: 7px;
}
/* line 265, ../../sass/module/_product.scss */
.icon-add::after {
  content: '';
  display: block;
  position: absolute;
  background-color: white;
  width: 3px;
  height: 17px;
  top: 7px;
  right: 14px;
}

/* line 276, ../../sass/module/_product.scss */
.color-pink {
  color: #fd2169;
  letter-spacing: 0;
  font-size: 1.17em;
  font-weight: 500;
}

/* line 284, ../../sass/module/_product.scss */
.module-product-innerbox-cover {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  left: 0;
  top: 100%;
  text-align: center;
  font-weight: 600;
  padding-top: 45%;
  -webkit-transition-property: top, background-color;
  transition-property: top, background-color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 297, ../../sass/module/_product.scss */
.module-product-innerbox-cover a {
  color: white;
  padding: 10px;
}
/* line 301, ../../sass/module/_product.scss */
.module-product-innerbox:hover .module-product-innerbox-cover {
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
}

/*wrap*/
/*combination product float*/
/* line 309, ../../sass/module/_product.scss */
.cb-products {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  clear: both;
}

@media (max-width: 479px) {
  /* line 316, ../../sass/module/_product.scss */
  .cb-products {
    width: auto;
    margin: 0 auto;
  }
}
/* line 322, ../../sass/module/_product.scss */
ul.products {
  text-align: left;
}
@media (max-width: 400px) {
  /* line 322, ../../sass/module/_product.scss */
  ul.products {
    text-align: center;
  }
}

/* line 328, ../../sass/module/_product.scss */
ul.products li {
  width: 195px;
  display: inline-block;
  /*padding-top:30px;*/
}

/* yoyo custom */

/*# sourceMappingURL=product.css.map */
