/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 12, ../../sass/_initial.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 33, ../../sass/_initial.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 37, ../../sass/_initial.scss */
body {
  line-height: 1;
}

/* line 40, ../../sass/_initial.scss */
ol, ul {
  list-style: none;
}

/* line 43, ../../sass/_initial.scss */
blockquote, q {
  quotes: none;
}

/* line 46, ../../sass/_initial.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 51, ../../sass/_initial.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 56, ../../sass/_initial.scss */
a.style-normal {
  text-decoration: underline;
  color: #267cab;
}

/* line 60, ../../sass/_initial.scss */
a.style-white {
  text-decoration: none;
  color: white;
}

/* line 64, ../../sass/_initial.scss */
textarea:focus, input:focus {
  outline: 0;
}

/* line 67, ../../sass/_initial.scss */
.style-aligncenter {
  text-align: center;
}

/* line 70, ../../sass/_initial.scss */
.on-desk-block {
  display: block;
}
@media (max-width: 767px) {
  /* line 70, ../../sass/_initial.scss */
  .on-desk-block {
    display: none;
  }
}

/* line 76, ../../sass/_initial.scss */
.on-mobile-block {
  display: none;
}
@media (max-width: 767px) {
  /* line 76, ../../sass/_initial.scss */
  .on-mobile-block {
    display: block;
  }
}

/*GLOBAL2.CSS*/
/* line 3, ../../sass/units/product-list.scss */
.tcbox-content {
  width: 100%;
  height: 300px;
}

/*new add from navy*/
/* line 8, ../../sass/units/product-list.scss */
.section-banner-1 {
  margin-top: 70px;
  height: 150px;
  color: white;
  text-align: center;
  background-color: #ccc;
}

@media (max-width: 767px) {
  /* line 16, ../../sass/units/product-list.scss */
  .section-banner-1 {
    margin-top: 55px;
    height: 80px;
  }
}
/* line 21, ../../sass/units/product-list.scss */
.section-banner-1 h2 {
  margin-top: 0;
  padding-top: 1.1em;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 5px;
}

@media (max-width: 767px) {
  /* line 30, ../../sass/units/product-list.scss */
  .sub-bbg h2 {
    margin-top: 0;
    padding-top: 0.8em;
    font-size: 22px;
    letter-spacing: 2px;
  }
}
/* line 37, ../../sass/units/product-list.scss */
.section-banner-1 h3 {
  font-size: 18px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: 1px;
}

@media (max-width: 767px) {
  /* line 44, ../../sass/units/product-list.scss */
  .sub-bbg h3 {
    font-size: 14px;
  }
}
/* line 48, ../../sass/units/product-list.scss */
.sub-bbg {
  height: 150px;
  background-position: center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 767px) {
  /* line 57, ../../sass/units/product-list.scss */
  .sub-bbg {
    height: 80px;
  }
}
@media (max-width: 767px) {
  /* line 62, ../../sass/units/product-list.scss */
  .icon-x {
    height: 18px;
    width: 18px;
    margin-top: 7px;
  }
}
@media (max-width: 767px) {
  /* line 69, ../../sass/units/product-list.scss */
  .icon-list {
    height: 18px;
    width: 18px;
    margin-top: 7px;
  }
}
/* line 76, ../../sass/units/product-list.scss */
.section-content3 {
  background-color: white;
  text-align: center;
  padding: 50px 0px;
}

/*END OF GLOBAL2.CSS*/
/* line 82, ../../sass/units/product-list.scss */
.section-search {
  background-color: #f7f7f7;
  padding-top: 25px;
  padding-bottom: 25px;
}
/* line 86, ../../sass/units/product-list.scss */
.section-search .module-customselect {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
/* line 92, ../../sass/units/product-list.scss */
.section-search .btn-selectlike {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 98, ../../sass/units/product-list.scss */
.section-filter {
  background-color: #f7f7f7;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}
@media (max-width: 1280px) {
  /* line 103, ../../sass/units/product-list.scss */
  .section-filter .module-customselect {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 240px;
  }
}
/* line 112, ../../sass/units/product-list.scss */
.section-filter .btn-accordion {
  display: none;
}
@media (max-width: 1280px) {
  /* line 112, ../../sass/units/product-list.scss */
  .section-filter .btn-accordion {
    display: block;
  }
}
/* line 118, ../../sass/units/product-list.scss */
.section-filter .module-accordion {
  max-height: 1600px;
  -webkit-transition-property: max-height;
  transition-property: max-height;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
@media (max-width: 1280px) {
  /* line 123, ../../sass/units/product-list.scss */
  .section-filter .module-accordion.is-off-m {
    max-height: 0;
    overflow: hidden;
  }
}
@media (max-width: 1280px) {
  /* line 130, ../../sass/units/product-list.scss */
  .section-filter .btn-selectlike {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 240px;
  }
}

/*gride-setting*/
/* line 142, ../../sass/units/product-list.scss */
.cb-view {
  width: 1050px;
  margin: 0px auto;
  padding-top: 30px;
  margin-bottom: -60px;
  text-align: right;
}

@media (max-width: 1279px) {
  /* line 150, ../../sass/units/product-list.scss */
  .cb-view {
    width: 1050px;
    margin: 0 auto -70px auto;
  }
}
@media (max-width: 1100px) {
  /* line 156, ../../sass/units/product-list.scss */
  .cb-view {
    width: 92%;
  }
}
@media (max-width: 478px) {
  /* line 161, ../../sass/units/product-list.scss */
  .cb-view {
    width: 210px;
    text-align: center;
    margin-bottom: 30px;
  }
}
/* line 167, ../../sass/units/product-list.scss */
.cb-view2 {
  width: 1050px;
  margin: 40px auto 30px auto;
}

@media (max-width: 1279px) {
  /* line 173, ../../sass/units/product-list.scss */
  .cb-view2 {
    width: 1050px;
  }
}
@media (max-width: 1100px) {
  /* line 178, ../../sass/units/product-list.scss */
  .cb-view2 {
    width: 1050px;
  }
}
@media (max-width: 1049px) {
  /* line 183, ../../sass/units/product-list.scss */
  .cb-view2 {
    width: 90%;
  }
}
@media (max-width: 478px) {
  /* line 188, ../../sass/units/product-list.scss */
  .cb-view2 {
    width: 210px;
    margin-top: 0px;
  }
}
/* line 193, ../../sass/units/product-list.scss */
.cb-view2 a {
  color: #326698;
  letter-spacing: 2px;
  font-size: 18px;
}

/* line 198, ../../sass/units/product-list.scss */
.cb-view2 .item-icon {
  margin-left: 10px;
  margin-right: 5px;
}

/*END OF COMBINATION*/
/*yoyo*/
/* line 228, ../../sass/units/product-list.scss */
.btn-readmore a {
  color: #f87431;
  font-size: 20px;
  line-height: 1.5;
}
@media (max-width: 512px) {
  /* line 227, ../../sass/units/product-list.scss */
  .btn-readmore {
    padding-bottom: 1em;
  }
}

/* line 237, ../../sass/units/product-list.scss */
.ranking {
  text-align: center;
}

/* line 240, ../../sass/units/product-list.scss */
.products {
  width: 1080px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1279px) {
  /* line 240, ../../sass/units/product-list.scss */
  .products {
    width: auto;
  }
}
@media (max-width: 800px) {
  /* line 240, ../../sass/units/product-list.scss */
  .products {
    width: 600px;
  }
}
@media (max-width: 600px) {
  /* line 240, ../../sass/units/product-list.scss */
  .products {
    width: 400px;
  }
}
@media (max-width: 400px) {
  /* line 240, ../../sass/units/product-list.scss */
  .products {
    width: auto;
    text-align: center;
  }
}

/*top-ranks.css*/

/*# sourceMappingURL=product-list.css.map */
