@charset "UTF-8";
/* line 17, ../../sass/vendors/_extend.scss */
#section-product-detail-n-chart:before, .tr-rounded:before, #section-product-detail-n-chart:after, .tr-rounded:after {
  content: " ";
  display: table;
}
/* line 22, ../../sass/vendors/_extend.scss */
#section-product-detail-n-chart:after, .tr-rounded:after {
  clear: both;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 12, ../../sass/_initial.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 33, ../../sass/_initial.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 37, ../../sass/_initial.scss */
body {
  line-height: 1;
}

/* line 40, ../../sass/_initial.scss */
ol, ul {
  list-style: none;
}

/* line 43, ../../sass/_initial.scss */
blockquote, q {
  quotes: none;
}

/* line 46, ../../sass/_initial.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 51, ../../sass/_initial.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 56, ../../sass/_initial.scss */
a.style-normal {
  text-decoration: underline;
  color: #267cab;
}

/* line 60, ../../sass/_initial.scss */
a.style-white {
  text-decoration: none;
  color: white;
}

/* line 64, ../../sass/_initial.scss */
textarea:focus, input:focus {
  outline: 0;
}

/* line 67, ../../sass/_initial.scss */
.style-aligncenter {
  text-align: center;
}

/* line 70, ../../sass/_initial.scss */
.on-desk-block {
  display: block;
}
@media (max-width: 767px) {
  /* line 70, ../../sass/_initial.scss */
  .on-desk-block {
    display: none;
  }
}

/* line 76, ../../sass/_initial.scss */
.on-mobile-block {
  display: none;
}
@media (max-width: 767px) {
  /* line 76, ../../sass/_initial.scss */
  .on-mobile-block {
    display: block;
  }
}

/* line 3, ../../sass/units/product-detail.scss */
.scene-title {
  font-size: 28px;
  font-weight: 600;
  padding-top: 60px;
  color: #267cab;
}

/* line 11, ../../sass/units/product-detail.scss */
#section-product-detail-n-chart {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  clear: both;
  padding: 0px;
}

/* line 22, ../../sass/units/product-detail.scss */
#section-product-detail-n-chart .col-left {
  position: relative;
  float: left;
  height: auto;
  width: 35%;
  text-align: center;
  padding: 0 1em 0 3em;
}
@media (max-width: 1023px) {
  /* line 22, ../../sass/units/product-detail.scss */
  #section-product-detail-n-chart .col-left {
    padding: 0;
    float: none;
    width: 100%;
  }
}

/* line 37, ../../sass/units/product-detail.scss */
#section-product-detail-n-chart .col-right {
  float: left;
  text-align: center;
  width: 65%;
  height: auto;
  padding: 0 3em 0 1em;
}
@media (max-width: 1023px) {
  /* line 37, ../../sass/units/product-detail.scss */
  #section-product-detail-n-chart .col-right {
    float: none;
    width: 100%;
    padding: 0 3em;
  }
}
@media (max-width: 767px) {
  /* line 37, ../../sass/units/product-detail.scss */
  #section-product-detail-n-chart .col-right {
    float: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
}

/*單欄設定*/
/* line 58, ../../sass/units/product-detail.scss */
#column-detailtable {
  padding-top: 20px;
}

/*box setting*/
/* line 62, ../../sass/units/product-detail.scss */
.trendchart {
  margin-top: 20px;
}

/* line 65, ../../sass/units/product-detail.scss */
#period-result {
  text-align: center;
}

/* line 68, ../../sass/units/product-detail.scss */
#joiner-result {
  margin-top: 60px;
  text-align: center;
  max-height: 2000px;
  -webkit-transition: all, 0.5s, ease;
  -o-transition: all, 0.5s, ease;
  transition: all, 0.5s, ease;
}
/* line 73, ../../sass/units/product-detail.scss */
#joiner-result.is-off {
  max-height: 60px;
  overflow: hidden;
}

/* line 78, ../../sass/units/product-detail.scss */
#column-discuss {
  width: 100%;
  padding: 60px 3em;
  text-align: center;
}
@media (max-width: 767px) {
  /* line 78, ../../sass/units/product-detail.scss */
  #column-discuss {
    width: 100%;
    padding: 60px 0px 60px 0px;
    margin: 0px;
  }
}

/*資訊列表*/
/* line 90, ../../sass/units/product-detail.scss */
.tr-rounded {
  font-size: 15px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 33px;
  color: #025769;
  line-height: 40px;
  height: 40px;
  background-color: #f1f1f1;
  margin-top: -2px;
  margin-left: auto;
  margin-right: auto;
  width: 270px;
  text-align: center;
}
/* line 106, ../../sass/units/product-detail.scss */
.tr-rounded:nth-child(even) {
  background-color: #FFF;
}

/* line 111, ../../sass/units/product-detail.scss */
.tr-rounded-td {
  display: inline-block;
  vertical-align: top;
  width: 120px;
  height: 100%;
  color: #025769;
}
/* line 117, ../../sass/units/product-detail.scss */
.tr-rounded-td:nth-child(1) {
  border-right: 1px solid #025769;
  text-align: right;
  padding-right: 1em;
  margin-right: -1px;
}
/* line 123, ../../sass/units/product-detail.scss */
.tr-rounded-td:nth-child(2) {
  border-left: 1px solid #025769;
  text-align: left;
  padding-left: 1em;
  margin-left: -1px;
}

/* line 131, ../../sass/units/product-detail.scss */
.tr-rounded-td-l {
  display: inline-block;
  width: 45%;
  height: 100%;
  margin-right: 2px;
}

/*圓角區塊*/
/* line 139, ../../sass/units/product-detail.scss */
.corner {
  border-radius: 10px;
  background-color: #CCC;
  height: 300px;
}

/* line 145, ../../sass/units/product-detail.scss */
.corner1 {
  margin: 20px 0px 60px 0px;
  border-radius: 10px;
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px 20px 20px 20px;
}

@media (max-width: 1023px) {
  /* line 152, ../../sass/units/product-detail.scss */
  .table-wrap {
    display: none;
  }
}

/*SWIPER*/
/* line 158, ../../sass/units/product-detail.scss */
.table-wrap-on-mobile {
  display: none;
}
@media (max-width: 1023px) {
  /* line 158, ../../sass/units/product-detail.scss */
  .table-wrap-on-mobile {
    display: block;
  }
}
/* line 163, ../../sass/units/product-detail.scss */
.table-wrap-on-mobile .swiper-outer {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
/* line 168, ../../sass/units/product-detail.scss */
.table-wrap-on-mobile .swiper-container {
  width: 100%;
}
/* line 170, ../../sass/units/product-detail.scss */
.table-wrap-on-mobile .swiper-container .swiper-slide {
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 176, ../../sass/units/product-detail.scss */
.table-wrap-on-mobile .swipe-pager {
  line-height: 20px;
  vertical-align: middle;
}
/* line 179, ../../sass/units/product-detail.scss */
.table-wrap-on-mobile .swipe-pager .swiper-button-prev, .table-wrap-on-mobile .swipe-pager .swiper-button-next {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
}
/* line 190, ../../sass/units/product-detail.scss */
.table-wrap-on-mobile .corner1 {
  margin-bottom: 10px;
}

/*# sourceMappingURL=product-detail.css.map */
