@charset "UTF-8";
/* line 2, ../../sass/units/member.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 3, ../../sass/units/member.scss */
.clearfix:after {
  clear: both;
}

/* line 4, ../../sass/units/member.scss */
.clearfix {
  zoom: 1;
}

/* line 5, ../../sass/units/member.scss */
.fl {
  float: left;
}

/* line 6, ../../sass/units/member.scss */
.clear {
  clear: both;
  font-size: 0px;
  line-height: 0em;
  height: 0;
}
.cb-list3{
	font-weight:bold
	}

	
.about_wp{
	font-size: 62.5%;
	font-family: "Helvetica Neue", Helvetica, Arial, Chinese, "微軟正黑體", sans-serif;
	}
.about_content{
	width:100%;
	font-size:100%;	
	}
.about_contact{
	width:82%;
	margin:0 auto;
	padding-top:60px;
	padding-bottom:47px;
	}
.about_contact dt{
	float: left;
	width:47%;
	margin-right:3%;
	padding-top: 0;
	}
.about_contact dd {
	float:left;
	width:50%;
	text-align:center
	}
.about_contact dd img{
	max-width:100%;
	min-width:30%
	}
.about_contact dt h1{
	color:#7e7e7e;
	font-size:1.8em;
	line-height:29px;
	font-weight:normal;
	}	
.about_contact dt h1 a{
	color:#267cab;
	text-decoration:none
	}
.about_contact ul{
	margin-top:36px;
	}
.about_contact ul li{
	padding-left:3%;
	font-size:1.8em;
	color:#267cab;
	font-weight:normal;
	margin-bottom:34px;

	}
.about_contact ul li span{
	margin-left:4%
	}
.about_banner{
	width:100%;
	border:0;
	background:url(../../../assets/images/join_banner.jpg) top center no-repeat;
	 background-size:cover;
	font-size: 62.5%;
	font-family: "Helvetica Neue", Helvetica, Arial, Chinese, "微軟正黑體", sans-serif;
	}
.join_banner{	
	width:82%;
	max-width:1030px;
	margin:0 auto;
	height:390px;
	}
.banner01{
	width:55%;
	padding:1.5%;
	margin-top:46px;
	float:right;
	 background:#fff;
	 filter:alpha(opacity=70);
	 -moz-opacity:0.7;
	  -khtml-opacity: 0.7;
	  opacity: 0.7;
	}
	
.banner01 h2{
	color:#0f3b4c;
	font-size:1.8em;
	font-weight: normal;
	line-height:24px;
	}	
.banner01 p{
	color:#0f3b4c;
	margin-top:36px;
	font-size:1.8em;
	font-weight: normal;
	line-height:30px;
	}	
.banner01 h3{
	color:#0f3b4c;
	text-align:center;
	font-size:2.5em;
	font-weight: bold;
	margin-top:22px;
	}
.banner01 h3 a{
	text-decoration:none;
	color:#0f3b4c;
	}		
.about_join{
	padding-top:48px;
	width:82%;
	margin:0 auto;
	max-width:1030px;
	}
		
.about{
	width:82%;
	margin:0 auto;
	padding-bottom:47px;
	}
.about_sum{
	font-size:2.1em;
	color:#267cab;
	line-height:30px;
	padding-bottom:26px;
	padding-top:30px;
	border-bottom:1px solid #dddddd;
	}	
.about_money{
	margin-top:30px;
	}	
.about_money dt{
	float:left;
	width:35px;
	margin-right:2%;
	}
.about_money dd{
	float:left;
	width:90%;
	}

.about_money h2{
	font-size:2.1em;
	color:#267cab;
	font-weight:normal;
	line-height:30px;	}
	
.about_money .m_h2{
	display:none;
	font-size:2.1em;
	color:#267cab;
	font-weight:normal;
	}	
	
.about_money dd p{
	color:#7e7e7e;
	font-size:1.8em;
	line-height:24px;
	margin-top:5px
	}
.about_money ul li{
	list-style:outside;
	list-style-type:disc;
	margin-left:2%;
	color:#7e7e7e;
	font-size:1.8em;
	margin-top:25px;
	line-height:24px;
	}
.about_money ul li h3{
	color:#ff8c2d;
	margin-bottom:5px;
	}
.about_money dd .txt{
	color:#7e7e7e;
	font-size:1.8em;
	margin-top:30px;
	line-height:24px;
	
	}
.about_innovators{
	padding-top:35px;
	padding-bottom:20px
	}
.about_innovators dt{
	float:left;
	width:50%;
	}
.about_innovators dd{
	float:left;
	width:50%;
	color:#7e7e7e;
	font-size:1.8em;
	line-height:30px;
	}
.about_innovators img{
	max-width:100%;
	height: auto
	}
.about_p{
	color:#7e7e7e;
	font-size:1.8em;
	margin-top:24px;
	line-height:24px;
	}
.about_bank{
	margin-top:70px;
	}
.about_bank li{
	float:left;
	}
.about_bank .bank01{
	width:27%;
	}
.about_bank .bank02{
	width:8%;
	text-align:center;
	padding-top:68px;
	}

.about_bank h3{
	font-size:1.8em;
	color:#ff8c2d;
	text-align:center;
	margin-top:30px;
	}
.about_bank p{
	font-size:1.8em;
	color:#7e7e7e;
	line-height:24px;
	margin-top:24px;
	}
.about_bank .bank_img{
	text-align:center
	}
.about_process{
	margin-top:34px;
	}
.about_process h2{
	color:#267cab;
	font-size:2.1em;
	font-weight:normal
	}
.about_process h4{
	font-size:1.8em;
	color:#7e7e7e;
	line-height:24px;
	margin-top:6px;
	font-weight:normal
	}



@media screen and (max-width: 678px), screen and (max-device-width: 678px) {
.about_contact{
	width:100%
}
.about_contact dt{
	width:100%;
	margin-right:0%
	}
.about_contact dd {
	float:left;
	width:100%;
	}
.about_contact dt{
	width:100%;
	margin-right:0%;
	padding-top:0px;
	}
.about_contact dd {
	width:100%;
	
	}
.about_bank .bank01{
	width:100%;
	}
.about_bank .bank02{
	width:100%;
	padding-top:30px;
	padding-bottom:30px;
	}

.about_innovators dt{
	width:100%;
	}
.about_innovators dd{
	width:100%;
	}
.about_money dt{
	width:100%;
	margin-right:0;
	}
.about_money dd{
	width:100%;
	margin-top:10px;
	}
.about_money .m_h2{
	display: block;

	}
.about_money .p_h2{
	display: none;
	}
.about_money h2{
	display:none
	}
.join_banner{	
	width:100%;}
.banner01{
	width:100%;
	}		
}
	
@media screen and (max-width: 620px), screen and (max-device-width: 620px) {
.about_contact{
	 font-size:90%;
}

}
@media screen and (max-width: 520px), screen and (max-device-width: 520px) {
.about_contact{
	 font-size:85%;
}

}
@media screen and (max-width: 480px), screen and (max-device-width: 480px) {
.about_contact{
	 font-size:80%;
}

}
@media screen and (max-width: 380px), screen and (max-device-width: 380px) {
 .about_contact{
	 font-size:70%;
}
}

