@media screen and (max-width: 678px), screen and (max-device-width: 678px) {
.hidd{
	display:none
	}
	
.register{
	width:100%;
	margin:0 auto;
	max-width:670px;
	}
.register_t1 dl dd h1{
	margin-top:20px;
	font-size:18px;
	} 
.register_t1 dl dd .rule{
	font-size:16px;}	
	
.register_t2 dl{
	width:100%;
	padding-top: 12px;
	height: 54px;
	line-height: 54px;
	border:0;
	margin-bottom:12px;
	}
.register_t1 dl dt{
	float:left;
	width:100%;
	text-align: center;
	border-bottom:1px solid #DDDDDD;
	padding-bottom:18px;
	}
.register_t1 dl dd{
	float:left;
	width:100%;
	border-bottom: none;
	padding-bottom:18px;
	margin-bottom:0px;
	}
.register_t1 dl .m_dd{
	display: block;
	font-size:14px;
	}
.register_t1 dl .w_dd{
	display: none;
	}
.register_column{
	border-bottom:0;
	}
.register_column2{
	width:80%;
	margin:0 auto
	}
.register_t1 dl{
	padding-bottom:0px;
	padding-top:0;
	
	}
.register_t1 .re_btn{
	margin-top:0px;
	text-align:center;
	}
.under{
	border-bottom:0;
}

.register_t2 dl{
	width:100%;	
	border: 0;
	padding-top: 0;
	padding-bottom: 0;
	-moz-border-radius: 0;
	-webkit-border-radius:0;
	border-radius:0;
	height: 44px;
}
.register_t2 dl dt{
	width:85px;
	padding-left:0;	
	border-right:0;
	border:0;
	text-align: left
	}
.register_t2 dl dd{
	padding:0;
	width:250px;
}
.register_t2 select {
	width: 55px;
	background: #fff;
	font-size: 14px;
	-webkit-appearance: none;
	background-repeat: no-repeat;
	background-image: url(../../images/g-drap.png);
	background-position: right 1rem center;
	font-family: "Helvetica Neue", Helvetica, Arial, Chinese, "微軟正黑體", sans-serif;
	color:#4d4d4d;
	padding:10px 5px;
	-moz-border-radius: 20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	padding-left:3%;
	border:2px solid #ccc;
	width:100px;
	margin-right:2px
}

.register_t2 .select dt{
	padding-left:0px;
	width:85px;
}
.register_t2 .w_y{
	display:none
	}
.register_t2 .M-y{
	display:block;
	width:520px;
	}
.register_t2 .M-y dt{
	width:83px;
	}
.register_t2 .M-y dd{
	width:80%;
	}
.register_t2 .M-y select{
	width:25%;
	float:left;
	}
.register_t2 .statement {
	width:90%;

	}
.register_t2 h2{
	padding-left:0px
	}
.register_t2 .statement {
	width:98%;
}
.register_t2 .w1{
	width:98%;
	}
.register_t2 .w2{
	width:98%;
	}
.register_t2 .w2 dd{
	padding:0;
	width:75%;
}
.register_t2 .w1 dd{
	padding:0;
	width:75%;
	
}
.register_t2 dl input {
	text-align: left;
	border:2px solid #ccc;
	height:45px;
	-moz-border-radius: 20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	padding-left:8%;
}
.register_t2 .w1 input{
	width:80%;
	}
.register_t2 .w2 input{
	width:98%;
	}
.email_Verify h1{
	line-height:27px;
	font-size:21px;
	text-align: left;
	}
.email_Verify h2{
	line-height:22px;
	font-size:16px;
	text-align: left;
	}		
.email_Verify .email{
	float:left;
	width:100%;
	}
.email_Verify  .email_button{
	width:120px;
	float: none;
	margin-top:20px;
	margin-left:25%
	}
.email_Verify .email_style{
	width:99%;

	}	
.email_Verify .email{
	float:left;
	width:99%;
	border:0;
	}
.email_Verify .email dd{
	width:35%;
	float: left
	}
.email_Verify .email dt{
	border-right:0;
	}
.email_Verify .email dd{
	border-right:0;
	width:65%;
	float: left;
	padding-top:10px;
	padding-bottom:10px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border:2px solid #ddd;
	margin-left:2%;
	}	
	
.email_Verify .email input{
	width:90%
	}	
	
.phone_Verify h1{
	text-align: left
	}
.phone_Verify .phone_num{
	width:98%;
	margin-left:0;
	margin-bottom:10px;
	}	
.phone_Verify .phone_input{
	width:95%;
	}
.phone_Verify .erro{
	width:95%;
	margin:0 auto;
	text-align: center ;
	
	}
.phone_repeat .n1{
	width:98%;
	}
.phone_repeat .n2{
		width:98%;
}
.register_t2 .area{
	float: none;
	}
.phone_Verify .up{
	width:55%;
	margin:0 auto;
	float: none;
}
.register-nav ul .current{
	width:100%;
	text-align:center;
	margin-bottom:16px;	
	}

.phone_Verify .up{
	width:180px;
	color:#bd0d00;
	margin:0 auto;
	float:none;
	text-align:center;
	}
.phone_Verify .phone_input{
	margin-bottom:20px;
}
.nav1,.nav2,.nav3,.nav4,.nav5{
	width:40%
	}
.nav_m{ display:block;}
.register_t2  .register_column3{
	width:80%;
	margin:0 auto;
	margin-top:28px;
	}
.register_t2 .M_accounts {
	margin-top:8px;
	color:#4d4d4d
	}
.register_t2 .M_accounts .a1{
	float:left;
	width:100px;
	padding-top:10px;
	}
.register_t2 .M_accounts .a2{
	float:left;
	width:60%;
	}
.register_t2 .M_accounts .input_style{
	width:100%;
	text-align: left;
	border:2px solid #ccc;
	height:45px;
	-moz-border-radius: 20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	padding-left:8%;
	padding-top:10px;
	
	}
.register_t2 .M_accounts input{
	border:0;
	width:90%;
	}
.register_t2 .pass_s2{
	float:left;
	width:60%;
	}
.register_t2 .M-a{
	display:block;
	}
.register_t2 .register_column2 .t5{
	display:block;
	}
.register_t2 .register_column2 .t5 dl{
	margin-top:5px ;
	
	}
.register_t2 .register_column2 .t5 dl dd{	
	color: #bd0d00;
	font-size: 14px;
	line-height:16px;
	font-weight: normal;
	}
.register_t2 .tip{
	text-align: left;
	width:100%;
	font-size:14px;

}
.register-nav ul li{
	height:33px;
	}
.vedio_play{
	width:100%;
	}
.status_upload{
	width:90%;
	}

.status_upload .p4{
	width:55%;}
.status_upload .p1{
	width:40%;}	
.status_upload .p5{
	float:none;
	width:100%;
	}
.vedio_play img{
	max-width:95%;
	}
.status_photo{
	width:98%;
	}	
.status_photo .p1{
	float:none;
	width:100%;
	border:0;
	text-align:center
	}
.status_photo .p2{
	float:none;
	width:100%;
	text-align:center;
	margin-left:0
	}
.status_photo .p2 img{
	min-width:90%;
	}	
.M-hide{
	display:none
	}

.status_photo .p3 {
	margin:0 auto; 
	float:none;
	width:50%;
	margin-top:10px;
	}
.status_photo .p3 .button{
	float: left;
	width:48%;
	margin-top:10px;
	margin-right:2%;
	}	
.status_photo p{
	width:100%;
	text-align:left;
	margin-left:3%
	}

.status_txt dt{
	width:20%;
	}
.status_txt dd{
	width:80%;
	}
.status_btn{
	width:auto;
	text-align:center
	}

.register_status{
	width:95%;
	border:0
	}

.email_b{
	margin:0 auto	
	}
.status_txt h2{
	font-size:14px;
	}
.line{
	width:40px;
	height:2px;
	margin:0 auto;
	border-bottom:2px solid #ddd;
	margin-bottom:20px;
	}
.W-hide{
	display: block
	}

@media screen and (max-width: 520px), screen and (max-device-width: 520px) {
	.status_photo .p3 {
	width:90%;}
	.register_t2 .register_column3{
	width:85%;
	}
	.register_t2 .register_column2{
	width:85%;
	}
	.M_accounts .a2{
	float:left;
	width:45%;
	}
	.register_t1 dl dd .txt1{
	font-size:14px;
	}
	.register_t2 .acc{
	width:99%;
}
.register_t2 .w2 dd{
	width:70%;
}
.register_t2 .w1 dd{
	width:70%;
	
}
.register_t2 .w1 input{
	width:98%;
	}
	
	.register_t2 .pass_s2{
	float:left;
	width:70%;
	}
.register_t2 .M-y dt{
	width:90px;
	}
.register_t2 .M-y dd{
	width:60%;
	}	
.register_t2 .M-y select{
	width:28%;
	}

}
@media screen and (max-width: 480px), screen and (max-device-width: 480px) {
.register_t2  .register_column3{
	width:95%;
	}
.register_t2 .register_column2{
	width:95%;
	}

.register_t2 dl dd{
	padding:0;
	width:205px;

}

.register_t2 .M-y{
	display:block;
	width:320px;
	}
.register_t2 .M-y dt{
	width:90px;
	}
.register_t2 .M-y dd{
	width:70%;
	}
.register_t2 .M-y select{
	width:32%;
	float:left;
	}
.register_t2 .pass_s2{
		width:55%;
	}
	
.register_t2 .w2 dd{
	width:65%;
}
.register_t2 .w1 dd{
	width:65%;
	
}

}
@media screen and (max-width: 380px), screen and (max-device-width: 380px) {
.register_t2  .register_column3{
	width:98%;
	margin:0 auto;
	}
.register_t2 dl{
	width:100%;
	
		}
.register_t2  .register_column2{
	width:98%;
	font-size:14px;
	}
.register_t2 dl dt{
	font-size:14px;
	width:70px;
}
.register_t2 .M-y dt{
	width:80px;
	float:left;
	padding-left: 0;
	font-size:14px;
	}
.register_t2 .M-y dd{
	width:70%;
	}
.register_t2 .M-y select{
	width:65px;
	}
.register_t2 .w1{
	width:100%;
	}
.register_t2 .w2{
	width:100%;

	}
.register_t2 .w2 dd{
	width:178px;
}
.register_t2 .w1 dd{
	width:178px;
}
.register_t2 dl dt{
	width:80px;
	}
.register_t2 .w1 input{
	width:98%;
	}

.home_btn{
	width:70%;}
}