@charset "UTF-8";
/* line 2, ../../sass/units/member.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 3, ../../sass/units/member.scss */
.clearfix:after {
  clear: both;
}

/* line 4, ../../sass/units/member.scss */
.clearfix {
  zoom: 1;
}

/* line 5, ../../sass/units/member.scss */
.fl {
  float: left;
}

/* line 6, ../../sass/units/member.scss */
.clear {
  clear: both;
  font-size: 0px;
  line-height: 0em;
  height: 0;
}
.cb-list3{
	font-weight:bold
	}

.section-search {
background-color: #fff;
}
.experience_wp{
	margin:auto;
	font-size: 62.5%;
	min-height:420px;
	font-family: "Helvetica Neue", Helvetica, Arial, Chinese, "微軟正黑體", sans-serif;
	}
.product_wp{
	width:1024px;
	margin:auto;
	margin-top:28px;
	font-size: 62.5%;
	font-family: "Helvetica Neue", Helvetica, Arial, Chinese, "微軟正黑體", sans-serif;
	}
.product_wp .begin{
	width:108px;
	margin:auto;
	font-size:3.6em;
	color:#267BAB;
	text-align:center;
	margin-bottom:30px;
	padding-bottom:27px;
	border-bottom:2px solid #52D7DC
	
	}
.input_color{
	color:#0f3b4c;
	}
.experience_form{
	width:246px;
	position:relative;
	margin:auto
	}
.form_prompt_m{
	display:block;
	width:275px;
	margin:auto;
	height:110px;
	background:url(../../images/prompt_m.png) no-repeat;
	font-size:1.8em;
	color:#333333;
	line-height:24px;
	padding-left:0px;
	padding-top:18px;
	margin-bottom:10px;
	text-align:center;
	display: none
	}	
	
.form_prompt{
	position:absolute;
	left:250px;
	top:34px;
	width:250px;
	height:128px;
	background:url(../../images/prompt.png) no-repeat;
	font-size:1.8em;
	color:#333333;
	line-height:24px;
	padding-left:38px;
	padding-top:25px;
	}	
.experience_pg{
	width:40%;
	margin:auto;
	margin-top:20px;	
	}
.top20{
	margin-top:20px;
	}
.experience_progress {
  width: 100%;
  border: 1px solid #DFDEDC;
  background: #EBEBEB;
  padding-top: 2px;
  padding-bottom: 2px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding-left: 1%;
}
.experience_progress_in {
  border: 1px solid #70CCFF;
  background: #70CCFF;
  margin-top: 1px;
  height: 6px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.in01{
	width:16%;
	}
.in02{
	width:36%;
	}
.in03{
	width:64%;
	}
.in04{
	width:99%;
	}
.progress_list{
	margin-top:14px;
	width:100%;
	}
.progress_list li{
	float:left;
	width:18%;
	text-align: center;
	font-size:1.6em;
	}
	
.progress_list .first{
	text-align:center;
	width:19%;
	}
.progress_list .second{
	text-align:center;
	width:14%;
	margin-left:12%
	}
.progress_list .end{
	text-align: right;
	width:14%;
	margin-left:12%
	}
.progress_list .current{
	color:#267cab;
	}
.module-product-box	{
	font-family: Helvetica, Chinese, "微軟正黑體", sans-serif;
	}
.module-product-innerbox-bottom p{
	color:#3A3A38
	}	
.experience_cover{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#fff;
	filter:alpha(opacity=70);   
	-moz-opacity:0.7;   
	-khtml-opacity: 0.7;   
	opacity: 0.7;
	z-index:1;
	}
.experience_current{
	background-color:#fff;
	filter:alpha(opacity=0);   
	-moz-opacity:0;   
	-khtml-opacity: 0;   
	opacity:0;
	}
.experience_cover a{
	float:right;
	width:40%;
	height:30%;
	display:block
	}
.module-product-box{
	font-weight:normal
	}

ul.products .learn_more{
	margin-left:10px;
	position:relative;
vertical-align: top;
}

.c2{
	position:absolute;
	width:362px;
	height:134px;
	padding-left:35px;
	padding-top:20px;
	top:10px;
	background:url(../../images/c2.png) no-repeat;	
	}
.c2 h2,.c3 h2,.c5 h2,.m_c5 h2,.m_c3 h2,.m_c2 h2{
	font-size:1.8em;
	color:#333333;
	font-weight:normal;
	line-height:24px;
	margin-bottom:10px;
	}
.c2 .ex-btn-wrap-w{
	float:left;
	}
.c2 .txt2,.m_c2 .txt2{
	font-size:1.4em;
	color:#7e7e7e;
	font-weight:normal;
	line-height:30px;
	float:left;
	word-spacing:1px !important
	
	}
.m_c2{
	display:none;
	width:357px;
	height:141px;
	margin:auto;
	padding-left:25px;
	padding-top:20px;
	top:10px;
	text-align:left;
	margin-bottom:20px;
	background:url(../../images/m_c2.png) no-repeat;	
	}
.c3{
	position:absolute;
	width:362px;
	height:134px;
	padding-left:35px;
	padding-top:20px;
	top:20px;
	width:273px;
	height:127px;	
	background:url(../../images/c3.png) no-repeat;	
	}
.m_c3{
	display:none;
	width:273px;
	height:133px;
	margin:auto;
	padding-left:30px;
	padding-right:25px;
	padding-top:20px;
	margin-bottom:20px;
	text-align:left;
	background:url(../../images/m_c3.png) no-repeat;
	}
.c5{
	position:absolute;
	padding-left:40px;
	padding-top:20px;
	padding-right:30px;
	top:-40px;
	width:404px;
	height:234px;		
	background:url(../../images/c5.png) no-repeat;	
	}
.m_c5{
	margin:auto;
	padding-left:20px;
	padding-top:20px;
	padding-right:30px;
	margin-bottom:20px;
	margin-top:-10px;
	width:270px;
	height:348px;
	text-align:left;	
	background:url(../../images/m_c5.png) no-repeat;
	display:none;	
	}
.m_banner{
	display:none
	}
.col_box{
	width:860px;
	margin:0 auto;
	margin-top:20px;
	padding-bottom:10px;
	}
.bidpopup .col-left {
	height:422px;
	}
.col-left-bar {
	height: 380px;
	
}
.layout-view{
	margin-top:70px;
}

.ex-btn-wrap-m{
	width:150px;
	margin:auto;
	margin-top:15px;
	}
.ex-btn-wrap-w .ex-rounded{
	width:95px;
	margin:auto;
	margin-left:10px;

	}
.c2 .ex-btn-wrap-w .ex-rounded,.m_c2 .ex-btn-wrap-w .ex-rounded{
	font-size:13px;
	width:85px;
	margin:auto;
	margin-left:10px;

	}

@media (max-width: 1023px){
	.layout-view{
		margin-top:50px;
	}
}
.per-bidder {
	line-height: 1.1;
	padding-top: 9PX;
}
.col-left-bidder{
	margin-top:50%
	}
.rangeslider__handle {
background: white;
border: 1px solid #ccc;
cursor: pointer;
display: inline-block;
width: 40px;
height: 40px;
position: absolute;
background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…gd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g");
background-size: 100%;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
border-radius: 50%;
}
.rangeslider__handle:after {
content: "";
display: block;
width: 18px;
height: 18px;
margin: auto;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
background-size: 100%;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.13)), color-stop(100%, rgba(255, 255, 255, 0)));
background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
border-radius: 50%;
}
.rangeslider, .rangeslider__fill {
display: block;
-moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
-webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}
.rangeslider--vertical .rangeslider__fill {
bottom: 0;
width: 100%;
}
.rangeslider__fill {
background: #00ff00;
position: absolute;
}

.rangeslider {
background: #e6e6e6;
position: relative;
}
.num-min {
	text-align:left
	}
.col-left-bidder{
  margin-left: -20px;
  
}

	
.ex-rounded {
width:100%;
margin:auto;
display: inline-block;
font-size: 16px;
line-height: 2.5;
text-align: center;
font-weight: 600;
color: white;
background-color: #ed842f;
cursor: pointer;
-moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
-webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
-moz-border-radius: 30px;
-webkit-border-radius: 30px;
border-radius: 30px;
margin-bottom:7px;

}

.ex-rounded.style-white {
color: #fff;
background-color: #fff;
color:#333333
}
.bidpopup .col-right,.bidpopup .col-left {
	position:relative;
	}

 .w_tip{
	position:absolute;
	right:-210px;
	padding-left:40px;
	padding-top:20px;
	padding-right:32px;
	top:90px;
	width:242px;
	height:197px;
	background:url(../../images/c4.png) no-repeat;
	}
.m_tip{
	margin:auto;
	padding-left:25px;
	padding-top:20px;
	padding-right:32px;
	top:90px;
	width:242px;
	height:210px;
	background:url(../../images/m_c4.png) no-repeat;
	}	
.w_tip .c4_txt,.m_tip .c4_txt{
	width:175px;
	color:#333333;
	white-space: normal;
	font-size:18px;
	line-height:24px;
	}
.btn-selectlike{
	-moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
-webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
	}
#col_box{
	background:#fff;
	}
ul.products .m_interact{
	display:none;	
	}
.m_tip{
	display:none;
	}	
@media screen and (max-width: 768px), screen and (max-device-width: 768px) {
.m_tip{
	display: block;
	}
.w_tip{
	display:none;
	}	
.col_box{
/*width:420px;*/
max-width: 100%;
	height:auto;
	}
.bidpopup .col-right .m_tip .c4_txt{
	font-size:15px;
	}
.section-banner {
	display:block;
	margin-top:20px;
	height:90px;
}

.section-banner h2 {
padding-top: 1em;
}
.m_c3,.m_c5,.m_c2{
	display:block;
	}

ul.products li {
	display:block;
	margin:auto
	}
.c5,.products .hidd,.begin,.sbheader-center,.c3,.c2{
	display:none
	}
.product_wp {
	width: 100%;
}

.bidpopup .module-dl.style-rounded.on-mobile{
	margin-left:0;
	width:82%;
	padding-left:0
	}
.bidpopup .module-dl.style-rounded.on-mobile dt{
	width:35%;
	padding-left:0;
	
	}
.bidpopup .module-dl.style-rounded.on-mobile dd{
	width:40%;
	
	}
.bidpopup .num-max {
	text-align: center;
	padding-left:20%;
	margin-left:0;
	width:2em;
	}
.bidpopup .num-min {
	text-align: center;
	padding-left:0;
	margin-left:0
	}
.bidpopup .module-dl dt {
width:60%;

}
.bidpopup .module-dl dd {
width:38%;
margin-left:0;
padding-left:0;
}
.col-left-bidder {
margin-top: 20%;
}
.experience_form{
	width:100%
	}
.bidpopup .col-right {
	width:50%;
	margin-left: -6px;
	}


.bidpopup .col-left {
	width:50%;
	margin: auto;
	padding-left:0;
	}
.experience_pg{
	width:100%;
	}
.in01,.in02,.in03{
	width:50%;
	}
.in04{
	width:100%;
	}
.progress_list li{
	width:100%;
	text-align:center;
	
	}
.progress_list .end {
text-align: center;
width: 100%;
margin-left: 0%;
}	
.module-product-innerbox-bottom {
padding-left: 0px;
text-align:left;
padding-left:16%;
font-size: 18px;
line-height: 1.2;
}
	
.progress_list .hidd{
	display:none;
	}
.form_prompt_m{
	display:block;
	}
.form_prompt{
	display: none
	}
.experience_progress {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  padding-left: 1%;
}
ul.products .w_interact{
	display:none;	
	}
ul.products .m_interact{
	display: block;	
	}
.progress_list .second {
text-align: center;
width: 100%;
margin-left:0;
}	
	}

@media screen and (max-width: 767px), screen and (max-device-width: 767px) {
	.bidpopup .col-left,.bidpopup .col-right{
		display: block;
		width: 100%;
	}
}
	
@media screen and (max-width: 620px), screen and (max-device-width: 620px) {
.section-banner  h3{
	font-size:14px;
	
	}
}
@media screen and (max-width: 520px), screen and (max-device-width: 520px) {

}
@media screen and (max-width: 480px), screen and (max-device-width: 480px) {


}
@media screen and (max-width: 380px), screen and (max-device-width: 380px) {

}

