/* line 17, ../../sass/vendors/_extend.scss */
#scene4:before, #scene4:after {
  content: " ";
  display: table;
}
/* line 22, ../../sass/vendors/_extend.scss */
#scene4:after {
  clear: both;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 12, ../../sass/_initial.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 33, ../../sass/_initial.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 37, ../../sass/_initial.scss */
body {
  line-height: 1;
}

/* line 40, ../../sass/_initial.scss */
ol, ul {
  list-style: none;
}

/* line 43, ../../sass/_initial.scss */
blockquote, q {
  quotes: none;
}

/* line 46, ../../sass/_initial.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 51, ../../sass/_initial.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 56, ../../sass/_initial.scss */
a.style-normal {
  text-decoration: underline;
  color: #267cab;
}

/* line 60, ../../sass/_initial.scss */
a.style-white {
  text-decoration: none;
  color: white;
}

/* line 64, ../../sass/_initial.scss */
textarea:focus, input:focus {
  outline: 0;
}

/* line 67, ../../sass/_initial.scss */
.style-aligncenter {
  text-align: center;
}

/* line 70, ../../sass/_initial.scss */
.on-desk-block {
  display: block;
}
@media (max-width: 767px) {
  /* line 70, ../../sass/_initial.scss */
  .on-desk-block {
    display: none;
  }
}

/* line 76, ../../sass/_initial.scss */
.on-mobile-block {
  display: none;
}
@media (max-width: 767px) {
  /* line 76, ../../sass/_initial.scss */
  .on-mobile-block {
    display: block;
  }
}

/* line 82, ../../sass/_initial.scss */
.on-mobile-inline-block {
  display: none;
}
@media (max-width: 767px) {
  /* line 82, ../../sass/_initial.scss */
  .on-mobile-inline-block {
    display: inline-block;
  }
}

/* line 88, ../../sass/_initial.scss */
.color-correct {
  color: #70cbff;
}

/* line 92, ../../sass/_initial.scss */
.mt40 {
  margin-top: 40px;
}

/* line 95, ../../sass/_initial.scss */
.mb40 {
  margin-bottom: 40px;
}

/* line 3, ../../sass/units/index.scss */
body {
  background-color: #0e597b;
}

/* line 9, ../../sass/units/index.scss */
#scene1, #scene2, #scene3, #scene4, #scene5 {
  width: 100%;
  position: relative;
  text-align: center;
}

/* line 14, ../../sass/units/index.scss */
#scene1-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 2;
}

/* line 25, ../../sass/units/index.scss */
#scene1 {
  margin-top: 70px;
  height: 650px;
  color: white;
}
@media (max-width: 1023px) {
  /* line 25, ../../sass/units/index.scss */
  #scene1 {
    height: 63vw;
    margin-top: 55px;
  }
}
/* line 36, ../../sass/units/index.scss */
#scene1 h1 {
  font-weight: 500;
  font-size: 60px;
  padding-top: 100px;
  padding-bottom: 40px;
}
/* line 42, ../../sass/units/index.scss */
#scene1 h2 {
  font-size: 28px;
  font-weight: 300;
  line-height: 1.5;
  color: #FCD919;
}
/* line 48, ../../sass/units/index.scss */
#scene1 .swiper-pagination-bullet {
  margin-left: 6px;
  margin-right: 6px;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid white;
}
/* line 55, ../../sass/units/index.scss */
#scene1 .swiper-pagination-bullet::before {
  content: none;
}
/* line 59, ../../sass/units/index.scss */
#scene1 .swiper-pagination-bullet-active {
  background-color: white;
}

/* line 63, ../../sass/units/index.scss */
.scene1-bottom {
  position: absolute;
  bottom: 0;
  margin-bottom: -1px;
  background: url("../../images/bg-tri-twin.svg") center bottom no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200px;
  width: 100%;
  z-index: 2;
}
@media (max-width: 1680px) {
  /* line 63, ../../sass/units/index.scss */
  .scene1-bottom {
    height: 155px;
  }
}
@media (max-width: 1024px) {
  /* line 63, ../../sass/units/index.scss */
  .scene1-bottom {
    height: 10vw;
  }
}

/* line 79, ../../sass/units/index.scss */
.btn-knowmore {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  font-size: 18px;
  line-height: 1.8;
}
/* line 86, ../../sass/units/index.scss */
.btn-knowmore span {
  cursor: pointer;
}
/* line 89, ../../sass/units/index.scss */
.btn-knowmore b, .btn-knowmore img.on-desk {
  font-weight: normal;
}
@media (max-width: 767px) {
  /* line 89, ../../sass/units/index.scss */
  .btn-knowmore b, .btn-knowmore img.on-desk {
    display: none;
  }
}
/* line 95, ../../sass/units/index.scss */
.btn-knowmore .on-mobile {
  display: none;
}
@media (max-width: 767px) {
  /* line 95, ../../sass/units/index.scss */
  .btn-knowmore .on-mobile {
    display: inline-block;
  }
}

/* line 103, ../../sass/units/index.scss */
.bannerswiper-outer {
  position: relative;
  width: 100%;
  height: 650px;
  margin: 0 auto;
  overflow: hidden;
}
@media (max-width: 1023px) {
  /* line 103, ../../sass/units/index.scss */
  .bannerswiper-outer {
    height: 63vw;
  }
}

/* line 113, ../../sass/units/index.scss */
.bannerswiper-container {
  width: 100%;
  height: 650px;
}
@media (max-width: 1023px) {
  /* line 113, ../../sass/units/index.scss */
  .bannerswiper-container {
    height: 63vw;
  }
}
/* line 119, ../../sass/units/index.scss */
.bannerswiper-container .swiper-slide {
  height: 650px;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 1023px) {
  /* line 119, ../../sass/units/index.scss */
  .bannerswiper-container .swiper-slide {
    height: 63vw;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 767px) {
  /* line 129, ../../sass/units/index.scss */
  .bannerswiper-pagination {
    display: none;
  }
}

/* line 135, ../../sass/units/index.scss */
#scene2 {
  padding-top: 30px;
  height: 670px;
  background-color: white;
}
@media (max-width: 1023px) {
  /* line 135, ../../sass/units/index.scss */
  #scene2 {
    padding-top: 30px;
    height: 610px;
  }
}
@media (max-width: 767px) {
  /* line 135, ../../sass/units/index.scss */
  #scene2 {
    height: auto;
  }
}

/* line 152, ../../sass/units/index.scss */
.swiper-outer {
  position: relative;
  width: 980px;
  height: 500px;
  margin: 0 auto;
}
@media (max-width: 1279px) {
  /* line 152, ../../sass/units/index.scss */
  .swiper-outer {
    width: 768px;
  }
}
@media (max-width: 767px) {
  /* line 152, ../../sass/units/index.scss */
  .swiper-outer {
    height: calc(106vw + 75px);
    width: 100%;
  }
}
/* line 167, ../../sass/units/index.scss */
.swiper-outer::before {
  position: absolute;
  z-index: 3;
  display: block;
  content: '';
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.99999) 0%, rgba(255, 255, 255, 0.0001) 100%);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.99999) 0%, rgba(255, 255, 255, 0.0001) 100%);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.99999) 0%, rgba(255, 255, 255, 0.0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#00FFFFFF', GradientType=1);
  left: 0;
  top: 0;
  width: 30px;
  height: 100%;
}
/* line 178, ../../sass/units/index.scss */
.swiper-outer::after {
  position: absolute;
  z-index: 3;
  display: block;
  content: '';
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.99999) 100%);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.99999) 100%);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.99999) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFFFF', endColorstr='#FFFFFFFF', GradientType=1);
  right: 0;
  top: 0;
  width: 30px;
  height: 100%;
}

/* line 190, ../../sass/units/index.scss */
.swiper-container {
  width: 980px;
  height: 595px;
}
@media (max-width: 1279px) {
  /* line 190, ../../sass/units/index.scss */
  .swiper-container {
    width: 768px;
  }
}
@media (max-width: 1023px) {
  /* line 190, ../../sass/units/index.scss */
  .swiper-container {
    height: 565px;
  }
}
@media (max-width: 767px) {
  /* line 204, ../../sass/units/index.scss */
  .swiper-container.on-mobile .swiper-slide {
    height: 106vw;
  }
}
@media (max-width: 767px) {
  /* line 203, ../../sass/units/index.scss */
  .swiper-container.on-mobile {
    width: 100%;
    height: calc(106vw + 60px);
  }
}
/* line 214, ../../sass/units/index.scss */
.swiper-container .swiper-slide {
  height: 500px;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 767px) {
  /* line 227, ../../sass/units/index.scss */
  .swiper-container.on-desk {
    display: none;
  }
}
/* line 232, ../../sass/units/index.scss */
.swiper-container.on-mobile {
  display: none;
}
@media (max-width: 767px) {
  /* line 232, ../../sass/units/index.scss */
  .swiper-container.on-mobile {
    display: block;
  }
}

/* line 240, ../../sass/units/index.scss */
.swiper-button-prev {
  -webkit-transition-property: opacity, background, border;
  transition-property: opacity, background, border;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  width: 80px;
  height: 80px;
  left: -100px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background: url("../../images/icon-arrow-left-blue.png") center no-repeat;
  border: 1px solid #4393c6;
}
/* line 250, ../../sass/units/index.scss */
.swiper-button-prev:hover {
  border: 1px solid #fb8950;
  background: url("../../images/icon-arrow-left-orange.png") center no-repeat;
}
@media (max-width: 1023px) {
  /* line 240, ../../sass/units/index.scss */
  .swiper-button-prev {
    display: none;
  }
}

/* line 258, ../../sass/units/index.scss */
.swiper-button-next {
  -webkit-transition-property: opacity, background, border;
  transition-property: opacity, background, border;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  width: 80px;
  height: 80px;
  right: -100px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background: url("../../images/icon-arrow-right-blue.png") center no-repeat;
  border: 1px solid #4393c6;
}
/* line 268, ../../sass/units/index.scss */
.swiper-button-next:hover {
  border: 1px solid #fb8950;
  background: url("../../images/icon-arrow-right-orange.png") center no-repeat;
}
@media (max-width: 1023px) {
  /* line 258, ../../sass/units/index.scss */
  .swiper-button-next {
    display: none;
  }
}

/* line 277, ../../sass/units/index.scss */
.swiper-pagination-bullet {
  position: relative;
  width: 15px;
  height: 15px;
  background-color: #24868f;
  opacity: 1;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
@media (max-width: 767px) {
  /* line 277, ../../sass/units/index.scss */
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}
/* line 290, ../../sass/units/index.scss */
.swiper-pagination-bullet::before {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  position: absolute;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  left: 0;
  top: 0;
  content: '';
  background-color: #f87431;
  opacity: 0;
  width: 16px;
  height: 16px;
}
@media (max-width: 767px) {
  /* line 290, ../../sass/units/index.scss */
  .swiper-pagination-bullet::before {
    width: 10px;
    height: 10px;
  }
}

/* line 309, ../../sass/units/index.scss */
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #f87431;
}
/* line 312, ../../sass/units/index.scss */
.swiper-pagination-bullet-active::before {
  left: -7px;
  top: -7px;
  opacity: 0.2;
  width: 28px;
  height: 28px;
}
@media (max-width: 767px) {
  /* line 312, ../../sass/units/index.scss */
  .swiper-pagination-bullet-active::before {
    width: 16px;
    height: 16px;
    top: -3px;
    left: -3px;
  }
}

/* line 326, ../../sass/units/index.scss */
.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
  margin: 0 36px;
}
@media (max-width: 1279px) {
  /* line 326, ../../sass/units/index.scss */
  .swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
    margin: 0 26px;
  }
}
@media (max-width: 1023px) {
  /* line 326, ../../sass/units/index.scss */
  .swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
    margin: 0 16px;
  }
}
@media (max-width: 767px) {
  /* line 326, ../../sass/units/index.scss */
  .swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
    margin: 0 7px;
  }
}

/* line 338, ../../sass/units/index.scss */
.swiper-container-horizontal > .swiper-pagination {
  display: inline-block;
  position: relative;
  width: auto;
  bottom: 32px;
  background: url("../../images/bg-line-dotted.png") center repeat-x;
}
/* line 346, ../../sass/units/index.scss */
.swiper-container-horizontal > .swiper-pagination::before {
  content: '';
  position: absolute;
  background: url("../../images/arrow-dot-left.png") center no-repeat;
  width: 8px;
  height: 100%;
  left: -16px;
}
/* line 354, ../../sass/units/index.scss */
.swiper-container-horizontal > .swiper-pagination::after {
  content: '';
  position: absolute;
  background: url("../../images/arrow-dot-right.png") center no-repeat;
  width: 8px;
  height: 100%;
  right: -16px;
}

/* line 363, ../../sass/units/index.scss */
.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
  opacity: 0;
}

/* line 366, ../../sass/units/index.scss */
#scene3 {
  height: 610px;
  background-color: #547ba1;
  background: url("../../images/bg-scene3.jpg") center no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 1023px) {
  /* line 366, ../../sass/units/index.scss */
  #scene3 {
    height: 500px;
  }
}
@media (max-width: 767px) {
  /* line 366, ../../sass/units/index.scss */
  #scene3 {
    height: 760px;
  }
}
/* line 378, ../../sass/units/index.scss */
#scene3 .scene-title {
  padding-top: 70px;
}
@media (max-width: 767px) {
  /* line 381, ../../sass/units/index.scss */
  #scene3 .scene-subtitle {
    font-size: 18px;
  }
}

@media (max-width: 1023px) {
  /* line 387, ../../sass/units/index.scss */
  .arrow-horizonal {
    display: none;
  }
}

/* line 392, ../../sass/units/index.scss */
.choose-chara {
  position: relative;
  height: 265px;
  width: 900px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
@media (max-width: 1023px) {
  /* line 392, ../../sass/units/index.scss */
  .choose-chara {
    width: 100%;
  }
}
/* line 404, ../../sass/units/index.scss */
.choose-chara .choose-chara-circle {
  position: relative;
  height: 265px;
  width: 265px;
  border: 1px solid white;
  border-color: rgba(255, 255, 255, 0.6);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
@media (max-width: 1023px) {
  /* line 404, ../../sass/units/index.scss */
  .choose-chara .choose-chara-circle {
    width: 180px;
    height: 180px;
  }
}
/* line 416, ../../sass/units/index.scss */
.choose-chara .circle-right {
  float: right;
}
@media (max-width: 767px) {
  /* line 416, ../../sass/units/index.scss */
  .choose-chara .circle-right {
    float: none;
    margin-left: auto;
    margin-right: auto;
    top: 120px;
  }
}
/* line 424, ../../sass/units/index.scss */
.choose-chara .circle-right img {
  padding-top: 60px;
}
@media (max-width: 1023px) {
  /* line 424, ../../sass/units/index.scss */
  .choose-chara .circle-right img {
    padding-top: 20px;
  }
}
/* line 431, ../../sass/units/index.scss */
.choose-chara .circle-left {
  float: left;
}
@media (max-width: 767px) {
  /* line 431, ../../sass/units/index.scss */
  .choose-chara .circle-left {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
  }
}
/* line 439, ../../sass/units/index.scss */
.choose-chara .circle-left img {
  padding-top: 70px;
}
@media (max-width: 1023px) {
  /* line 439, ../../sass/units/index.scss */
  .choose-chara .circle-left img {
    padding-top: 30px;
  }
}

/* line 447, ../../sass/units/index.scss */
.choose-chara-circle {
  font-size: 20px;
  line-height: 2;
  cursor: pointer;
}
/* line 452, ../../sass/units/index.scss */
.choose-chara-circle:hover .choose-chara-innercircle-hover {
  opacity: 0;
}

/* line 457, ../../sass/units/index.scss */
.choose-chara-innercircle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 466, ../../sass/units/index.scss */
.choose-chara-innercircle-hover {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  background-image: -webkit-linear-gradient(left, #e6f1ff 20%, #c7fffe 80%);
  background-image: -o-linear-gradient(left, #e6f1ff 20%, #c7fffe 80%);
  background-image: linear-gradient(to right, #e6f1ff 20%, #c7fffe 80%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE6F1FF', endColorstr='#FFC7FFFE', GradientType=1);
  color: #14335d;
  opacity: 1;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 482, ../../sass/units/index.scss */
.circletxt {
  display: block;
  font-weight: 600;
}

@media (max-width: 1023px) {
  /* line 486, ../../sass/units/index.scss */
  .circleimg {
    width: 70px;
  }
}

/* line 491, ../../sass/units/index.scss */
.choose-chara-center {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  display: inline-block;
  font-size: 18px;
  color: white;
}
@media (max-width: 1023px) {
  /* line 491, ../../sass/units/index.scss */
  .choose-chara-center {
    top: 70px;
  }
}
@media (max-width: 767px) {
  /* line 491, ../../sass/units/index.scss */
  .choose-chara-center {
    top: 0;
  }
}
/* line 505, ../../sass/units/index.scss */
.choose-chara-center img {
  vertical-align: middle;
}
/* line 508, ../../sass/units/index.scss */
.choose-chara-center p {
  line-height: 3;
}

/* line 512, ../../sass/units/index.scss */
.choose-chara-center-img {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 517, ../../sass/units/index.scss */
#scene4 {
  height: 610px;
}
@media (max-width: 1023px) {
  /* line 517, ../../sass/units/index.scss */
  #scene4 {
    height: auto;
  }
}
/* line 524, ../../sass/units/index.scss */
#scene4 .scene-title {
  font-size: 28px;
  padding-top: 120px;
  font-weight: 600;
  color: #267cab;
}
@media (max-width: 1279px) {
  /* line 524, ../../sass/units/index.scss */
  #scene4 .scene-title {
    padding-top: 60px;
  }
}
/* line 534, ../../sass/units/index.scss */
#scene4 .col-left {
  position: relative;
  float: left;
  height: 610px;
  width: 70%;
  background-position: center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 541, ../../sass/units/index.scss */
#scene4 .col-left::after {
  position: absolute;
  z-index: 3;
  display: block;
  content: '';
  background-image: -webkit-linear-gradient(left, transparent 0%, #ffffff 90%);
  background-image: -o-linear-gradient(left, transparent 0%, #ffffff 90%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #ffffff 90%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#FFFFFFFF', GradientType=1);
  right: 0;
  top: 0;
  width: 270px;
  height: 100%;
}
@media (max-width: 1023px) {
  /* line 541, ../../sass/units/index.scss */
  #scene4 .col-left::after {
    width: 100%;
    height: 100px;
    top: auto;
    left: 0;
    bottom: 0;
    background-image: -webkit-linear-gradient(top, transparent 0%, #ffffff 90%);
    background-image: -o-linear-gradient(top, transparent 0%, #ffffff 90%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #ffffff 90%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#FFFFFFFF', GradientType=0);
  }
}
@media (max-width: 1023px) {
  /* line 534, ../../sass/units/index.scss */
  #scene4 .col-left {
    float: none;
    width: 100%;
    height: 400px;
  }
}
@media (max-width: 767px) {
  /* line 534, ../../sass/units/index.scss */
  #scene4 .col-left {
    height: 300px;
    height: 56vw;
  }
}
/* line 570, ../../sass/units/index.scss */
#scene4 .col-right {
  float: left;
  text-align: center;
  background-color: #ffffff;
  width: 30%;
  height: 100%;
  padding-left: 70px;
  padding-right: 70px;
}
@media (max-width: 1366px) {
  /* line 570, ../../sass/units/index.scss */
  #scene4 .col-right {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1023px) {
  /* line 570, ../../sass/units/index.scss */
  #scene4 .col-right {
    float: none;
    width: 100%;
    height: auto;
  }
}
/* line 588, ../../sass/units/index.scss */
#scene4 .btn-rounded {
  min-width: 220px;
  margin-bottom: 2em;
}

/* line 593, ../../sass/units/index.scss */
.story-content {
  padding-top: 1em;
  padding-bottom: 2em;
  line-height: 1.8;
  font-size: 18px;
  text-align: left;
  max-height: 246px;
  overflow: hidden;
}

/* line 603, ../../sass/units/index.scss */
#scene5 {
  background-color: #f5f5f5;
  height: 770px;
  text-align: center;
}
@media (max-width: 1023px) {
  /* line 603, ../../sass/units/index.scss */
  #scene5 {
    height: auto;
  }
}

/* line 612, ../../sass/units/index.scss */
.scene5-bottom {
  padding-top: 6em;
}
@media (max-width: 512px) {
  /* line 612, ../../sass/units/index.scss */
  .scene5-bottom {
    padding-top: 2em;
  }
}

/* line 618, ../../sass/units/index.scss */
.module-news-block {
  width: 32%;
  padding-top: 160px;
  padding-left: 35px;
  padding-right: 35px;
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 1023px) {
  /* line 618, ../../sass/units/index.scss */
  .module-news-block {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
  }
}
@media (max-width: 767px) {
  /* line 618, ../../sass/units/index.scss */
  .module-news-block {
    width: 70%;
  }
}
@media (max-width: 512px) {
  /* line 618, ../../sass/units/index.scss */
  .module-news-block {
    width: 90%;
  }
}

/* line 639, ../../sass/units/index.scss */
.module-news-img {
  width: 80%;
  margin-left: 10%;
  overflow: hidden;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transform: rotate(0.001deg);
  background-position: center center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 648, ../../sass/units/index.scss */
.module-news-img::before {
  content: "";
  display: block;
  padding-top: 100%;
}

/* line 654, ../../sass/units/index.scss */
.module-news-text {
  color: #0f3b4c;
}
/* line 657, ../../sass/units/index.scss */
.module-news-text h3 {
  padding-top: 1.5em;
  padding-bottom: 1em;
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
/* line 669, ../../sass/units/index.scss */
.module-news-text p {
  font-size: 18px;
  line-height: 1.8;
  height: 5.4em;
  overflow: hidden;
}
.module-news-text > *{
  display: none;
}
.module-news-text > h3:first-child, .module-news-text > p:nth-child(2){
  display: block;
}
/* line 676, ../../sass/units/index.scss */
.btn-readmore {
  color: #f87431;
  font-size: 20px;
  line-height: 1.5;
  cursor: pointer;
}
@media (max-width: 512px) {
  /* line 676, ../../sass/units/index.scss */
  .btn-readmore {
    padding-bottom: 1em;
  }
}

/* line 686, ../../sass/units/index.scss */
#coop-list {
  border-top: 1px solid #ddd;
  background-color: #fff;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 4em;
}
/* line 692, ../../sass/units/index.scss */
#coop-list .scene-subtitle {
  font-size: 28px;
  font-weight: 600;
  color: #267cab;
}
/* line 698, ../../sass/units/index.scss */
#coop-list li {
  float: left;
  position: relative;
  width: 25%;
}
@media (max-width: 1280px) {
  /* line 698, ../../sass/units/index.scss */
  #coop-list li {
    width: 25%;
  }
}
@media (max-width: 1023px) {
  /* line 698, ../../sass/units/index.scss */
  #coop-list li {
    width: 33%;
  }
}
@media (max-width: 768px) {
  /* line 698, ../../sass/units/index.scss */
  #coop-list li {
    width: 50%;
  }
}
/* line 714, ../../sass/units/index.scss */
#coop-list li::before {
  content: '';
  display: block;
  position: relative;
  width: 100%;
  padding-top: 80%;
}
/* line 721, ../../sass/units/index.scss */
#coop-list li a {
  color: black;
}
/* line 723, ../../sass/units/index.scss */
#coop-list li a:hover {
  color: #267cab;
}
/* line 727, ../../sass/units/index.scss */
#coop-list li .coop-inner {
  display: block;
  position: absolute;
  top: 1em;
  right: 1em;
  bottom: 1em;
  left: 1em;
}
@media (max-width: 1280px) {
  /* line 727, ../../sass/units/index.scss */
  #coop-list li .coop-inner {
    top: 0.5em;
    right: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
  }
}
/* line 741, ../../sass/units/index.scss */
#coop-list li .coop-inner span {
  display: block;
  line-height: 1.2;
  padding-top: 1em;
  padding-bottom: 1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
@media (max-width: 420px) {
  /* line 741, ../../sass/units/index.scss */
  #coop-list li .coop-inner span {
    font-size: 13px;
  }
}
/* line 754, ../../sass/units/index.scss */
#coop-list li .coop-inner img {
  width: 80%;
}
/* line 759, ../../sass/units/index.scss */
#coop-list .btn-more-coop {
  display: none;
  cursor: pointer;
  padding-top: 2em;
  font-size: 20px;
  color: #F87331;
}
/* line 765, ../../sass/units/index.scss */
#coop-list .btn-more-coop i {
  margin-left: 5px;
  font-size: 1.2em;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media (max-width: 1023px) {
  /* line 759, ../../sass/units/index.scss */
  #coop-list .btn-more-coop {
    display: block;
  }
}
@media (max-width: 1023px) {
  /* line 777, ../../sass/units/index.scss */
  #coop-list.is-off li:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)):not(:nth-child(5)):not(:nth-child(6)) {
    display: none;
  }
}
/* line 783, ../../sass/units/index.scss */
#coop-list.is-off .btn-more-coop i {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

/*# sourceMappingURL=index.css.map */

.bannerswiper-outer:not(.on-mobile) {
  display: block;
}
@media (max-width: 1023px) {
  .bannerswiper-outer:not(.on-mobile) {
    display: none;
  }
}

.bannerswiper-outer.on-mobile {
  display: none;
}
@media (max-width: 1023px) {
  .bannerswiper-outer.on-mobile {
    display: block;
  }
}
.swiper-container.on-mobile .swiper-slide img{
  max-width: 100%;
}

@media (max-width: 1023px){
  #scene1 , #scene1 .bannerswiper-outer , #scene1 .bannerswiper-container , #scene1 .bannerswiper-container .swiper-slide{
      height: 110vw !important;
      /*height: calc( 100vh - 10vw - 55px) !important;*/
  }
}