@charset "UTF-8";
/* line 2, ../../sass/units/member.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 3, ../../sass/units/member.scss */
.clearfix:after {
  clear: both;
}

/* line 4, ../../sass/units/member.scss */
.clearfix {
  zoom: 1;
}

/* line 5, ../../sass/units/member.scss */
.fl {
  float: left;
}

/* line 6, ../../sass/units/member.scss */
.clear {
  clear: both;
  font-size: 0px;
  line-height: 0em;
  height: 0;
}

/* line 12, ../../sass/units/member.scss */
.register_t2 .M-y {
  display: none;
}

/* line 15, ../../sass/units/member.scss */
.register-content {
  width: 100%;
  background: #fff;
  padding-top: 30px;
}

/* line 20, ../../sass/units/member.scss */
.register {
  width: 875px;
  margin: 0 auto;
  background: #fff;
}

/* line 25, ../../sass/units/member.scss */
.register-nav {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}

/* line 31, ../../sass/units/member.scss */
.register_t2 .register_column2 .t5 {
  display: none;
}

/* line 34, ../../sass/units/member.scss */
.register-nav ul {
  margin-bottom: 18px;
}

/* line 37, ../../sass/units/member.scss */
.register-nav ul li {
  float: left;
  width: 20%;
  font-size: 100%;
  text-align: center;
  color: #4d4d4d;
}

/* line 44, ../../sass/units/member.scss */
.register-nav ul .current {
  color: #267cab;
}

/* line 47, ../../sass/units/member.scss */
.register-nav ul .current_btn {
  color: #267cab;
}

/* line 50, ../../sass/units/member.scss */
.nav_rate {
  width: 100%;
  border: 1px solid #DFDEDC;
  background: #EBEBEB;
  padding-top: 2px;
  padding-bottom: 2px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding-left: 1%;
}

/* line 61, ../../sass/units/member.scss */
.nav_rate2 {
  border: 1px solid #70CCFF;
  background: #70CCFF;
  margin-top: 1px;
  height: 6px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 70, ../../sass/units/member.scss */
.nav1 {
  width: 18%;
}

/* line 73, ../../sass/units/member.scss */
.nav2 {
  width: 35%;
}

/* line 76, ../../sass/units/member.scss */
.nav3 {
  width: 58%;
}

/* line 79, ../../sass/units/member.scss */
.nav4 {
  width: 78%;
}

/* line 82, ../../sass/units/member.scss */
.nav5 {
  width: 98%;
}

/* line 85, ../../sass/units/member.scss */
.nav_m {
  display: none;
}

/* line 88, ../../sass/units/member.scss */
.register_t1 {
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
}

/* line 93, ../../sass/units/member.scss */
.register_column {
  margin: 0 auto;
  width: 98%;
}

/* line 98, ../../sass/units/member.scss */
.register_t1 dl {
  width: 100%;
  padding-bottom: 22px;
  margin-top: 28px;
}

/* line 103, ../../sass/units/member.scss */
.register_t1 dl dt {
  float: left;
  width: 36px;
  text-align: right;
}

/* line 108, ../../sass/units/member.scss */
.register_t1 dl dd {
  float: left;
  width: 89%;
  margin-left: 2%;
  margin-top: 10px;
}

/* line 114, ../../sass/units/member.scss */
.register_t1 dl .m_dd {
  display: none;
  margin-top: 5px;
}

/* line 118, ../../sass/units/member.scss */
.register_t1 dl dd h1 {
  color: #267cab;
  font-size: 21px;
  font-weight: normal;
  line-height: 28px;
}

/* line 124, ../../sass/units/member.scss */
.register_t1 dl dd .rule {
  color: #ff8c2d;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

/* line 130, ../../sass/units/member.scss */
.register_t1 .r1 {
  margin-bottom: 10px;
}

/* line 134, ../../sass/units/member.scss */
.register_t1 dl dd .txt1 {
  color: #4d4d4d;
  font-size: 15px;
}

/* line 138, ../../sass/units/member.scss */
.register_t1 dl dd .txt2 {
  color: #4d4d4d;
  font-size: 18px;
}

/* line 142, ../../sass/units/member.scss */
.under {
  border-bottom: 1px solid #DDDDDD;
}

/* line 147, ../../sass/units/member.scss */
.register_t2 {
  width: 100%;
  margin-top: 20px;
  border-top: 1px solid #DDDDDD;
  padding-top: 7px;
}

/* line 153, ../../sass/units/member.scss */
.register_column2 {
  width: 70%;
  margin: 0 auto;
}

/* line 157, ../../sass/units/member.scss */
.register_column3 {
  width: 60%;
  margin: 0 auto;
}

/* line 161, ../../sass/units/member.scss */
.register_t2 .M-a {
  display: none;
}

/* line 164, ../../sass/units/member.scss */
.register_t2 h1 {
  color: #bd0d00;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 22px;
}

/* line 173, ../../sass/units/member.scss */
.register_t2 dl {
  width: 336px;
  border: 2px solid #ccc;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 54px;
  line-height: 35px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  margin-bottom: 6px;
  color: #4d4d4d;
}
/* line 185, ../../sass/units/member.scss */
.register_t2 dl.readonly {
  border-color: white;
}
/* line 187, ../../sass/units/member.scss */
.register_t2 dl.readonly dt {
  border-right: 2px white solid;
}

/* line 192, ../../sass/units/member.scss */
.register_t2 dl dt {
  width: 105px;
  padding-left: 6%;
  border-right: 2px solid #ccc;
  line-height: 30px;
  float: left;
  text-align: left;
  font-size: 15px;
}

/* line 202, ../../sass/units/member.scss */
.register_t2 dl.w2 dt {
  padding-left: 4.5%;
}

/* line 205, ../../sass/units/member.scss */
.register_t2 dl dd {
  line-height: 30px;
  width: 66%;
  font-size: 18px;
  float: left;
  text-align: left;
}

/* line 213, ../../sass/units/member.scss */
.register_t2 .select dl {
  margin-left: 0px;
  width: 152px;
}

/* line 217, ../../sass/units/member.scss */
.register_t2 .select dd {
  width: 60px;
}

/* line 220, ../../sass/units/member.scss */
.register_t2 .select dt {
  width: 78px;
  border: 0;
  float: left;
  padding-left: 15px;
}

/* line 227, ../../sass/units/member.scss */
.register_t2 dl input {
  text-align: left;
  border: 0;
  padding-right: 5px;
  padding-left: 5px;
  color: #4d4d4d;
  font-size: 15px;
  text-indent: 4%;
  font-weight: normal;
}

/* line 237, ../../sass/units/member.scss */
.register_t2 .w1 {
  width: 336px;
}

/* line 240, ../../sass/units/member.scss */
.register_t2 .w2 {
  width: 490px;
}

/* line 244, ../../sass/units/member.scss */
.register_t2 .w1 input {
  width: 180px;
}

/* line 247, ../../sass/units/member.scss */
.register_t2 .w2 input {
  width: 338px;
}

/* line 250, ../../sass/units/member.scss */
.register_t2 .year {
  float: left;
  margin-right: 8px;
}

/* line 254, ../../sass/units/member.scss */
.register_t2 .area {
  float: left;
  margin-right: 8px;
}

/* line 258, ../../sass/units/member.scss */
.register_t2 select {
  width: 55px;
  background: #fff;
  border: 0px;
  font-size: 14px;
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-image: url(../../images/g-drap.png);
  background-position: right 1rem center;
  font-family: "Helvetica Neue", Helvetica, Arial, Chinese, "微軟正黑體", sans-serif;
  color: #4d4d4d;
  padding: 0px 10px;
}

/* line 271, ../../sass/units/member.scss */
.register_t2 h2 {
  color: #bd0d00;
  font-size: 15px;
  font-weight: normal;
  line-height: 25px;
  margin-top: 10px;
  margin-bottom: 22px;
  padding-left: 30px;
}

/* line 280, ../../sass/units/member.scss */
.register_t2 .acc {
  width: 99%;
  border: 2px solid #ccc;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 54px;
  line-height: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  margin-bottom: 8px;
  margin-top: 20px;
  text-align: center;
  color: #4d4d4d;
}

/* line 295, ../../sass/units/member.scss */
.register_t2 .acc_no {
  border: 2px solid #BD0D00;
  color: #BD0D00;
}

/* line 299, ../../sass/units/member.scss */
.register_t2 .tip {
  margin-top: 9px;
  color: #70cbff;
  width: 80%;
  font-size: 15px;
}

/* line 305, ../../sass/units/member.scss */
.register_t2 .acc input {
  margin: 0 auto;
  border: none;
  text-align: center;
  width: 90%;
  font-size: 15px;
}

/* line 313, ../../sass/units/member.scss */
.register_t2 .register_column3 input {
  color: #4d4d4d;
}

/* line 317, ../../sass/units/member.scss */
.register_t2 .tip_no {
  color: #BD0D00;
}

/* line 320, ../../sass/units/member.scss */
.register_t2 .pass_tip {
  text-align: left;
  color: #BD0D00;
  width: 90%;
  line-height: 1.2;
  margin-top: 9px;
  margin-bottom: 10px;
  padding-left: 24px;
}
@media screen and (max-width: 678px), screen and (max-device-width: 678px) {
  /* line 320, ../../sass/units/member.scss */
  .register_t2 .pass_tip {
    padding-left: 0;
  }
}

/* line 334, ../../sass/units/member.scss */
.pass_secure li {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 339, ../../sass/units/member.scss */
.pass_secure {
  text-align: left;
  margin-top: 9px;
  color: #4d4d4d;
  width: 98%;
}

/* line 345, ../../sass/units/member.scss */
.pass_s1 {
  float: left;
  width: 85px;
  padding-left: 0.5em;
}

/* line 350, ../../sass/units/member.scss */
.pass_s2 {
  float: left;
  width: 76%;
  width: calc( 100% - 140px);
  margin-left: 2%;
}

/* line 356, ../../sass/units/member.scss */
.pass_s3 {
  float: left;
  width: 30px;
  text-align: center;
}

/* line 361, ../../sass/units/member.scss */
.pass_rate {
  width: 100%;
  border: 1px solid #DFDEDC;
  background: #EBEBEB;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 3px;
  height: 13px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding-left: 1%;
}

/* line 375, ../../sass/units/member.scss */
.pass_rate2 {
  border: 1px solid #70CCFF;
  background: #70CCFF;
  margin-top: 1px;
  height: 6px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 384, ../../sass/units/member.scss */
.register_t2 .statement {
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 16px;
  color: #333333;
  line-height: 25px;
}

/* line 392, ../../sass/units/member.scss */
.register_t2 .statement a {
  color: #267cab;
  text-decoration: underline;
}

/* line 396, ../../sass/units/member.scss */
.register_t2 .statement .check {
  padding-bottom: 12px;
}

/* line 400, ../../sass/units/member.scss */
.register_t2 .radio {
  float: left;
  width: 8%;
}

/* line 404, ../../sass/units/member.scss */
.register_t2 .radio_txt {
  float: left;
  width: 90%;
}

/* line 408, ../../sass/units/member.scss */
.email_Verify {
  margin: 0 auto;
  width: 95%;
  margin-top: 40px;
  padding-bottom: 20px;
}

/* line 414, ../../sass/units/member.scss */
.email_Verify h1 {
  font-size: 20px;
  font-weight: normal;
  color: #267cab;
  padding-bottom: 28px;
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 24px;
  text-align: center;
}

/* line 424, ../../sass/units/member.scss */
.email_Verify h2 {
  font-size: 18px;
  font-weight: normal;
  color: #4d4d4d;
  margin-bottom: 20px;
  text-align: center;
}

/* line 431, ../../sass/units/member.scss */
.email_Verify .email_style {
  width: 80%;
  margin: 0 auto;
}

/* line 435, ../../sass/units/member.scss */
.email_Verify .email {
  float: left;
  width: 70%;
  height: 55px;
  padding-bottom: 10px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border: 2px solid #ddd;
}

/* line 445, ../../sass/units/member.scss */
.email_Verify .email dt {
  float: left;
  padding-left: 5%;
  padding-right: 3%;
  height: 35px;
  border-right: 2px solid #ddd;
  color: #4d4d4d;
  line-height: 30px;
  margin-top: 10px;
}

/* line 455, ../../sass/units/member.scss */
.email_Verify .email dd {
  float: left;
  width: 70%;
  margin-top: 5px;
  padding-left: 3%;
}

/* line 462, ../../sass/units/member.scss */
.email_Verify .email_b {
  width: 97%;
  margin-left: 2%;
  font-size: 15px;
  border: 0;
  font-weight: normal;
  color: #4d4d4d;
}

/* line 471, ../../sass/units/member.scss */
.email_button {
  text-align: center;
  display: inline-block;
  font-size: 20px;
  line-height: 50px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  color: #4C4C4C;
  background-color: #DDDDDD;
  cursor: pointer;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#DDDDDD', GradientType=1);
  font-family: "Helvetica Neue", Helvetica, Arial, Chinese, "微軟正黑體", sans-serif;
}

/* line 488, ../../sass/units/member.scss */
.email_b {
  width: 220px;
  font-size: 1em;
  margin-top: 7px;
  margin-left: 8px;
}

/* line 494, ../../sass/units/member.scss */
.home_btn {
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
}

/* line 499, ../../sass/units/member.scss */
.home_btn .btn-rounded {
  font-weight: 500;
}

/* line 502, ../../sass/units/member.scss */
.email_button a {
  color: #4C4C4C;
  text-decoration: none;
}

/* line 507, ../../sass/units/member.scss */
.phone_Verify {
  margin: 0 auto;
  width: 95%;
  margin-top: 30px;
  padding-bottom: 50px;
}

/* line 513, ../../sass/units/member.scss */
.phone_Verify h1 {
  font-size: 20px;
  font-weight: normal;
  color: #267cab;
  padding-bottom: 28px;
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 24px;
  text-align: center;
  line-height: 28px;
}

/* line 524, ../../sass/units/member.scss */
.register_t1 .re_btn, .register_t2 .re_btn {
  padding-top: 40px;
  text-align: center;
}

/* line 529, ../../sass/units/member.scss */
.register_t1 .btn-rounded a, .register_t2 .btn-rounded a, .phone_Verify .btn-rounded a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

/* line 535, ../../sass/units/member.scss */
.phone_Verify .button {
  width: 175px;
  margin: 0 auto;
  margin-top: 30px;
}

/* line 541, ../../sass/units/member.scss */
.phone_Verify .phone_num {
  width: 600px;
  margin-left: 28%;
  margin-bottom: 20px;
}

/* line 546, ../../sass/units/member.scss */
.phone_Verify .phone_input {
  width: 323px;
  margin: 0 auto;
  border: 2px solid #ccc;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 54px;
  line-height: 25px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  margin-bottom: 8px;
  margin-top: 23px;
  text-align: center;
  color: #4d4d4d;
  float: left;
}

/* line 563, ../../sass/units/member.scss */
.phone_Verify .phone_input input {
  border: none;
  font-size: 1em;
  color: #4d4d4d;
  text-align: center;
  margin-bottom: 30px;
}

/* line 570, ../../sass/units/member.scss */
.phone_Verify .erro {
  width: 250px;
  color: #bd0d00;
  line-height: 24px;
  top: 0;
  text-align: left;
  float: left;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

/* line 581, ../../sass/units/member.scss */
.phone_Verify .up {
  color: #bd0d00;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

/* line 587, ../../sass/units/member.scss */
.phone_Verify .up .email_style {
  margin-left: 8px;
}

/* line 591, ../../sass/units/member.scss */
.phone_time {
  text-align: center;
  margin-top: 26px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

/* line 597, ../../sass/units/member.scss */
.phone_time .f1 {
  font-size: 21px;
  color: #4d4d4d;
  font-weight: normal;
}

/* line 602, ../../sass/units/member.scss */
.phone_time .f1 span {
  font-size: 30px;
  color: #bd0d00;
}

/* line 606, ../../sass/units/member.scss */
.phone_time .f2 {
  font-size: 15px;
  color: #bd0d00;
  font-weight: normal;
  line-height: 20px;
}

/* line 612, ../../sass/units/member.scss */
.phone_repeat {
  margin-top: 25px;
}

/* line 615, ../../sass/units/member.scss */
.phone_repeat .n1 {
  width: 60%;
  margin: 0 auto;
  font-size: 18px;
  color: #267cab;
  text-align: center;
}

/* line 622, ../../sass/units/member.scss */
.phone_repeat .n2 {
  width: 60%;
  margin: 0 auto;
  font-size: 18px;
  color: #4d4d4d;
  margin-top: 20px;
  text-align: center;
  line-height: 25px;
}

/* line 631, ../../sass/units/member.scss */
.re_status {
  width: 100%;
  margin: 0 auto;
}

/* line 636, ../../sass/units/member.scss */
.register_status {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #ccc;
  margin-top: 30px;
}

/* line 643, ../../sass/units/member.scss */
.status_txt {
  width: 100%;
  margin: 0 auto;
  margin-top: 22px;
}

/* line 648, ../../sass/units/member.scss */
.status_txt dt {
  float: left;
  text-align: left;
  width: 6%;
}

/* line 653, ../../sass/units/member.scss */
.status_txt dd {
  float: left;
  width: 94%;
}

/* line 657, ../../sass/units/member.scss */
.status_txt h1 {
  color: #267cab;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
  margin-top: 1%;
  width: 94%;
}

/* line 665, ../../sass/units/member.scss */
.status_txt h2 {
  color: #ff8c2d;
  font-size: 18px;
  font-weight: normal;
  margin-top: 21px;
}

/* line 671, ../../sass/units/member.scss */
.status_txt h3 {
  color: #267cab;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  line-height: 26px;
  letter-spacing: 0;
}

/* line 679, ../../sass/units/member.scss */
.status_txt h4 {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  line-height: 26px;
}

/* line 686, ../../sass/units/member.scss */
.status_txt .c1 {
  color: #ff8c2d;
}

/* line 689, ../../sass/units/member.scss */
.status_txt .c2 {
  color: #bd0d00;
}

/* line 692, ../../sass/units/member.scss */
.status_txt .gray {
  color: #4d4d4d;
  font-size: 14px;
  line-height: 23px;
}

/* line 697, ../../sass/units/member.scss */
.under {
  border-bottom: 1px solid #DDDDDD;
}

/* line 700, ../../sass/units/member.scss */
.status_t1 {
  text-align: center;
  color: #267cab;
  font-size: 21px;
  margin-top: 28px;
}

/* line 706, ../../sass/units/member.scss */
.status_photo {
  width: 53%;
  margin: 0 auto;
  margin-top: 30px;
}

/* line 712, ../../sass/units/member.scss */
.status_photo .p1 {
  float: left;
  width: 23%;
  line-height: 50px;
  border-right: 1px solid #ddd;
  color: #4d4d4d;
}

/* line 719, ../../sass/units/member.scss */
.status_photo .p2 {
  float: left;
  margin-left: 5%;
  width: 45%;
  color: #4d4d4d;
  padding-right: 1em;
}
/* line 725, ../../sass/units/member.scss */
.status_photo .p2 img {
  max-width: 100%;
}

/* line 729, ../../sass/units/member.scss */
.status_photo .p3 {
  float: left;
  width: 23%;
  min-width: 105px;
  color: #4d4d4d;
}
/* line 734, ../../sass/units/member.scss */
.status_photo .p3 .btn-rounded {
  min-width: 105px;
}

/* line 739, ../../sass/units/member.scss */
.status_button {
  width: 115px;
  height: 51px;
  font-size: 15px;
  margin-bottom: 10px;
}

/* line 745, ../../sass/units/member.scss */
.status_photo p {
  margin-top: 9px;
  color: #4d4d4d;
  margin-bottom: 10px;
}

/* line 750, ../../sass/units/member.scss */
.status_video {
  margin-top: 30px;
}

/* line 753, ../../sass/units/member.scss */
.video_play {
  width: 63%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 28px;
}

/* line 759, ../../sass/units/member.scss */
.video_name {
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
}

/* line 765, ../../sass/units/member.scss */
.b25 {
  width: 25%;
}

/* line 769, ../../sass/units/member.scss */
.b139 {
  width: 139px;
}

/* line 772, ../../sass/units/member.scss */
.btn_w2 {
  width: 170px;
}

/* line 775, ../../sass/units/member.scss */
.btn_w3 {
  width: 250px;
}

/* line 778, ../../sass/units/member.scss */
.status_btn a, .home_btn a {
  color: #fff;
  text-align: center;
  text-decoration: none;
}

/* line 783, ../../sass/units/member.scss */
.status_btn .btn1, .home_btn .btn1 {
  float: left;
  margin-right: 23px;
  margin-bottom: 10px;
}

/* line 788, ../../sass/units/member.scss */
.status_btn .btn-rounded, .home_btn .btn-rounded {
  width: auto;
  text-align: center;
}

/* line 792, ../../sass/units/member.scss */
.status_brank {
  width: 67%;
  margin: 0 auto;
  margin-bottom: 23px;
  margin-top: 29px;
  color: #4D4D4D;
  font-weight: normal;
}

/* line 801, ../../sass/units/member.scss */
.status_brank input {
  border: none;
  width: 100%;
}

/* line 805, ../../sass/units/member.scss */
.status_brank select {
  width: 100%;
  border: none;
  background: none;
  border: 0px;
  font-size: 14px;
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-image: url(../../images/g-drap.png);
  background-position: right 1rem center;
  font-family: "Helvetica Neue", Helvetica, Arial, Chinese, "微軟正黑體", sans-serif;
  color: #4d4d4d;
  padding: 0px 10px;
}

/* line 819, ../../sass/units/member.scss */
.status_upload {
  width: 63%;
  margin: 0 auto;
  margin-bottom: 25px;
}

/* line 824, ../../sass/units/member.scss */
.status_upload .p1 {
  float: left;
  width: 16%;
  line-height: 50px;
  border-right: 1px solid #ddd;
  color: #4d4d4d;
}

/* line 831, ../../sass/units/member.scss */
.status_upload .p4 {
  float: left;
  margin-left: 2%;
  width: 28%;
  color: #4d4d4d;
}

/* line 837, ../../sass/units/member.scss */
.status_upload .p5 {
  float: left;
  color: #bd0d00;
  font-size: 15px;
  width: 55%;
  padding-top: 10px;
}

/* line 845, ../../sass/units/member.scss */
.member_nav {
  width: 40%;
  margin: 0 auto;
}

/* line 849, ../../sass/units/member.scss */
.member_nav ul li {
  float: left;
  width: auto;
  font-size: 100%;
  text-align: center;
  color: #4d4d4d;
  width: 50%;
  text-align: center;
}

/* line 859, ../../sass/units/member.scss */
.member_brank {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 23px;
}

/* line 864, ../../sass/units/member.scss */
.member_brank dt {
  width: 37%;
}

/* line 867, ../../sass/units/member.scss */
.member_brank dd {
  width: 50%;
}

/* line 870, ../../sass/units/member.scss */
.top29 {
  margin-top: 29px;
}

/* line 873, ../../sass/units/member.scss */
.thank {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  color: #4d4d4d;
  line-height: 27px;
  padding-top: 33px;
  width: 44%;
}

/* line 882, ../../sass/units/member.scss */
.status_btn {
  width: 182px;
  margin: 0 auto;
  margin-top: 40px;
}

/* line 887, ../../sass/units/member.scss */
.status_btn2 {
  width: 44%;
  margin: 0 auto;
  margin-top: 40px;
}

/* line 893, ../../sass/units/member.scss */
.status_btn2 .btn1 {
  margin-right: 5%;
  margin-bottom: 20px;
}

/* line 898, ../../sass/units/member.scss */
.status_btn .btn-rounded {
  width: 180px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 500;
}

/* line 905, ../../sass/units/member.scss */
.W-hide {
  display: none;
}

/* line 909, ../../sass/units/member.scss */
.module-customselect {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 125px;
  height: 43px;
  z-index: 1;
  font-size: 15px;
  text-align: left;
}

/* line 921, ../../sass/units/member.scss */
.module-customselect.style-l {
  width: 240px;
}

/* line 924, ../../sass/units/member.scss */
.module-customselect.is-on {
  z-index: 10;
}

/* line 927, ../../sass/units/member.scss */
.module-customselect .module-customselect-selected {
  position: absolute;
  display: block;
  line-height: 43px;
  font-size: 15px;
  top: 0;
  left: 0;
  height: 100%;
  width: 95%;
  background: url("../../images/icon-select.png") right center no-repeat white;
  border: 2px solid #ddd;
  padding-left: 1.5em;
  z-index: 2;
  cursor: pointer;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}

/* line 946, ../../sass/units/member.scss */
.module-customselect.is-on .module-customselect-selected, .module-customselect.is-on ul {
  border-color: #bbb;
}

/* line 949, ../../sass/units/member.scss */
.module-customselect.is-on ul {
  opacity: 1;
  padding-top: 32px;
  max-height: 999px;
}

/* line 954, ../../sass/units/member.scss */
.module-customselect ul {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  position: absolute;
  top: 22px;
  left: 0;
  width: 95%;
  background-color: white;
  border: 2px solid #ddd;
  z-index: 1;
  padding-top: 0;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding-top: 8px;
}

/* line 975, ../../sass/units/member.scss */
.module-customselect.is-on .module-customselect-selected, .module-customselect.is-on ul {
  border-color: #bbb;
}

/* line 978, ../../sass/units/member.scss */
.module-customselect ul li {
  width: 100%;
  height: 43px;
  line-height: 43px;
  color: #4d4d4d;
  width: auto;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

/* line 992, ../../sass/units/member.scss */
.module-customselect ul li:hover {
  background-color: #f0f0f0;
}

/* line 995, ../../sass/units/member.scss */
.module-customselect-typename {
  position: absolute;
  left: 0;
  top: 10px;
  z-index: 3;
  font-size: 15px;
  line-height: 35px;
  color: #4d4d4d;
  border-right: 2px solid #ddd;
  width: 24%;
  padding: 0 2%;
  text-align: center;
}

/* line 1008, ../../sass/units/member.scss */
.module-customselect-selected input {
  width: 50%;
}

/* line 1011, ../../sass/units/member.scss */
.b4_select .module-customselect-selected {
  text-indent: 25%;
  line-height: 50px;
}

/* line 1015, ../../sass/units/member.scss */
.b4_form {
  margin-bottom: 10px;
}

/* line 1018, ../../sass/units/member.scss */
.inp01 {
  width: 100%;
  height: 60px;
}

/* line 1022, ../../sass/units/member.scss */
.inp_left01 {
  width: 24%;
  text-align: left;
  padding-left: 5%;
}

/* line 1027, ../../sass/units/member.scss */
.m_btn {
  margin-left: 8px;
  font-size: 1em;
}

/* line 1031, ../../sass/units/member.scss */
.register-content .news_button {
  text-align: center;
  display: inline-block;
  font-size: 20px;
  line-height: 50px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
  color: #fff;
  background-color: #ed842f;
  cursor: pointer;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#DDDDDD', GradientType=1);
  font-family: "Helvetica Neue", Helvetica, Arial, Chinese, "微軟正黑體", sans-serif;
}
/* line 1050, ../../sass/units/member.scss */
.register-content .news_button.style-fb {
  background-color: #3B5999;
}
/* line 1053, ../../sass/units/member.scss */
.register-content .news_button.style-gray {
  background-color: #ddd;
}
/* line 1055, ../../sass/units/member.scss */
.register-content .news_button.style-gray a {
  color: #444;
}

/* line 1060, ../../sass/units/member.scss */
.register-content .news_button a {
  text-decoration: none;
  color: #fff;
}

/* line 1065, ../../sass/units/member.scss */
.acc_no ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #BD0D00;
}

/* line 1066, ../../sass/units/member.scss */
.acc_no :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #BD0D00;
}

/* line 1067, ../../sass/units/member.scss */
.acc_no ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #BD0D00;
}

/* line 1068, ../../sass/units/member.scss */
.acc_no :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #BD0D00;
}

/* COPY FROM css_678.css */
/* line 1071, ../../sass/units/member.scss */
.layout-view {
  min-width: 320px;
}

/* line 1074, ../../sass/units/member.scss */
.b1_2_form {
  margin-bottom: 6px;
}

/* line 1077, ../../sass/units/member.scss */
.b1_2_form .module-customselect {
  width: 162px;
  height: 54px;
  margin: 0;
}

/* line 1082, ../../sass/units/member.scss */
.b1_2_form .module-customselect-selected {
  line-height: 52px;
  color: #4d4d4d;
}

/* line 1086, ../../sass/units/member.scss */
.b1_2_mobile {
  display: none;
}

/* line 1089, ../../sass/units/member.scss */
.register-content .btn-rounded {
  line-height: 56px;
  margin-bottom: 5px;
}

/* line 1093, ../../sass/units/member.scss */
.b168 {
  width: 168px;
  text-align: center;
}

@media screen and (max-width: 767px), screen and (max-device-width: 767px) {
  /* line 1099, ../../sass/units/member.scss */
  .status_btn2 {
    width: 182px;
  }

  /* line 1102, ../../sass/units/member.scss */
  .email_button, .register-content .btn-rounded {
    font-size: 1em;
  }

  /* line 1105, ../../sass/units/member.scss */
  .email_Verify .email {
    float: none;
  }

  /* line 1108, ../../sass/units/member.scss */
  .m_btn {
    display: block;
    margin: 0 auto;
    width: 130px;
  }

  /* line 1113, ../../sass/units/member.scss */
  .hidd {
    display: none;
  }

  /* line 1116, ../../sass/units/member.scss */
  .b1_2_form {
    display: none;
  }

  /* line 1119, ../../sass/units/member.scss */
  .b1_2_mobile {
    display: block;
  }

  /* line 1122, ../../sass/units/member.scss */
  .register {
    width: 100%;
    margin: 0 auto;
    max-width: 670px;
    min-width: 320px;
  }

  /* line 1128, ../../sass/units/member.scss */
  .register_t1 dl dd h1 {
    margin-top: 20px;
    font-size: 18px;
  }

  /* line 1132, ../../sass/units/member.scss */
  .register_t1 dl dd .rule {
    font-size: 16px;
  }

  /* line 1135, ../../sass/units/member.scss */
  .register_t2 dl {
    width: 100%;
    padding-top: 12px;
    height: 54px;
    line-height: 54px;
    border: 0;
    margin-bottom: 6px;
  }

  /* line 1143, ../../sass/units/member.scss */
  .register_t1 dl dt {
    float: left;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 18px;
  }

  /* line 1150, ../../sass/units/member.scss */
  .register_t1 dl dd {
    float: left;
    width: 100%;
    border-bottom: none;
    padding-bottom: 18px;
    margin-bottom: 0px;
  }

  /* line 1157, ../../sass/units/member.scss */
  .register_t1 dl .m_dd {
    display: block;
    font-size: 14px;
  }

  /* line 1161, ../../sass/units/member.scss */
  .register_t1 dl .w_dd {
    display: none;
  }

  /* line 1164, ../../sass/units/member.scss */
  .register_column {
    border-bottom: 0;
  }

  /* line 1167, ../../sass/units/member.scss */
  .register_column2 {
    width: 80%;
    margin: 0 auto;
  }

  /* line 1171, ../../sass/units/member.scss */
  .register_t1 dl {
    padding-bottom: 0px;
    padding-top: 0;
  }

  /* line 1176, ../../sass/units/member.scss */
  .register_t1 .re_btn {
    margin-top: 0px;
    text-align: center;
  }

  /* line 1180, ../../sass/units/member.scss */
  .under {
    border-bottom: 0;
  }

  /* line 1184, ../../sass/units/member.scss */
  .register_t2 dl {
    width: 100%;
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    height: 44px;
  }

  /* line 1194, ../../sass/units/member.scss */
  .register_t2 dl dt, .register_t2 dl.w2 dt {
    width: 85px;
    padding-left: 0;
    border-right: 0;
    border: 0;
    text-align: left;
    line-height: 50px;
    height: 40px;
  }

  /* line 1203, ../../sass/units/member.scss */
  .register_t2 dl dd {
    padding: 0;
    width: 250px;
  }

  /* line 1207, ../../sass/units/member.scss */
  .register_t2 select {
    width: 55px;
    background: #fff;
    font-size: 14px;
    -webkit-appearance: none;
    background-repeat: no-repeat;
    background-image: url(../../images/g-drap.png);
    background-position: right 1rem center;
    font-family: "Helvetica Neue", Helvetica, Arial, Chinese, "微軟正黑體", sans-serif;
    color: #4d4d4d;
    padding: 10px 5px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding-left: 3%;
    border: 2px solid #ccc;
    width: 100px;
    margin-right: 2px;
  }

  /* line 1227, ../../sass/units/member.scss */
  .register_t2 .select dt {
    padding-left: 0px;
    width: 85px;
  }

  /* line 1231, ../../sass/units/member.scss */
  .register_t2 .w_y {
    display: none;
  }

  /* line 1234, ../../sass/units/member.scss */
  .register_t2 .statement {
    width: 90%;
  }

  /* line 1237, ../../sass/units/member.scss */
  .register_t2 h2 {
    padding-left: 0px;
  }

  /* line 1240, ../../sass/units/member.scss */
  .register_t2 .statement {
    width: 98%;
  }

  /* line 1243, ../../sass/units/member.scss */
  .register_t2 .w1 {
    width: 98%;
  }

  /* line 1246, ../../sass/units/member.scss */
  .register_t2 .w2 {
    width: 98%;
  }

  /* line 1249, ../../sass/units/member.scss */
  .register_t2 .w2 dd {
    padding: 0;
    width: 75%;
  }

  /* line 1253, ../../sass/units/member.scss */
  .register_t2 .w1 dd {
    padding: 0;
    width: 75%;
  }

  /* line 1258, ../../sass/units/member.scss */
  .register_t2 dl input {
    text-align: left;
    border: 2px solid #ccc;
    height: 45px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding-left: 8%;
  }

  /* line 1267, ../../sass/units/member.scss */
  .register_t2 .w1 input {
    width: 80%;
  }

  /* line 1270, ../../sass/units/member.scss */
  .register_t2 .w2 input {
    width: 98%;
  }

  /* line 1273, ../../sass/units/member.scss */
  .email_Verify h1 {
    line-height: 27px;
    font-size: 18px;
    text-align: left;
  }

  /* line 1278, ../../sass/units/member.scss */
  .email_Verify h2 {
    line-height: 22px;
    font-size: 16px;
    text-align: left;
  }

  /* line 1283, ../../sass/units/member.scss */
  .email_Verify .email {
    float: left;
    width: 100%;
  }

  /* line 1288, ../../sass/units/member.scss */
  .register_t2 .email_Verify .email_button {
    width: 120px;
    float: none;
    margin-left: 0 auto;
    margin-top: 20px;
  }

  /* line 1295, ../../sass/units/member.scss */
  .email_Verify .email_style {
    width: 99%;
  }

  /* line 1299, ../../sass/units/member.scss */
  .email_Verify .email {
    float: none;
    width: 99%;
    border: 0;
  }

  /* line 1305, ../../sass/units/member.scss */
  .email_Verify .email dd {
    width: 35%;
    float: left;
  }

  /* line 1309, ../../sass/units/member.scss */
  .email_Verify .email dt {
    border-right: 0;
  }

  /* line 1312, ../../sass/units/member.scss */
  .email_Verify .email dd {
    border-right: 0;
    width: 65%;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    border: 2px solid #ddd;
    margin-left: 2%;
  }

  /* line 1325, ../../sass/units/member.scss */
  .email_Verify .email input {
    width: 90%;
  }

  /* line 1329, ../../sass/units/member.scss */
  .phone_Verify h1 {
    text-align: left;
    font-size: 18px;
  }

  /* line 1333, ../../sass/units/member.scss */
  .phone_Verify .phone_num {
    width: 98%;
    margin-left: 0;
    margin-bottom: 10px;
  }

  /* line 1338, ../../sass/units/member.scss */
  .phone_Verify .phone_input {
    width: 95%;
  }

  /* line 1341, ../../sass/units/member.scss */
  .phone_Verify .erro {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
  }

  /* line 1348, ../../sass/units/member.scss */
  .phone_repeat .n1 {
    width: 98%;
    font-size: 16px;
  }

  /* line 1352, ../../sass/units/member.scss */
  .phone_repeat .n2 {
    width: 98%;
    font-size: 16px;
  }

  /* line 1356, ../../sass/units/member.scss */
  .register_t2 .area {
    float: none;
  }

  /* line 1359, ../../sass/units/member.scss */
  .phone_Verify .up {
    width: 99%;
    margin: 0 auto;
    float: none;
    text-align: center;
  }

  /* line 1365, ../../sass/units/member.scss */
  .register-nav ul .current {
    width: 100%;
    text-align: center;
  }

  /* line 1370, ../../sass/units/member.scss */
  .phone_Verify .up {
    color: #bd0d00;
    margin: 0 auto;
    float: none;
    text-align: center;
  }

  /* line 1376, ../../sass/units/member.scss */
  .phone_Verify .phone_input {
    margin-bottom: 20px;
  }

  /* line 1382, ../../sass/units/member.scss */
  .nav_m {
    display: block;
  }

  /* line 1383, ../../sass/units/member.scss */
  .register_t2 .register_column3 {
    width: 80%;
    margin: 0 auto;
    margin-top: 28px;
  }

  /* line 1388, ../../sass/units/member.scss */
  .register_t2 .M_accounts {
    margin-top: 8px;
    color: #4d4d4d;
  }

  /* line 1392, ../../sass/units/member.scss */
  .register_t2 .M_accounts .a1 {
    float: left;
    width: 100px;
    padding-top: 17px;
    font-size: 14px;
  }

  /* line 1398, ../../sass/units/member.scss */
  .register_t2 .M_accounts .a2 {
    float: left;
    width: 60%;
  }

  /* line 1402, ../../sass/units/member.scss */
  .register_t2 .M_accounts .input_style {
    width: 100%;
    text-align: left;
    border: 2px solid #ccc;
    height: 45px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding-left: 8%;
    padding-top: 10px;
  }

  /* line 1414, ../../sass/units/member.scss */
  .register_t2 .M_accounts input {
    border: 0;
    width: 90%;
  }

  /* line 1418, ../../sass/units/member.scss */
  .register_t2 .pass_s2 {
    float: left;
    width: 60%;
  }

  /* line 1422, ../../sass/units/member.scss */
  .register_t2 .M-a {
    display: block;
  }

  /* line 1425, ../../sass/units/member.scss */
  .register_t2 .register_column2 .t5 {
    display: block;
  }

  /* line 1428, ../../sass/units/member.scss */
  .register_t2 .register_column2 .t5 dl {
    margin-top: 5px;
  }

  /* line 1432, ../../sass/units/member.scss */
  .register_t2 .register_column2 .t5 dl dd {
    color: #bd0d00;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
  }

  /* line 1438, ../../sass/units/member.scss */
  .register_t2 .tip {
    text-align: left;
    width: 100%;
    font-size: 14px;
  }

  /* line 1449, ../../sass/units/member.scss */
  .video_play {
    width: 100%;
  }

  /* line 1452, ../../sass/units/member.scss */
  .status_upload {
    width: 60%;
  }

  /* line 1456, ../../sass/units/member.scss */
  .status_upload .p4 {
    width: 38%;
  }

  /* line 1458, ../../sass/units/member.scss */
  .status_upload .p1 {
    width: 25%;
  }

  /* line 1460, ../../sass/units/member.scss */
  .status_upload .p5 {
    width: 100%;
  }

  /* line 1463, ../../sass/units/member.scss */
  .video_play img {
    max-width: 95%;
  }

  /* line 1466, ../../sass/units/member.scss */
  .status_photo {
    width: 98%;
  }

  /* line 1469, ../../sass/units/member.scss */
  .status_photo .p1 {
    float: none;
    width: 100%;
    border: 0;
    text-align: center;
  }

  /* line 1475, ../../sass/units/member.scss */
  .status_photo .p2 {
    float: none;
    width: 100%;
    text-align: center;
    margin-left: 0;
  }

  /* line 1481, ../../sass/units/member.scss */
  .status_photo .p2 img {
    min-width: 90%;
  }

  /* line 1484, ../../sass/units/member.scss */
  .M-hide {
    display: none;
  }

  /* line 1488, ../../sass/units/member.scss */
  .status_photo .p3 {
    margin: 0 auto;
    float: none;
    width: 250px;
    margin-top: 10px;
    text-align: center;
  }

  /* line 1495, ../../sass/units/member.scss */
  .status_photo .p3 .button {
    float: left;
    width: 120px;
    margin-top: 10px;
    margin-right: 2%;
  }

  /* line 1502, ../../sass/units/member.scss */
  .status_photo p {
    width: 100%;
    text-align: left;
    margin-left: 3%;
  }

  /* line 1508, ../../sass/units/member.scss */
  .status_txt dt {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 19px;
    margin-bottom: 19px;
  }

  /* line 1515, ../../sass/units/member.scss */
  .status_txt dd {
    width: 100%;
  }

  /* line 1518, ../../sass/units/member.scss */
  .register_status {
    width: 95%;
    border: 0;
  }

  /* line 1522, ../../sass/units/member.scss */
  .status_btn {
    width: 180px;
    margin: 0 auto;
    margin-top: 30px;
  }

  /* line 1527, ../../sass/units/member.scss */
  .email_b {
    margin: 0 auto;
  }

  /* line 1530, ../../sass/units/member.scss */
  .status_txt h2 {
    font-size: 14px;
  }

  /* line 1533, ../../sass/units/member.scss */
  .line {
    width: 40px;
    height: 2px;
    margin: 0 auto;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
  }

  /* line 1540, ../../sass/units/member.scss */
  .W-hide {
    display: block;
  }

  /* line 1543, ../../sass/units/member.scss */
  .status_brank {
    width: 75%;
  }

  /* line 1545, ../../sass/units/member.scss */
  .inp_left01 {
    width: 38%;
  }

  /* line 1548, ../../sass/units/member.scss */
  .b4_select .inp_right01 {
    text-indent: 38%;
  }

  /* line 1550, ../../sass/units/member.scss */
  .status_txt h1, .status_t1 {
    font-size: 18px;
  }

  /* line 1553, ../../sass/units/member.scss */
  .status_txt h2, .status_txt h3, .status_txt h4 {
    font-size: 16px;
  }

  /* line 1556, ../../sass/units/member.scss */
  .member_nav {
    width: 90%;
  }

  /* line 1559, ../../sass/units/member.scss */
  .thank {
    font-size: 18px;
    width: 98%;
  }

  /* line 1564, ../../sass/units/member.scss */
  .register_t2 .b1_2_mobile .year {
    float: left;
    margin: 0;
    width: 20%;
  }

  /* line 1570, ../../sass/units/member.scss */
  .register_t2 .month {
    float: left;
    width: 80%;
  }

  /* line 1576, ../../sass/units/member.scss */
  .register_t2 .month dd {
    margin-right: 1%;
    float: left;
    width: 30%;
  }

  /* line 1581, ../../sass/units/member.scss */
  .register_t2 .month dd select {
    width: 100%;
  }
}
@media screen and (max-width: 520px), screen and (max-device-width: 520px) {
  /* line 1587, ../../sass/units/member.scss */
  .register_t2 .register_column3 {
    width: 85%;
  }

  /* line 1590, ../../sass/units/member.scss */
  .register_t2 .register_column2 {
    width: 85%;
  }

  /* line 1593, ../../sass/units/member.scss */
  .M_accounts .a2 {
    float: left;
    width: 45%;
  }

  /* line 1597, ../../sass/units/member.scss */
  .register_t1 dl dd .txt1 {
    font-size: 14px;
  }

  /* line 1600, ../../sass/units/member.scss */
  .register_t2 .acc {
    width: 99%;
  }

  /* line 1603, ../../sass/units/member.scss */
  .register_t2 .w2 dd {
    width: 70%;
  }

  /* line 1606, ../../sass/units/member.scss */
  .register_t2 .w1 dd {
    width: 70%;
  }

  /* line 1610, ../../sass/units/member.scss */
  .register_t2 .w1 input {
    width: 98%;
  }

  /* line 1614, ../../sass/units/member.scss */
  .register_t2 .pass_s2 {
    float: left;
    width: 70%;
  }

  /* line 1618, ../../sass/units/member.scss */
  .register_t2 .M-y dt {
    width: 90px;
  }

  /* line 1621, ../../sass/units/member.scss */
  .register_t2 .M-y dd {
    width: 60%;
  }

  /* line 1624, ../../sass/units/member.scss */
  .register_t2 .M-y select {
    width: 28%;
  }

  /* line 1627, ../../sass/units/member.scss */
  .status_upload {
    width: 80%;
  }

  /* line 1630, ../../sass/units/member.scss */
  .status_brank {
    width: 80%;
  }

  /* line 1632, ../../sass/units/member.scss */
  .b4_select .inp_right01 {
    text-indent: 36%;
  }
}
@media screen and (max-width: 480px), screen and (max-device-width: 480px) {
  /* line 1638, ../../sass/units/member.scss */
  .register_t2 .register_column3 {
    width: 95%;
  }

  /* line 1641, ../../sass/units/member.scss */
  .register_t2 .register_column2 {
    width: 95%;
  }

  /* line 1645, ../../sass/units/member.scss */
  .register_t2 dl dd {
    padding: 0;
    width: 205px;
  }

  /* line 1651, ../../sass/units/member.scss */
  .register_t2 .M-y {
    display: block;
    width: 320px;
  }

  /* line 1655, ../../sass/units/member.scss */
  .register_t2 .M-y dt {
    width: 90px;
  }

  /* line 1658, ../../sass/units/member.scss */
  .register_t2 .M-y dd {
    width: 70%;
  }

  /* line 1661, ../../sass/units/member.scss */
  .register_t2 .M-y select {
    width: 32%;
    float: left;
  }

  /* line 1665, ../../sass/units/member.scss */
  .register_t2 .pass_s2 {
    width: 60%;
  }

  /* line 1669, ../../sass/units/member.scss */
  .register_t2 .w2 dd {
    width: 65%;
  }

  /* line 1672, ../../sass/units/member.scss */
  .register_t2 .w1 dd {
    width: 65%;
  }

  /* line 1677, ../../sass/units/member.scss */
  .status_brank {
    width: 90%;
  }

  /* line 1679, ../../sass/units/member.scss */
  .b4_select .inp_right01 {
    text-indent: 36%;
  }

  /* line 1681, ../../sass/units/member.scss */
  .register_t2 .b1_2_mobile .year {
    float: left;
    margin: 0;
    width: 22%;
  }

  /* line 1687, ../../sass/units/member.scss */
  .register_t2 .month {
    float: left;
    width: 75%;
  }

  /* line 1693, ../../sass/units/member.scss */
  .register_t2 .month dd {
    float: left;
    width: 30%;
  }

  /* line 1699, ../../sass/units/member.scss */
  .register_t2 .month dd select {
    width: 100%;
  }
}
@media screen and (max-width: 380px), screen and (max-device-width: 380px) {
  /* line 1704, ../../sass/units/member.scss */
  .register_t2 .register_column3 {
    width: 98%;
    margin: 0 auto;
  }

  /* line 1708, ../../sass/units/member.scss */
  .register_t2 dl {
    width: 100%;
  }

  /* line 1712, ../../sass/units/member.scss */
  .register_t2 .register_column2 {
    width: 98%;
    font-size: 14px;
  }

  /* line 1716, ../../sass/units/member.scss */
  .register_t2 dl dt {
    font-size: 14px;
    width: 70px;
  }

  /* line 1720, ../../sass/units/member.scss */
  .register_t2 .M-y dt {
    width: 80px;
    float: left;
    padding-left: 0;
    font-size: 14px;
  }

  /* line 1726, ../../sass/units/member.scss */
  .register_t2 .M-y dd {
    width: 70%;
  }

  /* line 1729, ../../sass/units/member.scss */
  .register_t2 .M-y select {
    width: 65px;
  }

  /* line 1732, ../../sass/units/member.scss */
  .register_t2 .w1 {
    width: 100%;
  }

  /* line 1735, ../../sass/units/member.scss */
  .register_t2 .w2 {
    width: 100%;
  }

  /* line 1739, ../../sass/units/member.scss */
  .register_t2 .w2 dd {
    width: 178px;
  }

  /* line 1742, ../../sass/units/member.scss */
  .register_t2 .w1 dd {
    width: 178px;
  }

  /* line 1745, ../../sass/units/member.scss */
  .register_t2 dl dt, .register_t2 dl.w2 dt {
    width: 80px;
  }

  /* line 1748, ../../sass/units/member.scss */
  .register_t2 .w1 input {
    width: 98%;
  }

  /* line 1752, ../../sass/units/member.scss */
  .home_btn {
    width: 100%;
    text-align: center;
  }

  /* line 1757, ../../sass/units/member.scss */
  .status_brank {
    width: 100%;
  }

  /* line 1759, ../../sass/units/member.scss */
  .inp_left01 {
    width: 40%;
  }

  /* line 1762, ../../sass/units/member.scss */
  .b4_select .inp_right01 {
    text-indent: 40%;
  }

  /* line 1764, ../../sass/units/member.scss */
  .register_t2 .b1_2_mobile .year {
    float: left;
    margin: 0;
    width: 27%;
  }

  /* line 1770, ../../sass/units/member.scss */
  .register_t2 .month {
    float: left;
    width: 72%;
  }

  /* line 1776, ../../sass/units/member.scss */
  .register_t2 .month dd {
    float: left;
    width: 30%;
  }

  /* line 1782, ../../sass/units/member.scss */
  .register_t2 .month dd select {
    width: 100%;
  }
}
/* line 1787, ../../sass/units/member.scss */
.style-aligncenter .form-warning-text {
  text-align: center;
}

/* line 1791, ../../sass/units/member.scss */
.upload-avatar {
  cursor: pointer;
}

/* line 1794, ../../sass/units/member.scss */
.signup-form-outerwrap {
  border-top: 1px solid #DDDDDD;
  margin-top: 60px;
  padding-top: 1em;
}

/* line 1799, ../../sass/units/member.scss */
.signup-form-wrap {
  width: 520px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  /* line 1799, ../../sass/units/member.scss */
  .signup-form-wrap {
    width: 100%;
    font-size: 13px;
  }
}
/* line 1807, ../../sass/units/member.scss */
.signup-form-wrap .warning-text {
  color: #bd0d00;
  font-size: 18px;
  line-height: 3;
  text-align: center;
}
/* line 1813, ../../sass/units/member.scss */
.signup-form-wrap .form-block {
  margin-left: 0;
}
/* line 1816, ../../sass/units/member.scss */
.signup-form-wrap .module-customselect {
  height: 55px;
  line-height: 55px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  margin-left: 0;
  margin-right: 0;
  width: 163px;
}
@media (max-width: 767px) {
  /* line 1816, ../../sass/units/member.scss */
  .signup-form-wrap .module-customselect {
    height: 45px;
    line-height: 45px;
  }
}
@media (max-width: 767px) {
  /* line 1829, ../../sass/units/member.scss */
  .signup-form-wrap .module-customselect.style-indent {
    display: block;
    margin-left: 6em;
    margin-top: 8px;
  }
}
/* line 1837, ../../sass/units/member.scss */
.signup-form-wrap .module-customselect-selected {
  line-height: 53px;
}
@media (max-width: 767px) {
  /* line 1837, ../../sass/units/member.scss */
  .signup-form-wrap .module-customselect-selected {
    line-height: 43px;
  }
}
@media (max-width: 767px) {
  /* line 1843, ../../sass/units/member.scss */
  .signup-form-wrap .module-checkbox {
    padding-left: 0.5em;
  }
}

/* line 1849, ../../sass/units/member.scss */
.subtitle {
  font-size: 20px;
  font-weight: normal;
  color: #267cab;
  line-height: 2;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 1857, ../../sass/units/member.scss */
.signup-head {
  font-size: 20px;
  font-weight: normal;
  color: #267cab;
  margin-top: 40px;
  padding-bottom: 28px;
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 24px;
  line-height: 2;
  text-align: center;
}
@media (max-width: 767px) {
  /* line 1857, ../../sass/units/member.scss */
  .signup-head {
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 18px;
  }
}

/* line 1873, ../../sass/units/member.scss */
.txt-lg {
  font-size: 18px;
  color: #4d4d4d;
  font-weight: normal;
  line-height: 1.4;
}

/* line 1879, ../../sass/units/member.scss */
.email_style {
  text-align: center;
  padding-top: 20px;
}
/* line 1882, ../../sass/units/member.scss */
.email_style .form-block {
  display: inline-block;
  vertical-align: top;
  margin-top: 0;
}
@media (max-width: 767px) {
  /* line 1886, ../../sass/units/member.scss */
  .email_style .form-block .module-form-label {
    width: 5em;
  }
}
@media (max-width: 1023px) {
  /* line 1891, ../../sass/units/member.scss */
  .email_style .form-block .module-form-input {
    width: 200px;
  }
}
@media (max-width: 767px) {
  /* line 1891, ../../sass/units/member.scss */
  .email_style .form-block .module-form-input {
    width: calc( 98% - 6em );
  }
}
@media (max-width: 767px) {
  /* line 1900, ../../sass/units/member.scss */
  .email_style .btn-rounded {
    display: block;
    margin-top: 1em;
    width: 8em;
    margin-left: auto;
    margin-right: auto;
  }
}

/* line 1910, ../../sass/units/member.scss */
.form-phone-verify {
  text-align: center;
}
/* line 1912, ../../sass/units/member.scss */
.form-phone-verify .btn-rounded {
  min-width: 160px;
}

/* line 1916, ../../sass/units/member.scss */
.form-mmscode-wrap, .form-mmsphonenum-wrap {
  padding-bottom: 1em;
}
/* line 1918, ../../sass/units/member.scss */
.form-mmscode-wrap .sidebox, .form-mmsphonenum-wrap .sidebox {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  height: 55px;
}
@media (max-width: 767px) {
  /* line 1918, ../../sass/units/member.scss */
  .form-mmscode-wrap .sidebox, .form-mmsphonenum-wrap .sidebox {
    display: block;
    width: 100%;
  }
}
@media (max-width: 767px) {
  /* line 1927, ../../sass/units/member.scss */
  .form-mmscode-wrap .sidebox:first-child, .form-mmsphonenum-wrap .sidebox:first-child {
    display: none;
  }
}
/* line 1933, ../../sass/units/member.scss */
.form-mmscode-wrap input, .form-mmsphonenum-wrap input {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  height: 55px;
  margin-left: -5px;
}
@media (max-width: 767px) {
  /* line 1933, ../../sass/units/member.scss */
  .form-mmscode-wrap input, .form-mmsphonenum-wrap input {
    width: 90%;
  }
}
/* line 1943, ../../sass/units/member.scss */
.form-mmscode-wrap .form-warning-text, .form-mmsphonenum-wrap .form-warning-text {
  text-align: left;
  margin-left: -5px;
  padding-left: 1em;
}

/* line 1949, ../../sass/units/member.scss */
.form-mmsphonenum-wrap {
  padding-top: 1em;
}
/* line 1951, ../../sass/units/member.scss */
.form-mmsphonenum-wrap .module-pure-input {
  margin-top: 0;
}
/* line 1954, ../../sass/units/member.scss */
.form-mmsphonenum-wrap .sidebox {
  text-align: left;
}
@media (max-width: 767px) {
  /* line 1954, ../../sass/units/member.scss */
  .form-mmsphonenum-wrap .sidebox {
    text-align: center;
    margin-top: 1em;
  }
}
/* line 1961, ../../sass/units/member.scss */
.form-mmsphonenum-wrap .btn-rounded {
  font-size: 15px;
  line-height: 52px;
  height: 52px;
}

/* line 1967, ../../sass/units/member.scss */
.form-upload-wrap {
  margin-top: 2em;
  margin-bottom: 2em;
  padding-bottom: 3em;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
/* line 1973, ../../sass/units/member.scss */
.form-upload-wrap .select-wrap {
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}
/* line 1977, ../../sass/units/member.scss */
.form-upload-wrap .select-wrap .module-customselect {
  margin-top: 10px;
}
/* line 1980, ../../sass/units/member.scss */
.form-upload-wrap .select-wrap .b4_form {
  margin-bottom: 10px;
}
/* line 1983, ../../sass/units/member.scss */
.form-upload-wrap .select-wrap .module-customselect-selected input {
  width: 65%;
  height: 90%;
  border: 0;
}
@media (max-width: 767px) {
  /* line 1983, ../../sass/units/member.scss */
  .form-upload-wrap .select-wrap .module-customselect-selected input {
    width: 45%;
  }
}

/* line 1993, ../../sass/units/member.scss */
.status_video {
  padding-top: 30px;
}

/* line 1997, ../../sass/units/member.scss */
.btnwrap .btn-rounded {
  min-width: 170px;
}
@media (max-width: 767px) {
  /* line 1997, ../../sass/units/member.scss */
  .btnwrap .btn-rounded {
    width: 80%;
  }
}

/*# sourceMappingURL=member.css.map */
