/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 12, ../../sass/_initial.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 33, ../../sass/_initial.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 37, ../../sass/_initial.scss */
body {
  line-height: 1;
}

/* line 40, ../../sass/_initial.scss */
ol, ul {
  list-style: none;
}

/* line 43, ../../sass/_initial.scss */
blockquote, q {
  quotes: none;
}

/* line 46, ../../sass/_initial.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 51, ../../sass/_initial.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 56, ../../sass/_initial.scss */
a.style-normal {
  text-decoration: underline;
  color: #267cab;
}

/* line 60, ../../sass/_initial.scss */
a.style-white {
  text-decoration: none;
  color: white;
}

/* line 64, ../../sass/_initial.scss */
textarea:focus, input:focus {
  outline: 0;
}

/* line 67, ../../sass/_initial.scss */
.style-aligncenter {
  text-align: center;
}

/* line 70, ../../sass/_initial.scss */
.on-desk-block {
  display: block;
}
@media (max-width: 767px) {
  /* line 70, ../../sass/_initial.scss */
  .on-desk-block {
    display: none;
  }
}

/* line 76, ../../sass/_initial.scss */
.on-mobile-block {
  display: none;
}
@media (max-width: 767px) {
  /* line 76, ../../sass/_initial.scss */
  .on-mobile-block {
    display: block;
  }
}

/* line 82, ../../sass/_initial.scss */
.on-mobile-inline-block {
  display: none;
}
@media (max-width: 767px) {
  /* line 82, ../../sass/_initial.scss */
  .on-mobile-inline-block {
    display: inline-block;
  }
}

/* line 88, ../../sass/_initial.scss */
.color-correct {
  color: #70cbff;
}

/* line 92, ../../sass/_initial.scss */
.mt40 {
  margin-top: 40px;
}

/* line 95, ../../sass/_initial.scss */
.mb40 {
  margin-bottom: 40px;
}

/*PER ITEM*/
/* line 2, ../../sass/module/_product.scss */
.module-product-box {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  width: 180px;
  height: 180px;
  background-color: #01a2be;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  position: relative;
}
/* line 18, ../../sass/module/_product.scss */
.module-product-box.style-check .icon-add::after, .module-product-box.style-check .icon-add::before {
  content: none;
}
/* line 25, ../../sass/module/_product.scss */
.module-product-box.style-joining .icon-add::after {
  content: none;
}
/* line 30, ../../sass/module/_product.scss */
.module-product-box.style-finishd {
  background-color: #BEBEBE;
}
/* line 32, ../../sass/module/_product.scss */
.module-product-box.style-finishd .module-product-inbox {
  background-color: #E3E3E3;
}
/* line 35, ../../sass/module/_product.scss */
.module-product-box.style-finishd .module-product-innerbox {
  background-color: white;
}
/* line 38, ../../sass/module/_product.scss */
.module-product-box.style-finishd .module-product-innerbox-top {
  background-color: #AEAEAE;
}
/* line 40, ../../sass/module/_product.scss */
.module-product-box.style-finishd .module-product-innerbox-top .module-product-class {
  background-color: transparent;
}
/* line 44, ../../sass/module/_product.scss */
.module-product-box.style-finishd .module-product-bar-containter {
  display: none;
}
/* line 47, ../../sass/module/_product.scss */
.module-product-box.style-finishd .module-product-innerbox-bottom {
  color: black;
}
/* line 49, ../../sass/module/_product.scss */
.module-product-box.style-finishd .module-product-innerbox-bottom .dollarsign {
  color: black;
}
/* line 53, ../../sass/module/_product.scss */
.module-product-box.style-finishd .icon-add {
  background: url("../../images/icon-style-finishd.png") center no-repeat;
}
/* line 55, ../../sass/module/_product.scss */
.module-product-box.style-finishd .icon-add::before, .module-product-box.style-finishd .icon-add::after {
  content: none;
}
/* line 61, ../../sass/module/_product.scss */
.module-product-box.style-sale .module-product-innerbox-top {
  background-color: #01a8df;
}
/* line 67, ../../sass/module/_product.scss */
.module-product-box.style-sale.style-add .icon-add::before, .module-product-box.style-sale.style-add .icon-add::after {
  content: '';
}
/* line 73, ../../sass/module/_product.scss */
.module-product-box.style-sale, .module-product-box.style-start {
  background-color: #2cc986;
}
/* line 75, ../../sass/module/_product.scss */
.module-product-box.style-sale .module-product-inbox, .module-product-box.style-start .module-product-inbox {
  background-color: #82e8c3;
}
/* line 78, ../../sass/module/_product.scss */
.module-product-box.style-sale .module-product-innerbox, .module-product-box.style-start .module-product-innerbox {
  background-color: #61de9c;
}
/* line 81, ../../sass/module/_product.scss */
.module-product-box.style-sale .module-product-bar-containter, .module-product-box.style-start .module-product-bar-containter {
  display: none;
}
/* line 84, ../../sass/module/_product.scss */
.module-product-box.style-sale .module-product-innerbox-bottom, .module-product-box.style-start .module-product-innerbox-bottom {
  color: black;
}
/* line 91, ../../sass/module/_product.scss */
.module-product-box.style-sale .icon-add::before, .module-product-box.style-sale .icon-add::after, .module-product-box.style-start .icon-add::before, .module-product-box.style-start .icon-add::after {
  content: none;
}
/* line 97, ../../sass/module/_product.scss */
.module-product-box.style-sale.sale-status-notbid .icon-add, .module-product-box.style-start.sale-status-notbid .icon-add {
  background: url("../../images/icon-sale-status-notbid.png") center no-repeat;
}
/* line 101, ../../sass/module/_product.scss */
.module-product-box.style-sale.sale-status-bidding, .module-product-box.style-start.sale-status-bidding {
  background-color: #00a2bd;
}
/* line 103, ../../sass/module/_product.scss */
.module-product-box.style-sale.sale-status-bidding .icon-add, .module-product-box.style-start.sale-status-bidding .icon-add {
  background: url("../../images/icon-sale-status-bidding.png") center no-repeat;
}
/* line 107, ../../sass/module/_product.scss */
.module-product-box.style-sale.sale-status-purchased, .module-product-box.style-start.sale-status-purchased {
  background-color: #ff8a00;
}
/* line 109, ../../sass/module/_product.scss */
.module-product-box.style-sale.sale-status-purchased .icon-add, .module-product-box.style-start.sale-status-purchased .icon-add {
  background: url("../../images/icon-tick.png") center no-repeat;
  cursor: auto;
}
/* line 115, ../../sass/module/_product.scss */
.module-product-box .module-checkbox {
  width: 29px;
  height: 29px;
  position: absolute;
  right: -8px;
  top: -4px;
}
/* line 121, ../../sass/module/_product.scss */
.module-product-box .module-checkbox input {
  z-index: 3;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 29px;
  height: 29px;
  margin: 0;
  cursor: pointer;
}
/* line 131, ../../sass/module/_product.scss */
.module-product-box .module-checkbox input:checked + .module-symbol {
  background: url("../../images/icon-check-ob.png") 0 0 no-repeat;
}
/* line 136, ../../sass/module/_product.scss */
.module-product-box .module-symbol {
  z-index: 0;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../../images/icon-check-wb.png") 0 0 no-repeat;
}

/* line 148, ../../sass/module/_product.scss */
.module-product-inbox {
  padding: 7px;
  width: 100%;
  height: 100%;
  background-color: #89f8ff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 155, ../../sass/module/_product.scss */
.module-product-innerbox {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #2bbdd6;
  color: white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 165, ../../sass/module/_product.scss */
.module-product-innerbox-top {
  width: 100%;
  height: 50%;
  background-color: #01a2be;
  text-align: center;
}
/* line 170, ../../sass/module/_product.scss */
.module-product-innerbox-top.style-A {
  background-color: #68d517;
}
/* line 173, ../../sass/module/_product.scss */
.module-product-innerbox-top.style-B {
  background-color: #ffc001;
}
/* line 176, ../../sass/module/_product.scss */
.module-product-innerbox-top.style-C {
  background-color: #ff6d00;
}
/* line 179, ../../sass/module/_product.scss */
.module-product-innerbox-top.style-D {
  background-color: #ee0000;
}
/* line 182, ../../sass/module/_product.scss */
.module-product-innerbox-top.style-E {
  background-color: #8e0000;
}
/* line 185, ../../sass/module/_product.scss */
.module-product-innerbox-top.style-I {
  background-color: #d69cff;
}

/* line 189, ../../sass/module/_product.scss */
.module-product-serialnumber {
  display: block;
  padding-top: 10px;
  font-size: 11px;
  -webkit-transform: scale(0.85);
}

/* line 195, ../../sass/module/_product.scss */
.module-product-class {
  display: inline-block;
  vertical-align: middle;
  margin-top: 7px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 40px;
}
/* line 207, ../../sass/module/_product.scss */
.module-product-class:first-letter {
  font-size: 50px;
  padding-left: 4px;
  padding-right: 4px;
}

/* line 231, ../../sass/module/_product.scss */
.module-product-percent {
  font-size: 26px;
  line-height: 40px;
  vertical-align: middle;
}

/* line 236, ../../sass/module/_product.scss */
.module-product-innerbox-bottom {
  width: 100%;
  height: 50%;
  padding-top: 12px;
  font-size: 15px;
  line-height: 1.4;
  color: black;
  text-align: center;
}
/* line 244, ../../sass/module/_product.scss */
.module-product-innerbox-bottom .dollarsign {
  font-size: 10px;
  font-weight: 500;
  -webkit-transform: scale(0.9);
}
/* line 249, ../../sass/module/_product.scss */
.module-product-innerbox-bottom b {
  padding-left: 2px;
  padding-right: 2px;
  font-size: 19px;
  font-weight: 500;
}

/* line 256, ../../sass/module/_product.scss */
.module-product-bar-containter {
  height: 12px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6px;
  background-color: #017e92;
}

/* line 265, ../../sass/module/_product.scss */
.module-product-bar-valueimg {
  height: 100%;
  background-color: #ffd801;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
/* line 269, ../../sass/module/_product.scss */
.module-product-bar-valueimg[style="width:100%;"] {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

/* line 273, ../../sass/module/_product.scss */
.module-product-bar-number {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: #2bbdd6;
  font-size: 11px;
  line-height: 12px;
  text-align: center;
  -webkit-transform: scale(0.95);
}

/* line 286, ../../sass/module/_product.scss */
.icon-add {
  width: 30px;
  height: 27px;
  display: block;
  position: absolute;
  padding: 0;
  right: 0;
  top: 0;
  cursor: pointer;
}
/* line 296, ../../sass/module/_product.scss */
.icon-add::before {
  content: '';
  display: block;
  position: absolute;
  background-color: white;
  width: 17px;
  height: 3px;
  top: 14px;
  right: 7px;
}
/* line 306, ../../sass/module/_product.scss */
.icon-add::after {
  content: '';
  display: block;
  position: absolute;
  background-color: white;
  width: 3px;
  height: 17px;
  top: 7px;
  right: 14px;
}

/* line 317, ../../sass/module/_product.scss */
.color-pink {
  color: #fd2169;
  letter-spacing: 0;
  font-size: 1.17em;
  font-weight: 500;
}

/* line 325, ../../sass/module/_product.scss */
.module-product-innerbox-cover {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  left: 0;
  top: 100%;
  text-align: center;
  font-weight: 600;
  padding-top: 45%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 338, ../../sass/module/_product.scss */
.module-product-innerbox-cover a {
  color: white;
  padding: 10px;
}
/* line 342, ../../sass/module/_product.scss */
.module-product-innerbox:hover .module-product-innerbox-cover {
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
}

/* line 348, ../../sass/module/_product.scss */
.module-product-saleinfo {
  display: inline-block;
  padding: 2px 10px;
  background-color: #ff2750;
  line-height: 1;
  margin-top: 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 356, ../../sass/module/_product.scss */
.module-product-saledollar {
  padding-top: 6px;
  font-size: 13px;
  line-height: 1;
  color: black;
  text-align: center;
}
/* line 362, ../../sass/module/_product.scss */
.module-product-saledollar .dollarsign {
  font-size: 10px;
  font-weight: 500;
  -webkit-transform: scale(0.9);
}
/* line 367, ../../sass/module/_product.scss */
.module-product-saledollar b {
  padding-left: 2px;
  padding-right: 2px;
  font-size: 20px;
  font-weight: 600;
}

/*wrap*/
/*combination product float*/
/* line 376, ../../sass/module/_product.scss */
.cb-products {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  clear: both;
}

@media (max-width: 479px) {
  /* line 383, ../../sass/module/_product.scss */
  .cb-products {
    width: auto;
    margin: 0 auto;
  }
}
/* line 389, ../../sass/module/_product.scss */
ul.products {
  text-align: left;
}
@media (max-width: 400px) {
  /* line 389, ../../sass/module/_product.scss */
  ul.products {
    text-align: center;
  }
}

/* line 395, ../../sass/module/_product.scss */
ul.products li {
  width: 195px;
  display: inline-block;
  /*padding-top:30px;*/
}

/* yoyo custom */

/*# sourceMappingURL=product.css.map */
