@charset "UTF-8";
/* line 2, ../../sass/units/member.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 3, ../../sass/units/member.scss */
.clearfix:after {
  clear: both;
}

/* line 4, ../../sass/units/member.scss */
.clearfix {
  zoom: 1;
}

/* line 5, ../../sass/units/member.scss */
.fl {
  float: left;
}

/* line 6, ../../sass/units/member.scss */
.clear {
  clear: both;
  font-size: 0px;
  line-height: 0em;
  height: 0;
}
.cb-list3{
	font-weight:bold
	}	
.qa_wp{
	font-size: 62.5%;
	min-height:420px;
	font-family: "Helvetica Neue", Helvetica, Arial, Chinese, "微軟正黑體", sans-serif;
	}
.blacklist_content{
	width:84%;
	margin:auto;
	margin-top:43px;
	}
.blacklist{
	width:100%;
	border-bottom:1px solid #dddddd;
	margin:auto;
	padding-bottom:21px;
	font-size:1.8em;
	color:#4d4d4d;
	margin-bottom:29px;
	padding-left:4%
	
	}
.blacklist dt{
	float:left;

	}
.blacklist dd{
	float:left;
	padding-top:6px;	
	width:85%;
	}

.border_no{
	border:none
	}
.blacklist .photo{
	width:120px;
	margin:auto;
	border:1px solid #ddd;
	text-align:center;
	padding-top:3px;
    -moz-border-radius: 5px;    
    -webkit-border-radius: 5px; 
    border-radius:5px;
	margin-bottom:10px;      
	}	
.blacklist ul{
	width:100%;
	margin-bottom:21px;
	}
.blacklist .tab1{
	width:62%;
	float:left;
	margin-left:3%;
	line-height:20px
	}
.blacklist .tab2{
	width:32%;
	float:left;
	margin-left:3%;
	word-break:break-all;
	line-height:16px
	}
.blacklist .tab1 li,.blacklist .tab2 li{
	float: left;
	display:inline
	}
.blacklist  .tab1 .tb_left{ 
	width:25%; 
	}
.blacklist  .tab1  .tb_right{ 
 width:70%;
	}
.blacklist  .tab2 .tb_left{ 
	width:45%;
	}
.blacklist  .tab2  .tb_right{ 
	width:55%;
}

.cb-t1 {
display: inline-block;
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
padding-bottom: 10px;
cursor: pointer;
display: inline;
color: #ff8c2d;
text-align:center
}




@media screen and (max-width: 1032px), screen and (max-device-width: 1032px) {
	.blacklist dd{
	width:80%;
	}
 .blacklist {
	font-size:14px;
	 }
	}
@media (max-width: 860px), screen and (max-device-width: 960px)  {
 .blacklist dd{
	width:75%;	
	}
.blacklist {
	 font-size:13px;
	 }

}	
@media (max-width: 860px), screen and (max-device-width: 860px)  {
 .blacklist dd{
	width:75%;	
	}
.blacklist {
	 font-size:12px;
	 }

}


.page_no{
	text-align:center;
	margin-top:106px;
	font-size:1.8em;
	color:#7e7e7e;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif
	
	}
.page_no a{
	text-decoration:none;
	color:#7e7e7e;
	margin-left:2%
	}
.page_no a:hover ,.page_no .cass{
	color:#fe5d3e
	}
.qa_header{
	width:100%;
	background:#F7F7F7;
	padding-bottom:29px;
	}
.search{
	height:55px;
	line-height:55px;
	border: 1px solid #dddddd;
	padding-left:18px;
	padding-right:18px;
	color:#a0a0a0;
	width:479px;
	margin:auto;
	-moz-border-radius: 30px;    
    -webkit-border-radius: 30px; 
    border-radius:30px;
	font-size:15px;
	color:#4d4d4d;
	padding-top:3px;
	background:#fff;;	
	
	}
.top_qa{
	font-size:20px;
	color:#267cab;
	width:100%;
	text-align:center;
	}
.input-search{
	width:85%;
	height:45px;
	line-height:45px;
	font-size:15px;
	float:left;
	border:none;
	
	}
.search_btn {
	width:33px;
	float: right;
}
.qa_content{
	width:73%;
	margin:auto;
	padding-top:35px;
	}
.qa_left{
	float:left;
	width:33%;

	}
.qa_right{
	float:left;
	width:64%;
	padding-top:13px;
	padding-left: 1em;
	}
@media only screen and (max-width: 1024px){
	.qa_right{
		width: 100%;
	}
}
.qa_left dl {
	width:70%;
	}
.qa_left dl dt{
	border-bottom:1px solid #dddddd;
	position:relative;
	}
.qa_left dl dd{
	display:none	
	}
.qa_left_m{
	display:none;
	}	
	
.qa_left .b_title{
	padding-top:13px;
	padding-bottom:13px;
	font-size:1.6em;
	color:#4d4d4d;
	
	}
.qa_left .title_arow{
	position:absolute;
	right:20px;
	display:none;
	top:13px;
	}
.qa_left .b_title a{
	color:#4d4d4d;
	}
.qa_left_w .b_title a:hover,.qa_left_w .b_title .current{
	color:#267cab;	
	}
.qa_left_m .b_title a:hover,.qa_left_m .b_title .current{
	color:#267cab;	
	}
.qa_list{
	margin-bottom:35px;
	}
.qa_list h3{
	font-size:2.1em;
	color:#267cab;
	margin-bottom:18px;	
	}
.qa_list h3 span{
	margin-right:3%;
	float:left;
	}
.qa_list h3 a{
	color:#267cab;
	}
.qa_list h3 a:hover{
	color:#267cab;
	text-decoration:underline
	}
.qa_list h3 .current{
	color:#267cab;
	text-decoration:underline
	}
.qa_list li{
	list-style: disc;
	font-size:1.8em;
	color:#4d4d4d;
	margin-left:8%;
	line-height:22px;
	}
.qa_list li,.qa_list h3 .s{
	display:none;
}
.qa_list output ul li{
	display: block;
}
/*.qa_list .dataH{
	display: inline-block !important;
}
.qa_list .dataS{
	display: none !important;
}*/
.Statistics{
	width:82%;
	margin: auto;
	margin-top:35px;
	line-height: 1.6;
	}
.Statistics-txt{
	width:100%;
	}
.Statistics-txt img{
	max-width:100%;
	min-width:40%;
	height:auto
	}


/*
@media screen and (max-width: 678px), screen and (max-device-width: 678px) {
.qa_left_m{
	display: block;
	}	
.qa_left_w{
	display: none;
	}
.input-search{
	width:70%;
	}
.qa_list li{
	margin-left:11%;
	}
.qa_list{
	width:95%;
	font-size:80%
	}
.qa_left dl dd{
	display: block;
	padding-left:5%;
	padding-top:20px;
	}
.qa_left .b_title{
	margin-left:17%;
	padding-bottom:19px;
	}
.qa_content{
	width:98%;
	padding-top:10px;
	}
.qa_right{
	display:none;
	}
 
.qa_left{
	width:100%;
	}
.qa_left dl {
	width:100%;
	}
.search{
	width:80%;}
.qa_header{
	padding-top:20px;}
.top_qa{
	padding-top:33px;
	}
.qa_header{
	width:100%;
	background:#F7F7F7;
	padding-top:20px;
	}
.blacklist .photo{
	width:100px;  
	}
.blacklist .photo img{
	width:90%;
	height:auto  
	}
.blacklist_content{
	width:98%;
	margin-top:12px;
}	

.blacklist dt{
	margin-top:25px;
	}
.blacklist dd{
	line-height:18px;
	width:63%;
	padding-top:0;
	}	
.blacklist{
	font-size:12px;
	padding-bottom:15px;
	margin-bottom:15px;
	}	
.blacklist .tab1{
	width:100%;
	margin-left:5%
	}
.blacklist .tab2{
	width:100%;
	margin-left:5%
	
	}
.blacklist .tab1 li,.blacklist .tab2 li{
	float: left;
	display:inline
	}
.blacklist  .tab1 .tb_left,.blacklist  .tab2 .tb_left{ 
	width:25%; 
	}
.blacklist  .tab1  .tb_right,.blacklist  .tab2  .tb_right{ 
 width:70%;
	}

.blacklist ul{
	margin-bottom:2px;
	}

}
*/

@media screen and (max-width: 480px), screen and (max-device-width: 480px) {
.blacklist  .tab1 .tb_left,.blacklist  .tab2 .tb_left{ 
	width:30%; 
	}
.blacklist  .tab1  .tb_right,.blacklist  .tab2  .tb_right{ 
 width:65%;
	}

}
@media screen and (max-width: 380px), screen and (max-device-width: 380px) {
.blacklist  .tab1 .tb_left,.blacklist  .tab2 .tb_left{ 
	width:65%; 
	}
.blacklist  .tab1  .tb_right,.blacklist  .tab2  .tb_right{ 
 width:35%;
	}

}


