
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.fl{float:left;	}
.clear{
	clear:both;
	font-size: 0px;
	line-height: 0em;
	height:0;
}
.register_t2 .M-y{
	display:none
	}
.register-content{
	width:100%;
	background:#fff;
	padding-top:30px;	
	}
.register{
	width:830px;
	margin:0 auto;
	background:#fff;
	}
.register-nav{
	width:100%;	
	line-height: 25px;
	padding-right: 20px;
	padding-left: 20px;

	}
.register_t2 .register_column2 .t5{
	display: none;
	}	
	
.register-nav ul li{
	float:left;
	width:153px;
	font-size:100%;
	height:45px;
	text-align:center;
	color:#4d4d4d;
	}
.register-nav ul .current{
	color:#267cab;
	}	
.register-nav ul .current_btn{
	color:#267cab;	
	}	
.nav_rate{
	width:100%;
	border: 1px solid #DFDEDC;
	background:#EBEBEB;
	padding-top: 2px;
	padding-bottom: 2px;
	height: 15px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	padding-left:1%;
	}
.nav_rate2{	
	border: 1px solid #70CCFF;
	background:#70CCFF;
	margin-top: 1px;
	height: 7px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	}
.nav1{
	width:18%
	}
.nav2{
	width:35%
	}
.nav3{
	width:58%
	}
.nav4{
	width:78%
	}
.nav5{
	width:98%
	}
.nav_m{
	display:none
	}
.register_t1{
	width:95%;
	margin:0 auto;
	margin-top:20px;	
	}
.register_column{
	margin:0 auto;
	width:98%;
	}

.register_t1 dl{
	width:100%;	
	padding-bottom:22px;
	margin-top:28px;
	}
.register_t1 dl dt{
	float:left;
	width:36px;
	text-align:right;
	}
.register_t1 dl dd{
	float:left;
	width:89%;
	margin-left:2%;
	margin-top:10px;
	}
.register_t1 dl .m_dd{
	display:none;
	margin-top:5px;
	}
.register_t1 dl dd h1{
	color:#267cab;
	font-size:21px;
	font-weight:normal;
	line-height:28px;
	} 
.register_t1 dl dd .rule{
	color:#ff8c2d;
	font-size:18px;
	font-weight:normal;
	margin-top:20px;
	}
.register_t1 .r1{
	margin-bottom:10px;
	}
	
.register_t1 dl dd .txt1{
	color:#4d4d4d;
	font-size:15px;
	}
.register_t1 dl dd .txt2{
	color:#4d4d4d;
	font-size:18px;
	}	
.under{
	border-bottom:1px solid #DDDDDD;
}

	
.register_t2{
	width:100%;	
	margin-top:20px;
	border-top:1px solid #DDDDDD;
	padding-top:7px;	
	}	
.register_column2{
	width:70%;
	margin:0 auto;
	}
.register_column3{
	width:60%;
	margin:0 auto;
	}
.register_t2 .M-a{
	display:none
	}
.register_t2 h1{
	color:#bd0d00;
	font-size:18px;
	font-weight:normal;
	line-height:25px;
	margin-top:20px;
	text-align:center;
	margin-bottom:22px;
	}	
.register_t2 dl{
	width:336px;
	border: 2px solid #ccc;
	padding-top: 12px;
	padding-bottom: 12px;
	height: 54px;
	line-height: 35px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	margin-bottom:8px;
	color:#4d4d4d;

	}
.register_t2 dl dt{
	width:105px;
	padding-left: 6%;	
	border-right: 2px solid #ccc;
	line-height: 30px;
	float:left;
	text-align:left;
	font-size: 15px;
	
}
.register_t2 dl dd{
	line-height: 30px;
	width:66%;
	font-size: 18px;
	float:left;
	text-align:left;

}
.register_t2 .select dl{
	margin-left:0px;
	width:152px;
	}
.register_t2 .select dd{
	width:60px;
	}
.register_t2 .select dt{
	width:78px;
	border:0;
	float:left;
	padding-left:15px;
}

.register_t2 dl input {
	font-size: 18px;
	text-align: left;
	border:0;
	padding-right:5px;
	padding-left:5px;
}
.register_t2 .w1{
	width:336px
	}
.register_t2 .w2{
	width:490px;
	}
.register_t2 .w1 input{
	width:180px;
	}
.register_t2 .w2 input{
	width:340px;
	}
.register_t2 .year{
	float:left;
	margin-right:8px;
	}
.register_t2 .area{
	float:left;
	margin-right:8px;
	}
.register_t2 select {
	width: 55px;
	background: #fff;
	border: 0px;
	font-size: 14px;
	-webkit-appearance: none;
	background-repeat: no-repeat;
	background-image: url(../../images/g-drap.png);
	background-position: right 1rem center;
	font-family: "Helvetica Neue", Helvetica, Arial, Chinese, "微軟正黑體", sans-serif;
	color:#4d4d4d;
	padding: 0px 10px;
}
.register_t2 h2{
	color:#bd0d00;
	font-size:15px;
	font-weight:normal;
	line-height:25px;
	margin-top:10px;
	margin-bottom:22px;
	padding-left:30px
	}
.register_t2 .acc{
	width:99%;
	border: 2px solid #ccc;
	padding-top: 12px;
	padding-bottom: 12px;
	height: 54px;
	line-height: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	margin-bottom:8px;
	margin-top:20px;
	text-align:center;
	color:#4d4d4d
	}
.register_t2 .acc_no{
	border: 2px solid #BD0D00;
	color: #BD0D00;
	}
.register_t2 .tip{
	text-align:center;
	margin-top:9px;
	color:#70cbff;
	width:80%;
	font-size:15px;
	}
.register_t2 .acc input{
	margin:0 auto; 
	border:none;
	text-align:center;
	width:90%;
	font-size:15px;
	}
.register_t2 .tip_no{
	color: #BD0D00;
	}
.register_t2 .pass_tip{
	text-align: left;
	margin-top:9px;
	color:#BD0D00;
	width:90%;
	}

.register_t2 .pass_secure li{
	float:left;
	margin-top:10px;
	margin-bottom:10px;
	}
.register_t2 .pass_secure{
	text-align: left;
	margin-top:9px;
	color:#4d4d4d;
	width:98%;
	}
.register_t2 .pass_s1{
	float:left;
	width:75px;
	}
.register_t2 .pass_s2{
	float:left;
	width:75%;
	}
.register_t2 .pass_s3{
	float:left;
	width:30px;
	text-align: center
	}
.register_t2 .pass_rate{
	width:100%;
	border: 1px solid #DFDEDC;
	background:#EBEBEB;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top:3px;
	height: 13px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding-left:1%;

	}
.register_t2 .pass_rate2{	
	border: 1px solid #70CCFF;
	background:#70CCFF;
	margin-top: 1px;
	height: 6px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	}
.register_t2 .statement {
	width:70%;
	margin:0 auto;
	margin-top:30px;
	font-size:16px;
	color:#333333;
	line-height:25px;
	}
.register_t2 .statement a{
	color:#267cab;
	text-decoration:underline
	}
.register_t2 .radio{
	float:left;
	width:8%;
	}
.register_t2 .radio_txt{
	float:left;
	width:90%;
	}
.email_Verify{
	margin:0 auto;
	width:95%;
	margin-top:40px;
	padding-bottom:50px;
	}
.email_Verify h1{
	font-size:20px;
	font-weight:normal;
	color:#267cab;
	padding-bottom:28px;
	border-bottom:1px solid #DDDDDD;
	margin-bottom:24px;
	}
  
.email_Verify h2{
	font-size:18px;
	font-weight:normal;
	color:#4d4d4d;
	margin-bottom:34px;
	text-align:center
	}
.email_Verify .email_style{
	width:80%;
	margin:0 auto;
	}
.email_Verify .email{
	float:left;
	width:70%;
	height:55px;
	padding-top:10px;
	padding-bottom:10px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border:2px solid #ddd;
	} 
.email_Verify .email dt{
	float: left;
	padding-left:5%;
	padding-right:2%;
	height:35px;
	border-right:2px solid #ddd;
	color:#4d4d4d;
	line-height:30px;
	}
.email_Verify .email dd{
	float: left;
	width:75%;
	}
.email_Verify  .email_b{
	width:98%;
	margin-left:2%;
	font-size:15px;
	border:0;
	font-weight:normal
	}
.email_button{
	text-align:center;
	margin-left:12px;
	display: inline-block;
	font-size: 20px;
	line-height: 3;
	padding-left: 1.5em;
	padding-right: 1.5em;
	color: #4C4C4C;
	background-color: #DDDDDD;
	cursor: pointer;
	font-weight: 500;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#DDDDDD', GradientType=1);
	font-family: "Helvetica Neue", Helvetica, Arial, Chinese, "微軟正黑體", sans-serif;
}
.email_b{
	width:220px;
	}
.home_btn{
	width:60%;
	margin:0 auto;
	margin-top:50px;
	}

.email_button a{
	color: #4C4C4C;
	text-decoration:none
	}

.phone_Verify{
	margin:0 auto;
	width:95%;
	margin-top:40px;
	padding-bottom:50px;
	}
.phone_Verify h1{
	font-size:20px;
	font-weight:normal;
	color:#267cab;
	padding-bottom:28px;
	border-bottom:1px solid #DDDDDD;
	margin-bottom:24px;
	text-align:center;
	line-height:28px;
	}

.register_t1 .re_btn,.register_t2 .re_btn{
	padding-top:40px;
	text-align:center
	}
.register_t1 .btn-rounded a,.register_t2 .btn-rounded a,.phone_Verify .btn-rounded a{
	display:block;
	color:#fff;
	text-decoration:none
	}
.phone_Verify .button{
	width:175px;
	margin:0 auto;
	margin-top:30px;
	
	}
.phone_Verify .phone_num{
	width:600px;
	margin-left:28%;
	margin-bottom:20px;
	}
.phone_Verify .phone_input{
	width:323px;
	margin:0 auto;
	border: 2px solid #ccc;
	padding-top: 12px;
	padding-bottom: 12px;
	height: 54px;
	line-height: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	margin-bottom:8px;
	margin-top:23px;
	text-align:center;
	color:#4d4d4d;
	float:left;
	}
.phone_Verify .phone_input input{
	border:none;
	font-size:18px;
	color:#4d4d4d;
	text-align:center;
	margin-bottom:30px;
	}
.phone_Verify .erro{
	width:250px;
	color:#bd0d00;
	line-height:24px;
	top:0;
	text-align: left;
	float: left;
	margin-left:20px;
	margin-top:15px;
	margin-bottom:10px;
	}
.phone_Verify .up{
	color:#bd0d00;
	margin-left:20px;
	margin-top:15px;
	margin-bottom:10px;
	}
.phone_time{
	text-align:center;
	margin-top:26px;
	padding-bottom:20px;
	border-bottom:1px solid #ddd;
	}
.phone_time .f1{
	font-size:21px;
	color:#4d4d4d;
	font-weight:normal
	}
.phone_time .f1 span{
	font-size:30px;
	color:#bd0d00
	}
.phone_time .f2{
	font-size:15px;
	color:#bd0d00;
	font-weight:normal;
	line-height:20px;
	}
.phone_repeat{
	margin-top:25px;	
	}
.phone_repeat .n1{
	width:60%;
	margin:0 auto;
	font-size:18px;
	color:#267cab;
	text-align:center
	}
.phone_repeat .n2{
	width:60%;
	margin:0 auto;
	font-size:18px;
	color:#4d4d4d;
	margin-top:20px;
	text-align:center;
	line-height:25px;
	}
.re_status{
	width:100%;
	margin:0 auto;
	}
.register_status{
	width:100%;
	margin:0 auto;
	border-top:1px solid #ccc;
	padding-top:29px;
	margin-top:29px;
	}
.status_txt dt{
	float:left;
	text-align:center;
	width:8%;
	}
.status_txt dd{
	float:left;
	width:92%;
	}
.status_txt h1{
	color:#267cab;
	font-size:21px;
	font-weight:normal;
	line-height:28px;
	}
.status_txt h2{
	color:#ff8c2d;
	font-size:18px;
	font-weight:normal;
	margin-top:22px;
	}
.status_txt h3{
	color:#267cab;
	font-size:18px;
	font-weight:normal;
	margin-top:20px;
	line-height:26px;
	}
.status_txt h4{
	color:#4d4d4d;
	font-size:18px;
	font-weight:normal;
	margin-top:20px;
	line-height:26px;
	}
.status_txt .c1{
	color:#ff8c2d;
	}	
.status_txt .c2{
	color:#bd0d00;
	}	
.status_txt .gray{
	color:#4d4d4d;
	font-size:15px;
	line-height:23px;
	}
.under{
	border-bottom:1px solid #DDDDDD;
}
.status_t1{
	text-align:center;
	color:#267cab;
	font-size:21px;
	margin-top:28px;
	}
.status_photo{
	width:53%;
	margin:0 auto;
	margin-bottom:25px;
	}
.status_photo .p1{
	float:left;
	width:23%;
	line-height:50px;
	border-right:1px solid #ddd;
	color:#4d4d4d
	}
.status_photo .p2{
	float:left;
	margin-left:5%;
	width:45%;
	color:#4d4d4d
	}
.status_photo .p3{
	float:left;
	width:23%;
	margin-left:2%;
	color:#4d4d4d
	}
	
.status_button{
	width:115px;
	height:51px;
	font-size:15px;
	margin-bottom:10px;
	}
.status_photo p{
	margin-top:9px;
	color:#4d4d4d;
	}
.vedio_play{
	width:63%;
	margin:0 auto;
	text-align:center;
	margin-bottom:28px;
	}
.vedio_name{
	text-align:center;
	margin-bottom:10px;
	width:100%;
	}
.status_btn{
	width:38%;
	margin:0 auto;
	margin-top:40px;
	}
.b25{
	width:25%;
	}
	
.btn_w2{
	width:170px;
	}
.btn_w3{
	width:250px;
	}
.status_btn a,.home_btn a{
	color:#fff;
	text-align:center;
	text-decoration:none
	}
.status_btn .btn1 ,.home_btn .btn1{
	float:left;
	margin-right:23px;
	margin-bottom:10px;
	}
.status_btn .btn-rounded,.home_btn .btn-rounded{
	width: auto;
	text-align:center;
	}
.status_brank {
	width:67%;
	margin:0 auto;
	margin-bottom:23px;
	}
.status_brank dl{
	width:100%;
	height:55px;
	padding-top:15px;
	padding-bottom:15px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border:2px solid #ddd;
	padding-left:3%;
	margin-bottom:10px;
	}
.status_brank dt{
	float:left;
	width:23%;
	padding-left:3%;
	line-height:28px;
	border-right:2px solid #ddd;
	color:#4d4d4d
	}
.status_brank dd{
	float:left;
	margin-left:3%;
	width:70%;
	}
.status_brank input{
	width:98%;
	border:none;
	}
.status_brank select{
	width:100%;
	border:none;
	background: none;
	border: 0px;
	font-size: 14px;
	-webkit-appearance: none;
	background-repeat: no-repeat;
	background-image: url(../../images/g-drap.png);
	background-position: right 1rem center;
	font-family: "Helvetica Neue", Helvetica, Arial, Chinese, "微軟正黑體", sans-serif;
	color:#4d4d4d;
	padding: 0px 10px;
	}
.status_upload{
	width:63%;
	margin:0 auto;
	margin-bottom:25px;
	}	
.status_upload .p1{
	float:left;
	width:16%;
	line-height:50px;
	border-right:1px solid #ddd;
	color:#4d4d4d
	}	
.status_upload .p4{
	float:left;
	margin-left:2%;
	width:28%;
	color:#4d4d4d
	}	
.status_upload .p5{
	float:left;
	color:#bd0d00;
	font-size:15px;
	width:53%;
	padding-top:10px;
	
	}
.Menber_nav{
	width:330px;
	margin:0 auto;
	}
.Menber_nav ul li{
	float:left;
	width: auto;
	font-size:100%;
	height:45px;
	text-align:center;
	color:#4d4d4d;
	padding-left:27px;
	}

.Menber_brank {
	width:320px;
	margin:0 auto;
	margin-bottom:23px;
	}
.Menber_brank dt{
	width:37%;
}
.Menber_brank dd{
	width:50%;
}
.top29{
	margin-top:29px
	}
.thank{
	text-align:center;
	font-size:18px;
	color:#4d4d4d;
	line-height:27px;
	}
	
.status_btn .btn-rounded{
	width:auto;
	text-align:center;
	margin-bottom:40px;	
	}
.W-hide{
	display:none
	}