@charset "UTF-8";
/* line 2, ../../sass/units/member.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 3, ../../sass/units/member.scss */
.clearfix:after {
  clear: both;
}

/* line 4, ../../sass/units/member.scss */
.clearfix {
  zoom: 1;
}

/* line 5, ../../sass/units/member.scss */
.fl {
  float: left;
}

/* line 6, ../../sass/units/member.scss */
.clear {
  clear: both;
  font-size: 0px;
  line-height: 0em;
  height: 0;
}
.cb-list3{
  font-weight:bold
  }
.report_wp{
  font-size: 62.5%;
  }
.report_content{
  width:100%;
  font-size:100%; 
  }
.headlines{
  width:92%;
  margin:0 auto;
  font-size:100%;
  padding-top:30px;
  border-bottom:1px solid #ddd;
  padding-bottom:47px;
  }
.headlines dt{
  float: left;
  width:35%;
  text-align:center
  }
.headlines dt img{
  max-width:100%;
  min-width:30%
  }
.headlines .m_head_pic{
  display:none
  }
.headlines dd {
  float:left;
  width:61%;
  margin-left:4%;
  }
.year_date{
  float:left;
  width:50px;
  text-align:center;
  }
.year_date .year{
  font-size:2.0em;
  color:#333333;
  padding-bottom:9px;
  font-weight:normal
  }
.date_time{
  float:left;
  width:50px;
  width:50px;
  background:#267cab;
  text-align:center;
  color:#fff;
  padding:6px 0

  }
 .date{
  font-size:2.2em;
  line-height:25px; 
  } 
.months{
  font-size:1.2em;
  }
.headlines .head_title{
  float: left;
  margin-left:3%;
  width:85%;
  }
.headlines .head_title h1{
  font-weight:bold;
  font-size:2.1em;
  color:#333333;
  line-height:25px;
  margin-top:1%;
  }
.headlines .head_title h1 a{
  color:#333333;
  text-decoration:none; 
  }
.headlines .head_title h1 a:hover{
  color:#267cab;
  text-decoration: underline; 
  }
.headlines .head_title h2{
  font-weight: normal;
  font-size:1.5em;
  color:#7e7e7e;
  margin-top:17px;
  line-height:18px;
  }
.headlines dd .txt18{ 
  font-size:1.8em;
  line-height:28px;
  margin-top:29px;
  color:#a0a0a0 
  }
.headlines .more{
  text-align:right;
  margin-top:10px;
  }
.headlines{
  width:92%;
  margin:0 auto;
  font-size:100%;
  padding-top:30px;
  border-bottom:1px solid #ddd;
  padding-bottom:47px;
  } 
.report_content .news_list{
  width:96%;
  margin:0 auto;
  margin-top:50px;  
  }
.report_content .news_list li{
  float:left;
  width:29%;
  position:relative;
  margin-left:2%;
  margin-right:2%;
  }
.report_content .news_list li img{
  max-width:100%;
  height:auto;
  min-width:50%;
  } 
.report_content .news_list .upper{
  position:absolute;
  top:0;
  right:1px;
  width:50px;
  height:50px;
  }
.report_content .news_list h1{
  margin-top:15px;
  font-size:2.1em;
  color:#333333;
  text-align:center;
  line-height:30px;
  font-weight:normal; 
  text-decoration: none
  }
.report_content .news_list h1 a{
  color:#333333;
  
  }
.report_content .news_list h1 a:hover{
  color:#267cab;
  text-decoration:underline
  }
.report_content .news_list p{
  margin-top:10px;
  font-size:1.5em;
  color:#7e7e7e;
  text-align:center;
  line-height:17px;
  font-weight:normal  
  }
.report_content .read_title{
  width:92%;
  margin:0 auto;
  color:#267cab;
  font-size:2.1em;
  margin-top:70px;
  padding-bottom:30px;
  border-bottom:1px solid #ddd;
  padding-left:2%   
  }
.report_content .read_title a{
  color:#267cab;
  text-decoration: none
  } 
.report_content .read_title a:hover{
  color:#267cab;
  text-decoration: none
  } 
  
.report_content .read{
  width:92%;
  margin:0 auto;
  padding-top:47px;
  }
.report_content .more{
  text-align:right;
  margin-top:14px;
  }
.report_content .read li{
  margin-bottom:70px;
  }
.report_content .read_pic{
  float:left;
  width:18%;  
  }
.report_content .read_pic img{
  min-width:90%;
  max-width:100%;
  }
.report_content .read_txt{
  float:left;
  width:78%;
  margin-left:4%; 
  }
.report_content .read_txt .b_t1{
  font-size:2.1em;
  color:#333333;
  line-height:30px;
  float:left;
  margin-left:2%;
  width:88%;
  }
.report_content .read_txt .b_t1 a{
  color:#333333;
  text-decoration: none
  }
.report_content .read_txt .b_t1 a:hover{
  color:#267cab;
  text-decoration: underline
  }
.report_content .read_txt span{
  font-size:0.75em;
  color:#7e7e7e
  }
.report_content .read_txt h2{
  font-size:1.8em;
  color:#a0a0a0;
  line-height:28px;
  float:left;
  font-weight:normal;
  margin-top:22px;
  width:100%;
  }
.report_content  .page_no{
  text-align:center;
  margin-top:95px;
  font-size:1.8em;
  color:#7e7e7e;
  font-weight:normal;
  font-family:Arial, Helvetica, sans-serif
  
  }
.report_content  .page_no a{
  text-decoration:none;
  color:#7e7e7e;
  margin-left:2%
  }
.report_content  .page_no a:hover ,.report_content  .page_no .cass{
  color:#fe5d3e
  }

.detailed{
  width:92%;
  margin:0 auto;
  font-size:100%;
  padding-top:30px; 
  padding-bottom:9px;
  }
.detailed_title .title_txt{
  float:left;
  width:90%;
  margin-left:2%;
  }
.detailed_title h1{
  font-size:3.5em;
  color:#333333;
  margin-top:30px;
  }
.detailed_title h1 a:hover{
  color:#267cab;
  text-decoration: underline; 
  } 
.detailed_title h1:after{
  //content:url(../../../assets/images/link_hover.png);

}
.detailed_title h1:hover:after{
  //content:url(../../../assets/images/link.png);


}
.detailed_title h1 a{
  color:#333333;
  text-decoration:none
  }
.detailed_title img{
  max-width:100%;
  min-width:5%;
  height:auto;
  } 
  
.detailed_title h2{
  font-size:1.5em;
  color:#7e7e7e;
  margin-top:20px;
  }
.detailed_content .share{
  margin-top:20px;
  text-align:right;
  padding-bottom:10px;
  border-bottom:1px solid #ddd; 
  }
.detailed_content .share_icon{
  float:right;
  width:32px;
  height:32px;
  margin-right:5px;
  background:url(../../../assets/images/f.jpg) no-repeat;
  }
.detailed_content .share_icon a{
  display:block;
  width:32px;
  height:32px;
  
  }
.detailed_content .share_icon a:hover{
  width:32px;
  height:32px;
  background:url(../../../assets/images/f_hover.jpg) no-repeat;
  }
  
.detailed_content .line_icon{
  float:right;
  width:32px;
  height:32px;
  
  background:url(../../../assets/images/line.jpg) no-repeat;
  }
.detailed_content .line_icon a{
  display:block;
  width:32px;
  height:32px;
  }
.detailed_content .line_icon a:hover{
  width:32px;
  height:32px;
  
  background:url(../../../assets/images/line_hover.jpg) no-repeat;
  } 

.detailed_content{
  width:92%;
  margin:0 auto;
  }
.detailed_content .explicit{
  margin-top:40px;
  }
.detailed_content .buttom{
  margin:0 auto;
  margin-top:20px;
  width:160px;

  }
.detailed_content .buttom a{
  color:#fff;

  } 
  
.detailed_content .message{
  margin-top:95px;
  }




@media screen and (max-width: 768px), screen and (max-device-width: 768px) {
  .report_content .news_list{ 
  margin-top:20px;

  }
  .report_content .news_list li{  
  width:95%;
  margin-top:30px;
  }
  .report_content .news_list li img{
  width:100%;
  height:auto
  }
  
   .report_content .read_txt .b_t1{
  width:88%;
  }
  .detailed_title .title_txt{
  width:85%;
  font-size:90%
  } 
} 
@media screen and (max-width: 678px), screen and (max-device-width: 678px) {
.headlines .head_title h1 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  }
.report_content .news_list h1 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  }
.report_content .read_txt .b_t1{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  }
.report_content{
  font-size:90%;
}
.headlines dt{
  display:none
  }
.headlines .m_head_pic{
  display: block;
  text-align:center;
  padding-top:20px;
  }
.headlines .m_head_pic img{
  min-width:50%;
  max-width:90%;
  }
.headlines dd {
  width:100%;
  margin-left:0;
  }
.headlines .head_title{
  width:82%;
  }
.report_content .read_txt .b_t1{
  width:82%;
  }
.detailed_title .title_txt{
  width:78%;
  font-size:85%
  } 
}
  
@media screen and (max-width: 620px), screen and (max-device-width: 620px) {
.report_content{
 font-size:90%;
}
.detailed_title .title_txt{
  width:80%;
  }
}
@media screen and (max-width: 520px), screen and (max-device-width: 520px) {
  .report_content{
  font-size:85%;
}
 .report_content .read_txt .b_t1{
  width:75%;
  } 
.detailed_title .title_txt{
  width:85%;
  }
}
@media screen and (max-width: 480px), screen and (max-device-width: 480px) {
  .report_content{
  font-size:80%;
}
.detailed_title .title_txt{
  width:80%;
  font-size:70%
  }
}
@media screen and (max-width: 380px), screen and (max-device-width: 380px) {
  .report_content{
  font-size:85%;
}
  .headlines .head_title{
  width:78%;
  }
  .report_content .read_txt h1{
  width:60%;
  }
.detailed_title .title_txt{
  width:70%;
  font-size:65%
  }
 
}




/*FIX NEWS LIST*/
.headlines dd .txt18,.headlines dd .txt18.shortContentLineWrap{ 
  line-height:28px;
  max-height: 140px;
  overflow: hidden;
  }
.headlines dd .txt18.shortContentLineWrap *{
  text-align: left !important;
}
.headlines dd .txt18.shortContentLineWrap span{
  font-size: 1em !important;
  line-height: 28px !important;
  color: #000 !important;
  font-weight: 500 !important;
  word-wrap: break-word;
}
.headlines dd .txt18.shortContentLineWrap img{
  display: none;
}
.report_content .read_txt h2{
  line-height:28px;
  height: 140px;
  overflow: hidden;
  }
.report_content .read_txt h2.shortContent p span{
  max-width: 100%;
  display: block;
  font-size: 1em !important;
  line-height: 28px !important;
  color: #000 !important;
  font-weight: 500 !important;
  text-align: left;
  white-space: initial;
  word-break: break-all;
}
/*FIX NEWS DETAIL*/

.explicit .txt18 span{
  display: block;
  word-wrap: break-word;
}
.explicit .txt18 img{
  max-width: 100% !important;
  height: auto !important;
}
.detailed_content .explicit .txt18{
  line-height: 1.75;
}
