.dollar_sign{
	color:#E9F415;
	font-size:22px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif
	}
.dollar_sign span{
	font-size:10px;
	padding-right: 0.5em;
	}
.module-product-innerbox-bottom .dollar_d{
	font-weight:normal;
	color:#383536;
	font-family:Arial, Helvetica, sans-serif	
	}
.product_sale{
	position:absolute;
	left:100px;
	top:55px;
	width:60px;
	height:56px;	
	background:url(../../images/off.png) no-repeat;	
	}
.product_sale .sale{
	line-height:56px;
	font-size:1.8em;
	font-weight:normal;
	width:35px;
	text-align:right;
	font-weight:bold
	}
	 
.status_brank_ed {
	width: 306px;
}

.status_brank_ed .inp_left01 {
	width: 120px;
	padding-left:25px;
}
.typename_ed{
	border-right:none
	}
.status_brank_ed .b4_select .inp_right01 {
text-indent:30%;
}
@media (max-width: 767px) {
	.status_brank_ed .b4_select .inp_right01 {
	text-indent:30%;
	}
}

.cart_check .option{
	margin-bottom:28px;
	}
#popup-html h3{
	color:#000;
	font-weight:normal;
	border-bottom:none;
	font-size:18px;
	font-family: "Helvetica Neue", Helvetica, Arial, Chinese, "微軟正黑體", sans-serif;
	}
.module-popup {
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;
	min-width: 480px;
}

.cart_check_btn{
	margin-top:40px;
	}
.module-checkbox input:checked + .module-symbol_cb {
background: url("../../images/check-ob_d.png") 0 0 no-repeat;
}
.module-symbol_cb {
z-index: 0;
display: inline-block;
width: 29px;
height: 29px;
background: url("../../images/icon-check-wb_d.png") 0 0 no-repeat;
vertical-align: middle;
}
.btn-orange a,.btn-orange:hover,.btn-orange:visited{
	color:#fff;
	text-decoration:none;
}
.pt3-scroll .pca td{
	white-space:nowrap;
}
.module-product-innerbox-bottom {
padding-left:25px;
text-align:left
}
