@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);
/* line 2, ../sass/vendors/_extend.scss */
.layout-accordion .accordion-list {
  padding-left: 0;
  list-style: none;
}

/* line 17, ../sass/vendors/_extend.scss */
.layout-mw-wrapper:before, #header:before, #footer .row:before, .module-dl:before, .layout-mw-wrapper:after, #header:after, #footer .row:after, .module-dl:after {
  content: " ";
  display: table;
}
/* line 22, ../sass/vendors/_extend.scss */
.layout-mw-wrapper:after, #header:after, #footer .row:after, .module-dl:after {
  clear: both;
}

/* line 28, ../sass/vendors/_extend.scss */
body, input, select, input[type="button"], input[type="submit"], button {
  font-family: "Helvetica Neue", Helvetica, Arial, Chinese, "微軟正黑體", sans-serif;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 12, ../sass/_initial.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 33, ../sass/_initial.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 37, ../sass/_initial.scss */
body {
  line-height: 1;
}

/* line 40, ../sass/_initial.scss */
ol, ul {
  list-style: none;
}

/* line 43, ../sass/_initial.scss */
blockquote, q {
  quotes: none;
}

/* line 46, ../sass/_initial.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 51, ../sass/_initial.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 56, ../sass/_initial.scss */
a.style-normal {
  text-decoration: underline;
  color: #267cab;
}

/* line 60, ../sass/_initial.scss */
a.style-white {
  text-decoration: none;
  color: white;
}

/* line 64, ../sass/_initial.scss */
textarea:focus, input:focus {
  outline: 0;
}

/* line 67, ../sass/_initial.scss */
.style-aligncenter {
  text-align: center;
}

/* line 70, ../sass/_initial.scss */
.on-desk-block {
  display: block;
}
@media (max-width: 767px) {
  /* line 70, ../sass/_initial.scss */
  .on-desk-block {
    display: none;
  }
}

/* line 76, ../sass/_initial.scss */
.on-mobile-block {
  display: none;
}
@media (max-width: 767px) {
  /* line 76, ../sass/_initial.scss */
  .on-mobile-block {
    display: block;
  }
}

/* line 82, ../sass/_initial.scss */
.on-mobile-inline-block {
  display: none;
}
@media (max-width: 767px) {
  /* line 82, ../sass/_initial.scss */
  .on-mobile-inline-block {
    display: inline-block;
  }
}

/* line 88, ../sass/_initial.scss */
.color-correct {
  color: #70cbff;
}

/* line 92, ../sass/_initial.scss */
.mt40 {
  margin-top: 40px;
}

/* line 95, ../sass/_initial.scss */
.mb40 {
  margin-bottom: 40px;
}

@font-face {
  font-family: 'Chinese';
  unicode-range: U+4E00-9FFF;
  src: local(Noto Sans T Chinese), local(Lantinghei TC), local(LiHei Pro), local(微軟正黑體);
}
/* line 1, ../sass/vendors/_basic.scss */
html {
  height: 100%;
}

/* line 4, ../sass/vendors/_basic.scss */
body {
  position: relative;
  min-height: 100%;
  font-size: 16px;
  background-color: #0e597b;
}

/* line 11, ../sass/vendors/_basic.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 15, ../sass/vendors/_basic.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../sass/vendors/_basic.scss */
a {
  text-decoration: none;
}

/* line 26, ../sass/vendors/_basic.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 31, ../sass/vendors/_basic.scss */
.clearfix:after {
  clear: both;
}

/* line 35, ../sass/vendors/_basic.scss */
.pull-right {
  float: right;
}

/* line 38, ../sass/vendors/_basic.scss */
.pull-left {
  float: left;
}

/* line 7, ../sass/layouts/_view.scss */
.layout-mw-wrapper {
  width: 1260px;
  margin: 0 auto;
}
@media (max-width: 1279px) {
  /* line 7, ../sass/layouts/_view.scss */
  .layout-mw-wrapper {
    width: 1000px;
  }
}
@media (max-width: 1023px) {
  /* line 7, ../sass/layouts/_view.scss */
  .layout-mw-wrapper {
    width: 100%;
  }
}

/* line 28, ../sass/layouts/_view.scss */
.section-banner {
  margin-top: 70px;
  height: 150px;
  color: white;
  text-align: center;
  background-color: #ccc;
}
@media (max-width: 1023px) {
  /* line 28, ../sass/layouts/_view.scss */
  .section-banner {
    margin-top: 55px;
  }
}
/* line 38, ../sass/layouts/_view.scss */
.section-banner h2 {
  margin-top: 0;
  padding-top: 1.1em;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 5px;
}
@media (max-width: 767px) {
  /* line 38, ../sass/layouts/_view.scss */
  .section-banner h2 {
    font-size: 25px;
    padding-top: 2em;
  }
}
/* line 49, ../sass/layouts/_view.scss */
.section-banner h3 {
  font-size: 18px;
  line-height: 2em;
  font-weight: 600;
  letter-spacing: 1px;
}

/*add from navy*/
/* line 59, ../sass/layouts/_view.scss */
.section-banner2 {
  height: 95px;
  background-color: #f7f7f7;
  padding-right: 20px;
  padding-top: 1em;
  text-align: center;
}
/* line 65, ../sass/layouts/_view.scss */
.section-banner2.style-cart {
  background-color: white;
  vertical-align: middle;
}
@media (max-width: 767px) {
  /* line 65, ../sass/layouts/_view.scss */
  .section-banner2.style-cart {
    height: auto;
    padding-bottom: 2em;
  }
}
/* line 72, ../sass/layouts/_view.scss */
.section-banner2.style-cart .module-btn {
  line-height: 43px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  cursor: pointer;
}
@media (max-width: 767px) {
  /* line 72, ../sass/layouts/_view.scss */
  .section-banner2.style-cart .module-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
/* line 82, ../sass/layouts/_view.scss */
.section-banner2.style-cart .module-btn img {
  padding-right: 8px;
  vertical-align: middle;
}
/* line 86, ../sass/layouts/_view.scss */
.section-banner2.style-cart .module-btn.btn-orange {
  margin-left: 1em;
  margin-right: 1em;
}
@media (max-width: 767px) {
  /* line 86, ../sass/layouts/_view.scss */
  .section-banner2.style-cart .module-btn.btn-orange {
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
  }
}

/* line 99, ../sass/layouts/_view.scss */
.section-btnwrap {
  background-color: white;
  text-align: right;
  height: 100px;
  padding-top: 30px;
}
@media (max-width: 767px) {
  /* line 99, ../sass/layouts/_view.scss */
  .section-btnwrap {
    text-align: center;
  }
}

/*add from navy 151005*/
/* line 109, ../sass/layouts/_view.scss */
.sbheader-right {
  line-height: 25px;
  margin-top: 25px;
  float: right;
  padding-right: 20px;
  padding-left: 20px;
}

/* line 118, ../sass/layouts/_view.scss */
.sbheader-right .sbheader-icon {
  margin-left: 15px;
  margin-right: 5px;
}

/* line 123, ../sass/layouts/_view.scss */
.sbheader-right a {
  color: #025679;
  padding-left: 8px;
  padding-right: 5px;
  padding-top: -2px;
}

@media (max-width: 767px) {
  /* line 131, ../sass/layouts/_view.scss */
  .sbheader-right {
    display: none;
  }
}
/* line 135, ../sass/layouts/_view.scss */
.sbheader-right .header-icon {
  margin-left: 15px;
  margin-right: 5px;
}

/*subheader 設定*/
@media (min-width: 768px) {
  /* line 142, ../sass/layouts/_view.scss */
  .sbheader-mobile {
    display: none;
  }
}
@media (max-width: 767px) {
  /* line 148, ../sass/layouts/_view.scss */
  .sbheader-mobile {
    display: block;
  }
}
/* line 153, ../sass/layouts/_view.scss */
.sbheader-box {
  padding-top: 25px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}
@media (max-width: 767px) {
  /* line 153, ../sass/layouts/_view.scss */
  .sbheader-box {
    padding-right: 0;
    padding-left: 0;
    white-space: nowrap;
  }
}

/* line 165, ../sass/layouts/_view.scss */
.sbheader-box a {
  color: #025679;
  margin: 0px 20px;
}

/* line 172, ../sass/layouts/_view.scss */
.section-content {
  background-color: white;
  padding-bottom: 5em;
}

/* line 178, ../sass/layouts/_view.scss */
.scene-title {
  text-align: center;
  padding-top: 80px;
  line-height: 1;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  font-size: 42px;
  font-weight: normal;
  letter-spacing: 5px;
  color: white;
}
@media (max-width: 1366px) {
  /* line 178, ../sass/layouts/_view.scss */
  .scene-title {
    font-size: 36px;
    letter-spacing: 2px;
  }
}
@media (max-width: 1023px) {
  /* line 178, ../sass/layouts/_view.scss */
  .scene-title {
    font-size: 32px;
  }
}
/* line 196, ../sass/layouts/_view.scss */
.scene-title img {
  vertical-align: middle;
}

/* line 200, ../sass/layouts/_view.scss */
.scene-subtitle {
  font-size: 26px;
  line-height: 3;
  letter-spacing: 2px;
  color: white;
  font-weight: normal;
}

/* line 208, ../sass/layouts/_view.scss */
.title-large {
  font-size: 2.5em;
  letter-spacing: 4px;
  color: #bd0d00;
  text-align: center;
  line-height: 2;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0.5em;
}

/* line 1, ../sass/layouts/_header.scss */
#header {
  position: relative;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 70px;
  background-color: white;
  color: #025679;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
@media (max-width: 1023px) {
  /* line 1, ../sass/layouts/_header.scss */
  #header {
    height: 55px;
  }
}
/* line 17, ../sass/layouts/_header.scss */
#header a {
  color: #025679;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 23, ../sass/layouts/_header.scss */
.header-logo {
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  margin-top: 20px;
  float: left;
}
@media (max-width: 1023px) {
  /* line 23, ../sass/layouts/_header.scss */
  .header-logo {
    float: none;
    margin-top: 15px;
  }
}
/* line 33, ../sass/layouts/_header.scss */
.header-logo img {
  height: 35px;
}
@media (max-width: 1023px) {
  /* line 33, ../sass/layouts/_header.scss */
  .header-logo img {
    height: 30px;
  }
}
/* line 39, ../sass/layouts/_header.scss */
.header-logo .btn-bars {
  float: right;
  font-size: 28px;
  cursor: pointer;
}

/* line 46, ../sass/layouts/_header.scss */
i.btn-bars.on-mobile {
  display: none;
}
@media (max-width: 1023px) {
  /* line 48, ../sass/layouts/_header.scss */
  i.btn-bars.on-mobile.icon-list {
    display: block;
  }
}

@media (max-width: 1023px) {
  /* line 56, ../sass/layouts/_header.scss */
  .is-on i.btn-bars.on-mobile.icon-x {
    display: block;
  }
}
@media (max-width: 1023px) {
  /* line 61, ../sass/layouts/_header.scss */
  .is-on i.btn-bars.on-mobile.icon-list {
    display: none;
  }
}

/* line 69, ../sass/layouts/_header.scss */
.list-header-bg {
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 98;
  display: none;
}
@media (max-width: 1023px) {
  /* line 78, ../sass/layouts/_header.scss */
  .list-header-bg.is-on {
    display: block;
  }
}

/* line 84, ../sass/layouts/_header.scss */
.list-header {
  position: fixed;
  top: 55px;
  left: 0;
  width: 100%;
  z-index: 99;
  display: none;
}
/* line 91, ../sass/layouts/_header.scss */
.list-header .header-icon {
  margin-left: 15px;
  margin-right: 5px;
}
/* line 95, ../sass/layouts/_header.scss */
.list-header a {
  color: #025679;
  padding-left: 5px;
  padding-right: 5px;
}
@media (max-width: 1023px) {
  /* line 100, ../sass/layouts/_header.scss */
  .list-header.is-on {
    display: block;
  }
}

/* line 107, ../sass/layouts/_header.scss */
.list-header-item {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: white;
  color: #025679;
  border-top: 1px solid #eeeeee;
}

/* line 116, ../sass/layouts/_header.scss */
.header-right {
  height: 25px;
  line-height: 25px;
  margin-top: 30px;
  float: right;
  padding-right: 20px;
}
@media (max-width: 1023px) {
  /* line 116, ../sass/layouts/_header.scss */
  .header-right {
    display: none;
  }
}
/* line 125, ../sass/layouts/_header.scss */
.header-right .header-icon {
  margin-left: 15px;
  margin-right: 5px;
}

/* line 130, ../sass/layouts/_header.scss */
.link-name {
  font-weight: 500;
}

/* line 5, ../sass/layouts/_footer.scss */
#footer .row1 {
  padding-top: 40px;
  padding-bottom: 50px;
}
/* line 9, ../sass/layouts/_footer.scss */
#footer .row2 {
  color: #86bccc;
  padding-bottom: 2em;
  text-align: center;
}
/* line 13, ../sass/layouts/_footer.scss */
#footer .row2 a {
  color: white;
  padding-left: 12px;
  padding-right: 12px;
}
@media (max-width: 1023px) {
  /* line 13, ../sass/layouts/_footer.scss */
  #footer .row2 a {
    display: inline-block;
  }
}
/* line 21, ../sass/layouts/_footer.scss */
#footer .row2 p {
  padding-bottom: 1em;
}
/* line 25, ../sass/layouts/_footer.scss */
#footer .text-copycight {
  font-size: 13px;
}
/* line 28, ../sass/layouts/_footer.scss */
#footer .col-left {
  width: 50%;
  float: left;
  text-align: right;
}
@media (max-width: 1023px) {
  /* line 28, ../sass/layouts/_footer.scss */
  #footer .col-left {
    width: 100%;
    text-align: center;
  }
}
/* line 36, ../sass/layouts/_footer.scss */
#footer .col-left .btn-circle {
  margin-right: 32px;
}
@media (max-width: 1023px) {
  /* line 36, ../sass/layouts/_footer.scss */
  #footer .col-left .btn-circle {
    margin-left: 16px;
    margin-right: 16px;
  }
}
@media (max-width: 512px) {
  /* line 36, ../sass/layouts/_footer.scss */
  #footer .col-left .btn-circle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
  }
}
/* line 50, ../sass/layouts/_footer.scss */
#footer .col-right {
  position: relative;
  width: 50%;
  float: left;
  color: #86bccc;
  margin-top: 23px;
}
@media (max-width: 1023px) {
  /* line 50, ../sass/layouts/_footer.scss */
  #footer .col-right {
    width: 100%;
    text-align: center;
  }
}
/* line 60, ../sass/layouts/_footer.scss */
#footer .col-right a {
  color: white;
  padding-left: 12px;
  padding-right: 12px;
}
@media (max-width: 1023px) {
  /* line 60, ../sass/layouts/_footer.scss */
  #footer .col-right a {
    display: inline-block;
    line-height: 1.4;
  }
}
/* line 69, ../sass/layouts/_footer.scss */
#footer .col-right p {
  line-height: 1;
  padding-bottom: 1em;
  padding-left: 2em;
}
@media (max-width: 1023px) {
  /* line 69, ../sass/layouts/_footer.scss */
  #footer .col-right p {
    padding-left: 0;
  }
}
/* line 77, ../sass/layouts/_footer.scss */
#footer .col-right::before {
  content: '';
  width: 1px;
  height: 3em;
  background-color: white;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
}
@media (max-width: 1023px) {
  /* line 77, ../sass/layouts/_footer.scss */
  #footer .col-right::before {
    content: none;
    background-color: none;
  }
}

/* line 1, ../sass/module/_icon.scss */
.icon-user, .icon-login, .icon-set, .icon-qna, .icon-statistic, .icon-blacklist, .icon-list, .icon-x, .icon-cart, .icon-follow, .icon-idea, .icon-fb, .icon-fb2, .icon-crown, .icon-time, .icon-bell, .icon-coin, .icon-rise {
  display: inline-block;
  vertical-align: text-bottom;
  background-position: left top;
  background-repeat: no-repeat;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

/* line 9, ../sass/module/_icon.scss */
.icon-user {
  background-image: url("../images/icon-user.png");
  width: 24px;
  height: 24px;
}

/* line 15, ../sass/module/_icon.scss */
.icon-login {
  background-image: url("../images/icon-login.png");
  width: 26px;
  height: 24px;
}

/* line 21, ../sass/module/_icon.scss */
.icon-set {
  background-image: url("../images/icon-set.png");
  width: 26px;
  height: 24px;
}

/* line 27, ../sass/module/_icon.scss */
.icon-underline {
  display: inline-block;
  background-color: #53d6dd;
  width: 100px;
  height: 2px;
}

/* line 33, ../sass/module/_icon.scss */
.icon-qna {
  background-image: url("../images/icon-qna.png");
  width: 30px;
  height: 29px;
}

/* line 39, ../sass/module/_icon.scss */
.icon-statistic {
  background-image: url("../images/icon-statistic.png");
  width: 32px;
  height: 30px;
}

/* line 45, ../sass/module/_icon.scss */
.icon-blacklist {
  background-image: url("../images/icon-blacklist.png");
  width: 30px;
  height: 28px;
}

/* line 51, ../sass/module/_icon.scss */
.icon-list {
  background-image: url("../images/icon-list.png");
  width: 28px;
  height: 28px;
}

/* line 57, ../sass/module/_icon.scss */
.icon-x {
  background-image: url("../images/icon-x.png");
  width: 28px;
  height: 28px;
}

/* line 64, ../sass/module/_icon.scss */
.icon-cart {
  background-image: url("../images/icon-cart.png");
  width: 26px;
  height: 24px;
}

/* line 70, ../sass/module/_icon.scss */
.icon-follow {
  background-image: url("../images/icon-follow.png");
  width: 23px;
  height: 23px;
}

/* line 76, ../sass/module/_icon.scss */
.icon-idea {
  background-image: url("../images/icon-idea.png");
  width: 24px;
  height: 24px;
}

/* line 82, ../sass/module/_icon.scss */
.icon-fb {
  background-image: url("../images/icon-fb.png");
  width: 14px;
  height: 24px;
}

/* line 88, ../sass/module/_icon.scss */
.icon-fb2 {
  background-image: url("../images/icon-fb.png");
  width: 16px;
  height: 28px;
}

/* line 94, ../sass/module/_icon.scss */
.icon-crown {
  background-image: url("../images/icon-crown.png");
  width: 24px;
  height: 24px;
}

/* line 101, ../sass/module/_icon.scss */
.icon-time {
  background-image: url("../images/icon-time.png");
  width: 24px;
  height: 24px;
}

/* line 108, ../sass/module/_icon.scss */
.icon-bell {
  background-image: url("../images/icon-bell.png");
  width: 24px;
  height: 24px;
}

/* line 114, ../sass/module/_icon.scss */
.icon-coin {
  background-image: url("../images/icon-coin.png");
  width: 24px;
  height: 24px;
}

/* line 120, ../sass/module/_icon.scss */
.icon-rise {
  background-image: url("../images/icon-rise.png");
  vertical-align: middle;
  padding-left: 60px;
  padding-top: 3px;
  margin: 0px auto 8px auto;
  height: 21px;
  font-size: 16px;
  font-style: italic;
  color: #ed842f;
  font-weight: 600;
  z-index: 5;
}

/* line 134, ../sass/module/_icon.scss */
.hline {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin-top: 2em;
  margin-bottom: 2em;
}

/* line 3, ../sass/module/_form.scss */
input.style-rounded {
  border: 2px solid #ccc;
  height: 35px;
  line-height: 35px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  padding-left: 1em;
}
/* line 12, ../sass/module/_form.scss */
input[readonly] {
  border: 0 !important;
}

/* line 16, ../sass/module/_form.scss */
.select-wrap {
  margin-top: 8px;
}

/* line 21, ../sass/module/_form.scss */
select.readonly {
  border-color: white !important;
  background-image: none !important;
}
/* line 25, ../sass/module/_form.scss */
select + .module-symbol {
  display: inline-block;
  position: relative;
  z-index: 3;
  vertical-align: middle;
  width: 20px;
  margin-left: -25px;
  margin-right: 10px;
  height: 25px;
  margin-top: -1px;
  background: url("../images/icon-select.png") center no-repeat white;
  pointer-events: none;
}

/* line 39, ../sass/module/_form.scss */
.readonly select {
  border-color: white !important;
  background-image: none !important;
}

/* line 43, ../sass/module/_form.scss */
.btn-selectlike {
  border: 0;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 125px;
  height: 43px;
  line-height: 42px;
  z-index: 1;
  font-size: 15px;
  cursor: pointer;
  background-color: #ed842f;
  color: white;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
  border-radius: 22px;
}
/* line 59, ../sass/module/_form.scss */
.btn-selectlike.style-l {
  width: 240px;
}
/* line 62, ../sass/module/_form.scss */
.btn-selectlike.style-white {
  border: 2px solid #025679;
  color: #025679;
  background-color: white;
}

/* line 68, ../sass/module/_form.scss */
.module-customselect {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 125px;
  height: 43px;
  line-height: 43px;
  z-index: 1;
  font-size: 15px;
  text-align: left;
}
/* line 81, ../sass/module/_form.scss */
.module-customselect.readonly .module-customselect-selected {
  border: 0;
  background-image: none;
  cursor: auto;
}
/* line 87, ../sass/module/_form.scss */
.module-customselect .module-customselect-selected {
  position: absolute;
  display: block;
  font-size: 15px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../images/icon-select.png") right center no-repeat white;
  border: 2px solid #ddd;
  padding-left: 1em;
  z-index: 2;
  cursor: pointer;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
  border-radius: 22px;
}
/* line 102, ../sass/module/_form.scss */
.module-customselect ul {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  position: absolute;
  top: 22px;
  left: 0;
  width: 100%;
  background-color: white;
  border: 2px solid #ddd;
  z-index: 1;
  padding-top: 0;
  padding-left: 0;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}
/* line 119, ../sass/module/_form.scss */
.module-customselect ul li {
  width: 100%;
  height: 43px;
  line-height: 43px;
  padding-left: 1em;
  width: auto;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 129, ../sass/module/_form.scss */
.module-customselect ul li:hover {
  background-color: #f0f0f0;
}
/* line 134, ../sass/module/_form.scss */
.module-customselect.is-on {
  z-index: 10;
}
/* line 136, ../sass/module/_form.scss */
.module-customselect.is-on .module-customselect-selected, .module-customselect.is-on ul {
  border-color: #bbb;
}
/* line 139, ../sass/module/_form.scss */
.module-customselect.is-on ul {
  opacity: 1;
  padding-top: 22px;
  max-height: 999px;
}
/* line 146, ../sass/module/_form.scss */
.module-customselect.style-l {
  width: 240px;
}
/* line 149, ../sass/module/_form.scss */
.module-customselect.style-xs {
  width: 90px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
}
/* line 154, ../sass/module/_form.scss */
.module-customselect.style-xs ul {
  top: 16px;
}
/* line 156, ../sass/module/_form.scss */
.module-customselect.style-xs ul li {
  height: 32px;
  line-height: 32px;
}

/* line 163, ../sass/module/_form.scss */
.module-pure-input {
  display: inline-block;
  border: 2px solid #ccc;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6px;
  margin-top: 12px;
  height: 55px;
  line-height: 55px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  width: 90%;
  text-align: center;
  font-size: 15px;
}
/* line 178, ../sass/module/_form.scss */
.module-pure-input.is-error {
  border-color: #bd0d00;
  color: #bd0d00;
}
/* line 181, ../sass/module/_form.scss */
.module-pure-input.is-error + .form-warning-text {
  display: block;
  color: #bd0d00;
}

/* line 187, ../sass/module/_form.scss */
.form-block {
  border: 2px solid #ccc;
  height: 60px;
  line-height: 60px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6px;
  margin-top: 12px;
  text-align: center;
}
/* line 201, ../sass/module/_form.scss */
.form-block.style-verifycode {
  height: auto;
  line-height: initial;
  border: 0;
  margin-top: 1.5em;
}
/* line 206, ../sass/module/_form.scss */
.form-block.style-verifycode .verifycode-wrap {
  display: inline-block;
}
/* line 209, ../sass/module/_form.scss */
.form-block.style-verifycode label {
  display: inline-block;
  height: 100%;
}
@media (max-width: 767px) {
  /* line 209, ../sass/module/_form.scss */
  .form-block.style-verifycode label {
    vertical-align: top;
    line-height: 35px;
  }
}
/* line 217, ../sass/module/_form.scss */
.form-block.style-verifycode img {
  vertical-align: middle;
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
}
/* line 223, ../sass/module/_form.scss */
.form-block.style-verifycode .module-form-input {
  margin-left: 8px;
  vertical-align: middle;
  display: inline-block;
  width: 120px;
}
@media (max-width: 767px) {
  /* line 223, ../sass/module/_form.scss */
  .form-block.style-verifycode .module-form-input {
    width: 105px;
    display: block;
    margin-bottom: 8px;
    padding-left: 0.6em;
  }
}
/* line 235, ../sass/module/_form.scss */
.form-block.style-verifycode i {
  cursor: pointer;
}
/* line 237, ../sass/module/_form.scss */
.form-block.style-verifycode i:hover {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 251, ../sass/module/_form.scss */
.form-block.style-verifycode.is-error .module-form-input {
  border-color: #bd0d00;
  color: #bd0d00;
}
/* line 256, ../sass/module/_form.scss */
.form-block.style-verifycode + .form-warning-text {
  margin-bottom: 1em;
  font-size: 11px;
}
/* line 261, ../sass/module/_form.scss */
.form-block.style-mobile-transform {
  width: auto;
  height: 55px;
  line-height: 55px;
  display: inline-block;
  padding-right: 1em;
}
/* line 268, ../sass/module/_form.scss */
.form-block.style-mobile-transform.style-m .module-form-input {
  width: 170px;
}
@media (max-width: 767px) {
  /* line 268, ../sass/module/_form.scss */
  .form-block.style-mobile-transform.style-m .module-form-input {
    width: 155px;
  }
}
@media (max-width: 767px) {
  /* line 261, ../sass/module/_form.scss */
  .form-block.style-mobile-transform {
    border-color: white;
    text-align: left;
    width: 100%;
    height: 45px;
    line-height: 45px;
  }
}
/* line 283, ../sass/module/_form.scss */
.form-block.style-mobile-transform + .form-warning-text {
  text-align: left;
}
@media (max-width: 767px) {
  /* line 283, ../sass/module/_form.scss */
  .form-block.style-mobile-transform + .form-warning-text {
    text-align: right;
    width: 100%;
    padding-right: 3em;
  }
}
/* line 291, ../sass/module/_form.scss */
.form-block.style-mobile-transform .module-form-label {
  width: 8em;
  white-space: nowrap;
}
@media (max-width: 767px) {
  /* line 291, ../sass/module/_form.scss */
  .form-block.style-mobile-transform .module-form-label {
    border-right: 0;
    width: 6.5em;
    height: 45px;
    line-height: 45px;
    padding-left: 0.5em;
  }
}
/* line 303, ../sass/module/_form.scss */
.form-block.style-mobile-transform .module-form-input {
  width: 340px;
}
@media (max-width: 767px) {
  /* line 303, ../sass/module/_form.scss */
  .form-block.style-mobile-transform .module-form-input {
    border: 2px solid #ccc;
    height: 45px;
    line-height: 45px;
    width: calc( 98% - 6em );
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
  }
}
@media (max-width: 767px) {
  /* line 315, ../sass/module/_form.scss */
  .form-block.style-mobile-transform.is-error {
    border: 0;
  }
}
@media (max-width: 767px) {
  /* line 319, ../sass/module/_form.scss */
  .form-block.style-mobile-transform.is-error .module-form-input {
    border-color: #bd0d00;
  }
}
/* line 327, ../sass/module/_form.scss */
.form-block.is-error {
  border-color: #bd0d00;
  bottom: 0;
}
/* line 330, ../sass/module/_form.scss */
.form-block.is-error .module-form-input {
  color: #bd0d00;
}
/* line 333, ../sass/module/_form.scss */
.form-block.is-error + .form-warning-text {
  display: block;
  font-size: 11px;
}
/* line 336, ../sass/module/_form.scss */
.form-block img {
  vertical-align: middle;
}

/* line 342, ../sass/module/_form.scss */
.module-form-label {
  border-right: 1px solid #ccc;
  display: inline-block;
  width: 45%;
  line-height: 35px;
}

@media (max-width: 767px) {
  /* line 350, ../sass/module/_form.scss */
  .module-form-mobilelabel {
    border-right: 0;
    width: 6.5em;
    height: 45px;
    line-height: 45px;
    padding-left: 0.5em;
  }
}

/* line 359, ../sass/module/_form.scss */
.module-form-input {
  border: 0;
  padding-left: 0.5em;
  font-size: 16px;
  display: inline-block;
  width: 40%;
  line-height: 35px;
}

/* line 367, ../sass/module/_form.scss */
.form-warning-text {
  display: none;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: #bd0d00;
  text-align: right;
  padding-right: 1.5em;
  line-height: 2;
}
/* line 377, ../sass/module/_form.scss */
.form-warning-text img {
  vertical-align: sub;
  padding-right: 4px;
}

/* line 382, ../sass/module/_form.scss */
.form-help-text {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: #bd0d00;
  text-align: left;
  padding-right: 1.5em;
  line-height: 2;
}
@media (max-width: 767px) {
  /* line 382, ../sass/module/_form.scss */
  .form-help-text {
    text-align: right;
    width: 100%;
    padding-right: 3em;
  }
}
/* line 395, ../sass/module/_form.scss */
.form-help-text img {
  vertical-align: middle;
  padding-right: 4px;
}

/* line 401, ../sass/module/_form.scss */
input[type="password"] {
  letter-spacing: 4px;
}

/* line 405, ../sass/module/_form.scss */
.module-checkbox {
  position: relative;
}
/* line 407, ../sass/module/_form.scss */
.module-checkbox.style-block {
  display: block;
  margin-bottom: 0.5em;
}
/* line 411, ../sass/module/_form.scss */
.module-checkbox span {
  vertical-align: middle;
  padding-left: 0.5em;
}
/* line 415, ../sass/module/_form.scss */
.module-checkbox input {
  z-index: 3;
  position: absolute;
  opacity: 0;
  width: 29px;
  height: 29px;
  margin: 0;
  cursor: pointer;
}
/* line 423, ../sass/module/_form.scss */
.module-checkbox input:checked + .module-symbol {
  background: url("../images/icon-check-ob.png") 0 0 no-repeat;
}

/* line 428, ../sass/module/_form.scss */
.module-symbol {
  z-index: 0;
  display: inline-block;
  width: 29px;
  height: 29px;
  background: url("../images/icon-check-wb.png") 0 0 no-repeat;
  vertical-align: middle;
}

/*出金橢圓區塊*/
/* line 439, ../sass/module/_form.scss */
.rights-gc {
  display: inline-block;
  padding: 3px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border: 2px solid #ddd;
  border-radius: 33px;
  background-color: #fff;
  width: 380px;
  margin-top: 30px;
  margin-bottom: 5px;
}

/* line 454, ../sass/module/_form.scss */
.rights-gc-cont {
  width: 100%;
  height: 100%;
  padding: 0px;
  font-size: 16px;
}

/* line 462, ../sass/module/_form.scss */
.rights-gc-cont > div {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 100%;
}

/* line 469, ../sass/module/_form.scss */
.rights-gc-cont-l {
  border-right: 2px solid #ddd;
  float: left;
  width: 105px;
  text-align: right;
  padding: 7px 15px;
  margin-top: 8px;
}

/* line 478, ../sass/module/_form.scss */
.rights-gc-cont-l2 {
  float: left;
  width: 150px;
  text-align: left;
  padding-left: 1em;
  margin-top: 5px;
  font-size: 26px;
  font-weight: 300;
}
/* line 487, ../sass/module/_form.scss */
.rights-gc-cont-l2 input {
  color: #4d4d4d;
  width: 100%;
  font-size: 26px;
  border: 0;
}

/* line 495, ../sass/module/_form.scss */
.rights-gc-cont-r {
  text-align: right;
  overflow: hidden;
  font-weight: 300;
  padding-left: 15px;
}

/* line 502, ../sass/module/_form.scss */
.rights-obtn {
  display: inline-block;
  font-size: 20px;
  line-height: 2.3;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-weight: 300;
  color: white;
  background-color: #ed842f;
  cursor: pointer;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}

@media (max-width: 420px) {
  /* line 519, ../sass/module/_form.scss */
  .rights-gc {
    width: 300px;
    margin: 15px auto 5px auto;
  }

  /* line 524, ../sass/module/_form.scss */
  .rights-gc-cont-l {
    width: 90px;
    padding-right: 8px;
  }

  /* line 529, ../sass/module/_form.scss */
  .rights-gc-cont-l2 {
    width: 90px;
    padding-left: 8px;
  }

  /* line 533, ../sass/module/_form.scss */
  .rights-obtn {
    display: inline-block;
    line-height: 2.3;
    padding-left: 1.1em;
    padding-right: 1.1em;
  }
}
/* line 1, ../sass/module/_button.scss */
input[type="button"], input[type="submit"], button {
  border: 0;
  display: inline-block;
  -webkit-appearance: none;
  font-size: 1em;
  font-weight: 600;
}

/* line 10, ../sass/module/_button.scss */
.popup-btn {
  display: inline-block;
  font-size: 16px;
  line-height: 2.5;
  text-align: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-weight: 600;
  color: #444;
  background-color: #ddd;
  cursor: pointer;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}

/* line 23, ../sass/module/_button.scss */
.btn-rounded {
  display: inline-block;
  font-size: 20px;
  line-height: 3;
  text-align: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  font-weight: 600;
  color: white;
  background-color: #ed842f;
  cursor: pointer;
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
/* line 42, ../sass/module/_button.scss */
.btn-rounded.style-gray {
  color: #4d4d4d;
  background-color: #dddddd;
}
/* line 46, ../sass/module/_button.scss */
.btn-rounded.style-thin {
  line-height: 2.4;
}
/* line 49, ../sass/module/_button.scss */
.btn-rounded.style-fb {
  background-color: #3B5999;
}
/* line 52, ../sass/module/_button.scss */
.btn-rounded.fz-small {
  font-size: 15px;
  line-height: 52px;
  height: 52px;
}

/* line 58, ../sass/module/_button.scss */
.btn-circle {
  display: inline-block;
  vertical-align: middle;
  color: white;
  text-align: center;
  width: 95px;
  height: 95px;
  border: 1px solid white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 67, ../sass/module/_button.scss */
.btn-circle i {
  margin-top: 20px;
}
/* line 70, ../sass/module/_button.scss */
.btn-circle p {
  padding-top: 8px;
}

/* line 75, ../sass/module/_button.scss */
.btn-circle2 {
  display: inline-block;
  vertical-align: middle;
  color: white;
  text-align: center;
  padding-top: 2px;
  padding-right: 2px;
  width: 42px;
  height: 42px;
  border: 1px solid #025679;
  background-color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
/* line 92, ../sass/module/_button.scss */
.btn-circle2 i {
  margin-top: 6px;
}
/* line 95, ../sass/module/_button.scss */
.btn-circle2 p {
  padding-top: 8px;
}

/* line 99, ../sass/module/_button.scss */
.btn-circle3 {
  display: inline-block;
  vertical-align: middle;
  color: #025679;
  text-align: center;
  margin-top: -5px;
  padding-top: 5px;
  padding-right: 2px;
  width: 35px;
  height: 35px;
  background-color: #025679;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
/* line 117, ../sass/module/_button.scss */
.btn-circle3 i {
  margin-top: 2px;
}

/* line 122, ../sass/module/_button.scss */
.btn-circle5 {
  display: inline-block;
  vertical-align: middle;
  color: #025679;
  text-align: center;
  padding-top: 8px;
  padding-left: 2px;
  width: 43px;
  height: 43px;
  background-color: #025679;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/*橢圓形按鈕*/
/* line 141, ../sass/module/_button.scss */
.btn-rounded2 {
  display: inline-block;
  font-size: 15px;
  padding-left: 1.5em;
  padding-right: 1em;
  padding-top: 1px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border: 1px solid #025679;
  border-radius: 33px;
  color: #025679;
  line-height: 27px;
  background-color: #fff;
  cursor: pointer;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  min-width: 150px;
  margin-right: 12px;
  margin-top: 2px;
  font-weight: 600;
}
/* line 162, ../sass/module/_button.scss */
.btn-rounded2 i {
  margin-top: 3px;
}
/* line 165, ../sass/module/_button.scss */
.btn-rounded2 a {
  padding-bottom: 3px;
}

/* line 170, ../sass/module/_button.scss */
.btn-rounded3 {
  display: inline-block;
  font-size: 20px;
  padding-left: 1.5em;
  padding-right: 1em;
  padding-top: 1px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 33px;
  color: #fff;
  line-height: 40px;
  background-color: #777;
  cursor: pointer;
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  min-width: 250px;
  font-weight: 600;
}

/* line 190, ../sass/module/_button.scss */
.btn-rounded5 {
  display: inline-block;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 33px;
  color: #025769;
  line-height: 40px;
  height: 40;
  background-color: #f1f1f1;
  cursor: pointer;
  margin-top: -2px;
  min-width: 270px;
  font-weight: 600;
}

/* line 208, ../sass/module/_button.scss */
.btn-rounded51 {
  display: inline-block;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 33px;
  color: #025769;
  line-height: 40px;
  height: 40;
  background-color: #FFF;
  cursor: pointer;
  margin-top: -2px;
  min-width: 270px;
  font-weight: 600;
}

/* line 225, ../sass/module/_button.scss */
.btn-rounded22 {
  display: inline-block;
  font-size: 14px;
  padding: 5px 25px 4px 25px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border: 1px solid #025679;
  border-radius: 33px;
  color: #025679;
  line-height: 28px;
  background-color: #fff;
  cursor: pointer;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  text-align: center;
  letter-spacing: 1px;
  font-weight: 600;
}
/* line 243, ../sass/module/_button.scss */
.btn-rounded22 i {
  margin-top: 3px;
}
/* line 246, ../sass/module/_button.scss */
.btn-rounded22 a {
  padding-bottom: 3px;
}
/* line 249, ../sass/module/_button.scss */
.btn-rounded22.is-active {
  border: 1px solid #025679;
  color: #fff;
  background-color: #025679;
}

/* line 256, ../sass/module/_button.scss */
.btn-orange {
  display: inline-block;
  vertical-align: top;
  letter-spacing: 2px;
  line-height: 44px;
  text-align: center;
  height: 43px;
  width: 130px;
  color: white;
  font-weight: 600;
  background-color: #ed842f;
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
  border-radius: 22px;
}

/* line 273, ../sass/module/_button.scss */
.btn-inlinelink {
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
  line-height: 2;
  margin-left: 4px;
  padding-left: 0.8em;
  padding-right: 0.8em;
  font-weight: 300;
  color: #4d4d4d;
  background-color: #dddddd;
  cursor: pointer;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}

/* line 1, ../sass/module/_table.scss */
.table-wrap {
  max-height: 300px;
  overflow: auto;
}

/* line 8, ../sass/module/_table.scss */
.pure-table {
  /* Remove spacing between table cells (from Normalize.css) */
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #f1f1f1;
}
/* line 14, ../sass/module/_table.scss */
.pure-table caption {
  color: #029567;
  padding: 1em 0;
  text-align: center;
  font-weight: normal;
}
/* line 20, ../sass/module/_table.scss */
.pure-table td {
  border-left: 1px solid #cbcbcb;
  /*  inner column border */
  border-width: 0 0 1 0px;
  margin: 0;
  overflow: visible;
  /*to make ths where the title is really long work*/
  padding: 0.5em 1em;
  /* cell padding */
  color: #0f3b4c;
  background-color: transparent;
  word-break: break-all;
}
/* line 29, ../sass/module/_table.scss */
.pure-table td:nth-child(1) {
  border-width: 0px;
}
@media (max-width: 767px) {
  /* line 20, ../sass/module/_table.scss */
  .pure-table td {
    padding-left: 0.2em;
    padding-right: 0.2em;
  }
}
/* line 36, ../sass/module/_table.scss */
.pure-table td span {
  display: inline-block;
}
/* line 41, ../sass/module/_table.scss */
.pure-table tr:nth-child(odd) td {
  background-color: #fff;
}
/* line 44, ../sass/module/_table.scss */
.pure-table th {
  border-left: 1px solid #cbcbcb;
  /*  inner column border */
  border-width: 0 0 0 0px;
  margin: 0;
  overflow: visible;
  /*to make ths where the title is really long work*/
  padding: 0.5em 1em;
  /* cell padding */
  color: #0f3b4c;
  font-weight: normal;
}
/* line 54, ../sass/module/_table.scss */
.pure-table.style-on-mobile td {
  border-left: 0;
  border-right: 1px solid #cbcbcb;
  padding-top: 1em;
  padding-bottom: 1em;
}
/* line 59, ../sass/module/_table.scss */
.pure-table.style-on-mobile td:first-child {
  background-color: #F1F1F1;
  width: 8em;
}

/* BORDERED TABLES */
/* line 69, ../sass/module/_table.scss */
.pure-table-bordered td {
  border-bottom: 1px solid #cbcbcb;
}

/* line 72, ../sass/module/_table.scss */
.pure-table-bordered tbody > tr:last-child > td {
  border-bottom-width: 0;
}

/* HORIZONTAL BORDERED TABLES */
/* line 79, ../sass/module/_table.scss */
.pure-table-horizontal td {
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #e5e5e5;
}

/* line 83, ../sass/module/_table.scss */
.pure-table-horizontal th {
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #f1f1f1;
  font-weight: normal;
}

/* line 88, ../sass/module/_table.scss */
.pure-table-horizontal tbody > tr:last-child > td {
  border-bottom-width: 0;
}

/* line 1, ../sass/module/_dl.scss */
.module-dl {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 6, ../sass/module/_dl.scss */
.module-dl dt {
  float: left;
  clear: left;
}
/* line 11, ../sass/module/_dl.scss */
.module-dl dd {
  float: left;
  margin-left: 0;
}
@media only screen and (max-width: 767px) {
  /* line 11, ../sass/module/_dl.scss */
  .module-dl dd {
    width: 100%;
  }
}

/*PER ITEM*/
/* line 2, ../sass/module/_product.scss */
.module-product-box {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  width: 180px;
  height: 180px;
  background-color: #01a2be;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  position: relative;
}
/* line 18, ../sass/module/_product.scss */
.module-product-box.style-check .icon-add::after, .module-product-box.style-check .icon-add::before {
  content: none;
}
/* line 25, ../sass/module/_product.scss */
.module-product-box.style-joining .icon-add::after {
  content: none;
}
/* line 30, ../sass/module/_product.scss */
.module-product-box.style-finishd {
  background-color: #BEBEBE;
}
/* line 32, ../sass/module/_product.scss */
.module-product-box.style-finishd .module-product-inbox {
  background-color: #E3E3E3;
}
/* line 35, ../sass/module/_product.scss */
.module-product-box.style-finishd .module-product-innerbox {
  background-color: white;
}
/* line 38, ../sass/module/_product.scss */
.module-product-box.style-finishd .module-product-innerbox-top {
  background-color: #AEAEAE;
}
/* line 40, ../sass/module/_product.scss */
.module-product-box.style-finishd .module-product-innerbox-top .module-product-class {
  background-color: transparent;
}
/* line 44, ../sass/module/_product.scss */
.module-product-box.style-finishd .module-product-bar-containter {
  display: none;
}
/* line 47, ../sass/module/_product.scss */
.module-product-box.style-finishd .module-product-innerbox-bottom {
  color: black;
}
/* line 49, ../sass/module/_product.scss */
.module-product-box.style-finishd .module-product-innerbox-bottom .dollarsign {
  color: black;
}
/* line 53, ../sass/module/_product.scss */
.module-product-box.style-finishd .icon-add {
  background: url("../images/icon-style-finishd.png") center no-repeat;
}
/* line 55, ../sass/module/_product.scss */
.module-product-box.style-finishd .icon-add::before, .module-product-box.style-finishd .icon-add::after {
  content: none;
}
/* line 61, ../sass/module/_product.scss */
.module-product-box.style-sale .module-product-innerbox-top {
  background-color: #01a8df;
}
/* line 67, ../sass/module/_product.scss */
.module-product-box.style-sale.style-add .icon-add::before, .module-product-box.style-sale.style-add .icon-add::after {
  content: '';
}
/* line 73, ../sass/module/_product.scss */
.module-product-box.style-sale, .module-product-box.style-start {
  background-color: #2cc986;
}
/* line 75, ../sass/module/_product.scss */
.module-product-box.style-sale .module-product-inbox, .module-product-box.style-start .module-product-inbox {
  background-color: #82e8c3;
}
/* line 78, ../sass/module/_product.scss */
.module-product-box.style-sale .module-product-innerbox, .module-product-box.style-start .module-product-innerbox {
  background-color: #61de9c;
}
/* line 81, ../sass/module/_product.scss */
.module-product-box.style-sale .module-product-bar-containter, .module-product-box.style-start .module-product-bar-containter {
  display: none;
}
/* line 84, ../sass/module/_product.scss */
.module-product-box.style-sale .module-product-innerbox-bottom, .module-product-box.style-start .module-product-innerbox-bottom {
  color: black;
}
/* line 91, ../sass/module/_product.scss */
.module-product-box.style-sale .icon-add::before, .module-product-box.style-sale .icon-add::after, .module-product-box.style-start .icon-add::before, .module-product-box.style-start .icon-add::after {
  content: none;
}
/* line 97, ../sass/module/_product.scss */
.module-product-box.style-sale.sale-status-notbid .icon-add, .module-product-box.style-start.sale-status-notbid .icon-add {
  background: url("../images/icon-sale-status-notbid.png") center no-repeat;
}
/* line 101, ../sass/module/_product.scss */
.module-product-box.style-sale.sale-status-bidding, .module-product-box.style-start.sale-status-bidding {
  background-color: #00a2bd;
}
/* line 103, ../sass/module/_product.scss */
.module-product-box.style-sale.sale-status-bidding .icon-add, .module-product-box.style-start.sale-status-bidding .icon-add {
  background: url("../images/icon-sale-status-bidding.png") center no-repeat;
}
/* line 107, ../sass/module/_product.scss */
.module-product-box.style-sale.sale-status-purchased, .module-product-box.style-start.sale-status-purchased {
  background-color: #ff8a00;
}
/* line 109, ../sass/module/_product.scss */
.module-product-box.style-sale.sale-status-purchased .icon-add, .module-product-box.style-start.sale-status-purchased .icon-add {
  background: url("../images/icon-tick.png") center no-repeat;
  cursor: auto;
}
/* line 115, ../sass/module/_product.scss */
.module-product-box .module-checkbox {
  width: 29px;
  height: 29px;
  position: absolute;
  right: -8px;
  top: -4px;
}
/* line 121, ../sass/module/_product.scss */
.module-product-box .module-checkbox input {
  z-index: 3;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 29px;
  height: 29px;
  margin: 0;
  cursor: pointer;
}
/* line 131, ../sass/module/_product.scss */
.module-product-box .module-checkbox input:checked + .module-symbol {
  background: url("../images/icon-check-ob.png") 0 0 no-repeat;
}
/* line 136, ../sass/module/_product.scss */
.module-product-box .module-symbol {
  z-index: 0;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../images/icon-check-wb.png") 0 0 no-repeat;
}

/* line 148, ../sass/module/_product.scss */
.module-product-inbox {
  padding: 7px;
  width: 100%;
  height: 100%;
  background-color: #89f8ff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 155, ../sass/module/_product.scss */
.module-product-innerbox {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #2bbdd6;
  color: white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 165, ../sass/module/_product.scss */
.module-product-innerbox-top {
  width: 100%;
  height: 50%;
  background-color: #01a2be;
  text-align: center;
}
/* line 170, ../sass/module/_product.scss */
.module-product-innerbox-top.style-A {
  background-color: #68d517;
}
/* line 173, ../sass/module/_product.scss */
.module-product-innerbox-top.style-B {
  background-color: #ffc001;
}
/* line 176, ../sass/module/_product.scss */
.module-product-innerbox-top.style-C {
  background-color: #ff6d00;
}
/* line 179, ../sass/module/_product.scss */
.module-product-innerbox-top.style-D {
  background-color: #ee0000;
}
/* line 182, ../sass/module/_product.scss */
.module-product-innerbox-top.style-E {
  background-color: #8e0000;
}
/* line 185, ../sass/module/_product.scss */
.module-product-innerbox-top.style-I {
  background-color: #d69cff;
}

/* line 189, ../sass/module/_product.scss */
.module-product-serialnumber {
  display: block;
  padding-top: 10px;
  font-size: 11px;
  -webkit-transform: scale(0.85);
}

/* line 195, ../sass/module/_product.scss */
.module-product-class {
  display: inline-block;
  vertical-align: middle;
  margin-top: 7px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 40px;
}
/* line 207, ../sass/module/_product.scss */
.module-product-class:first-letter {
  font-size: 50px;
  padding-left: 4px;
  padding-right: 4px;
}

/* line 231, ../sass/module/_product.scss */
.module-product-percent {
  font-size: 26px;
  line-height: 40px;
  vertical-align: middle;
}

/* line 236, ../sass/module/_product.scss */
.module-product-innerbox-bottom {
  width: 100%;
  height: 50%;
  padding-top: 12px;
  font-size: 15px;
  line-height: 1.4;
  color: black;
  text-align: center;
}
/* line 244, ../sass/module/_product.scss */
.module-product-innerbox-bottom .dollarsign {
  font-size: 10px;
  font-weight: 500;
  -webkit-transform: scale(0.9);
}
/* line 249, ../sass/module/_product.scss */
.module-product-innerbox-bottom b {
  padding-left: 2px;
  padding-right: 2px;
  font-size: 19px;
  font-weight: 500;
}

/* line 256, ../sass/module/_product.scss */
.module-product-bar-containter {
  height: 12px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6px;
  background-color: #017e92;
}

/* line 265, ../sass/module/_product.scss */
.module-product-bar-valueimg {
  height: 100%;
  background-color: #ffd801;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
/* line 269, ../sass/module/_product.scss */
.module-product-bar-valueimg[style="width:100%;"] {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

/* line 273, ../sass/module/_product.scss */
.module-product-bar-number {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: #2bbdd6;
  font-size: 11px;
  line-height: 12px;
  text-align: center;
  -webkit-transform: scale(0.95);
}

/* line 286, ../sass/module/_product.scss */
.icon-add {
  width: 30px;
  height: 27px;
  display: block;
  position: absolute;
  padding: 0;
  right: 0;
  top: 0;
  cursor: pointer;
}
/* line 296, ../sass/module/_product.scss */
.icon-add::before {
  content: '';
  display: block;
  position: absolute;
  background-color: white;
  width: 17px;
  height: 3px;
  top: 14px;
  right: 7px;
}
/* line 306, ../sass/module/_product.scss */
.icon-add::after {
  content: '';
  display: block;
  position: absolute;
  background-color: white;
  width: 3px;
  height: 17px;
  top: 7px;
  right: 14px;
}

/* line 317, ../sass/module/_product.scss */
.color-pink {
  color: #fd2169;
  letter-spacing: 0;
  font-size: 1.17em;
  font-weight: 500;
}

/* line 325, ../sass/module/_product.scss */
.module-product-innerbox-cover {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  left: 0;
  top: 100%;
  text-align: center;
  font-weight: 600;
  padding-top: 45%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 338, ../sass/module/_product.scss */
.module-product-innerbox-cover a {
  color: white;
  padding: 10px;
}
/* line 342, ../sass/module/_product.scss */
.module-product-innerbox:hover .module-product-innerbox-cover {
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
}

/* line 348, ../sass/module/_product.scss */
.module-product-saleinfo {
  display: inline-block;
  padding: 2px 10px;
  background-color: #ff2750;
  line-height: 1;
  margin-top: 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 356, ../sass/module/_product.scss */
.module-product-saledollar {
  padding-top: 6px;
  font-size: 13px;
  line-height: 1;
  color: black;
  text-align: center;
}
/* line 362, ../sass/module/_product.scss */
.module-product-saledollar .dollarsign {
  font-size: 10px;
  font-weight: 500;
  -webkit-transform: scale(0.9);
}
/* line 367, ../sass/module/_product.scss */
.module-product-saledollar b {
  padding-left: 2px;
  padding-right: 2px;
  font-size: 20px;
  font-weight: 600;
}

/*wrap*/
/*combination product float*/
/* line 376, ../sass/module/_product.scss */
.cb-products {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  clear: both;
}

@media (max-width: 479px) {
  /* line 383, ../sass/module/_product.scss */
  .cb-products {
    width: auto;
    margin: 0 auto;
  }
}
/* line 389, ../sass/module/_product.scss */
ul.products {
  text-align: left;
}
@media (max-width: 400px) {
  /* line 389, ../sass/module/_product.scss */
  ul.products {
    text-align: center;
  }
}

/* line 395, ../sass/module/_product.scss */
ul.products li {
  width: 195px;
  display: inline-block;
  /*padding-top:30px;*/
}

/* line 1, ../sass/module/_popup.scss */
#colorbox, #cboxWrapper {
  overflow: visible;
}

/* line 4, ../sass/module/_popup.scss */
#cboxContent {
  position: relative;
  border-bottom-width: 0.5em;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
@media (max-width: 767px) {
  /* line 4, ../sass/module/_popup.scss */
  #cboxContent {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
}

/* line 14, ../sass/module/_popup.scss */
#cboxLoadedContent {
  margin-bottom: 0;
  overflow: visible;
}

@media (max-width: 767px) {
  /* line 18, ../sass/module/_popup.scss */
  #cboxMiddleLeft, #cboxMiddleRight {
    width: 0;
  }
}

/* line 23, ../sass/module/_popup.scss */
#cboxCurrent {
  width: 100%;
  bottom: -60px;
  left: 0;
  text-align: center;
  white-space: nowrap;
}

/* line 30, ../sass/module/_popup.scss */
#cboxPrevious {
  position: absolute;
  background: url("../images/icon-arrow-left-white.png") 0 0 no-repeat;
  top: 50%;
  left: -32px;
  height: 46px;
  width: 28px;
  margin-top: -23px;
}
/* line 38, ../sass/module/_popup.scss */
#cboxPrevious:hover {
  background: url("../images/icon-arrow-left-white.png") 0 0 no-repeat;
}

/* line 42, ../sass/module/_popup.scss */
#cboxNext {
  position: absolute;
  background: url("../images/icon-arrow-right-white.png") 0 0 no-repeat;
  top: 50%;
  right: -32px;
  left: auto;
  height: 46px;
  width: 28px;
  margin-top: -23px;
}
/* line 51, ../sass/module/_popup.scss */
#cboxNext:hover {
  background: url("../images/icon-arrow-right-white.png") 0 0 no-repeat;
}

/* line 55, ../sass/module/_popup.scss */
.bidpopup {
  color: #135c83;
  width: 100%;
  white-space: nowrap;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
}
@media (max-width: 767px) {
  /* line 55, ../sass/module/_popup.scss */
  .bidpopup {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}
/* line 66, ../sass/module/_popup.scss */
.bidpopup h3 {
  padding-bottom: 0.8em;
}
/* line 69, ../sass/module/_popup.scss */
.bidpopup .num-max, .bidpopup .num-min {
  font-size: 13px;
  color: #48b0b1;
  width: 3em;
  text-align: center;
  line-height: 2;
}
/* line 76, ../sass/module/_popup.scss */
.bidpopup .num-max {
  padding-left: 1em;
}
/* line 79, ../sass/module/_popup.scss */
.bidpopup .col-left {
  display: inline-block;
  vertical-align: top;
  width: auto;
  white-space: nowrap;
  height: 100%;
}
@media (max-width: 767px) {
  /* line 79, ../sass/module/_popup.scss */
  .bidpopup .col-left {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
  }
}
/* line 92, ../sass/module/_popup.scss */
.bidpopup .col-right {
  display: inline-block;
  vertical-align: top;
  width: auto;
  padding-left: 2em;
  margin-left: -10px;
}
@media (max-width: 767px) {
  /* line 92, ../sass/module/_popup.scss */
  .bidpopup .col-right {
    font-size: 13px;
    padding-left: 0;
    margin-left: 0;
    display: block;
  }
}
/* line 106, ../sass/module/_popup.scss */
.bidpopup .module-dl dt {
  line-height: 40px;
  padding-left: 30px;
  width: 160px;
  font-size: 15px;
}
@media (max-width: 767px) {
  /* line 106, ../sass/module/_popup.scss */
  .bidpopup .module-dl dt {
    width: 50%;
    padding-left: 0;
  }
}
/* line 116, ../sass/module/_popup.scss */
.bidpopup .module-dl dd {
  line-height: 40px;
  padding-right: 30px;
  width: 160px;
  text-align: right;
  font-weight: 300;
}
@media (max-width: 767px) {
  /* line 116, ../sass/module/_popup.scss */
  .bidpopup .module-dl dd {
    width: 45%;
    width: calc( 50% - 5px);
    padding-right: 0;
    font-size: 18px;
  }
}
/* line 130, ../sass/module/_popup.scss */
.bidpopup .module-dl span:not(.module-customselect-selected) {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px solid #83d4d5;
}
/* line 137, ../sass/module/_popup.scss */
.bidpopup .module-dl.style-rounded {
  border: 1px solid #ccc;
  padding-top: 12px;
  margin-bottom: 0.5em;
  height: 60px;
  line-height: 60px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
/* line 144, ../sass/module/_popup.scss */
.bidpopup .module-dl.style-rounded dt {
  width: 130px;
  padding-left: 0;
  margin-left: 30px;
  border-right: 1px solid #83d4d5;
}
@media (max-width: 767px) {
  /* line 144, ../sass/module/_popup.scss */
  .bidpopup .module-dl.style-rounded dt {
    width: 90px;
  }
}
/* line 153, ../sass/module/_popup.scss */
.bidpopup .module-dl.style-rounded input {
  width: 130px;
  font-size: 18px;
  text-align: right;
  color: #135c83;
  border: 0;
  font-weight: 700;
}
@media (max-width: 767px) {
  /* line 153, ../sass/module/_popup.scss */
  .bidpopup .module-dl.style-rounded input {
    width: 80px;
  }
}
@media (max-width: 767px) {
  /* line 166, ../sass/module/_popup.scss */
  .bidpopup .module-dl.style-rounded.on-desk {
    display: none;
  }
}
/* line 171, ../sass/module/_popup.scss */
.bidpopup .module-dl.style-rounded.on-mobile {
  display: none;
  width: 100%;
  margin-right: 0;
  text-align: center;
}
/* line 177, ../sass/module/_popup.scss */
.bidpopup .module-dl.style-rounded.on-mobile dt {
  width: 50%;
  margin-left: 0;
}
@media (max-width: 767px) {
  /* line 181, ../sass/module/_popup.scss */
  .bidpopup .module-dl.style-rounded.on-mobile dd {
    width: 40%;
    padding-right: 0;
  }
}
/* line 186, ../sass/module/_popup.scss */
.bidpopup .module-dl.style-rounded.on-mobile dd input {
  width: 100%;
}
@media (max-width: 767px) {
  /* line 171, ../sass/module/_popup.scss */
  .bidpopup .module-dl.style-rounded.on-mobile {
    display: block;
  }
}
/* line 196, ../sass/module/_popup.scss */
.bidpopup .btn-wrap {
  padding-top: 1.5em;
  text-align: center;
}
/* line 202, ../sass/module/_popup.scss */
.bidpopup .btn-wrap .btn-rounded {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
@media (max-width: 767px) {
  /* line 202, ../sass/module/_popup.scss */
  .bidpopup .btn-wrap .btn-rounded {
    font-size: 14px;
  }
}
/* line 210, ../sass/module/_popup.scss */
.bidpopup .bidpopup-table {
  min-width: 246px;
}
/* line 213, ../sass/module/_popup.scss */
.bidpopup dd.bidpopup-selectcoupon {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 1em;
}
@media (max-width: 767px) {
  /* line 213, ../sass/module/_popup.scss */
  .bidpopup dd.bidpopup-selectcoupon {
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 222, ../sass/module/_popup.scss */
.bidpopup dd.bidpopup-selectcoupon .module-customselect {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

/* line 229, ../sass/module/_popup.scss */
.col-left-bar {
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 100%;
  margin-left: 0.9em;
}
@media (max-width: 767px) {
  /* line 229, ../sass/module/_popup.scss */
  .col-left-bar {
    width: 16px;
  }
}

/* line 239, ../sass/module/_popup.scss */
.col-left-bidder {
  display: inline-block;
  vertical-align: middle;
  margin-left: -10px;
  width: auto;
}

/* line 245, ../sass/module/_popup.scss */
.per-bidder {
  line-height: 1.1;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

/* line 250, ../sass/module/_popup.scss */
.bidder-price {
  display: inline-block;
  text-align: right;
  width: 3em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

/* line 257, ../sass/module/_popup.scss */
.bidder-profile {
  position: relative;
  background-color: #b1fbfc;
  font-size: 13px;
  margin-left: 0.8em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
/* line 267, ../sass/module/_popup.scss */
.bidder-profile i {
  color: #cccccc;
}
/* line 270, ../sass/module/_popup.scss */
.bidder-profile::before {
  content: '';
  position: absolute;
  left: -8px;
  top: 50%;
  margin-top: -6px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 8px 6px 0;
  border-color: transparent #b1fbfc transparent transparent;
}
/* line 282, ../sass/module/_popup.scss */
.bidder-profile.style-highlight.on-styling {
  color: white;
  background-color: #fe9037;
}
/* line 285, ../sass/module/_popup.scss */
.bidder-profile.style-highlight.on-styling::before {
  border-color: transparent #fe9037 transparent transparent;
}

/* line 290, ../sass/module/_popup.scss */
h3 {
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 3px;
  padding-left: 8px;
}

/* line 297, ../sass/module/_popup.scss */
.rangeslider.rangeslider--vertical {
  /*bar*/
  background-color: #48b0b1;
  width: 9px;
  height: 370px;
}
/* line 301, ../sass/module/_popup.scss */
.rangeslider.rangeslider--vertical .rangeslider__fill {
  background-color: #48b0b1;
}
/* line 304, ../sass/module/_popup.scss */
.rangeslider.rangeslider--vertical .rangeslider__handle {
  width: 21px;
  height: 21px;
  left: -6px;
  background: url("../images/oa-circle.png") 0 0 no-repeat;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 315, ../sass/module/_popup.scss */
#cboxClose {
  width: 32px;
  height: 32px;
  top: -14px;
  right: -14px;
  background: url("../images/icon-cbclose.png") 0 0 no-repeat;
}
/* line 321, ../sass/module/_popup.scss */
#cboxClose:hover {
  background-position: 0 0;
}
@media (max-width: 1024px) {
  /* line 315, ../sass/module/_popup.scss */
  #cboxClose {
    right: 1em;
    top: 1em;
  }
}

/* line 330, ../sass/module/_popup.scss */
.module-popup {
  padding-top: 2em;
  padding-bottom: 7em;
  text-align: center;
  min-width: 480px;
}
@media (max-width: 767px) {
  /* line 330, ../sass/module/_popup.scss */
  .module-popup {
    min-width: 0 !important;
  }
}
/* line 339, ../sass/module/_popup.scss */
.module-popup form {
  padding-left: 3em;
  padding-right: 3em;
}
@media (max-width: 767px) {
  /* line 339, ../sass/module/_popup.scss */
  .module-popup form {
    padding-left: 1em;
    padding-right: 1em;
  }
}
/* line 347, ../sass/module/_popup.scss */
.module-popup h3 {
  text-align: center;
  font-size: 25px;
  letter-spacing: 3px;
  padding-left: 8px;
  color: #135c83;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #ddd;
  width: 90%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
/* line 361, ../sass/module/_popup.scss */
.module-popup .form-block {
  width: 90%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
/* line 367, ../sass/module/_popup.scss */
.module-popup .form-warning-text {
  max-width: 300px;
}
/* line 370, ../sass/module/_popup.scss */
.module-popup .alert-msg {
  line-height: 2.2;
}
@media (max-width: 767px) {
  /* line 370, ../sass/module/_popup.scss */
  .module-popup .alert-msg {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* line 378, ../sass/module/_popup.scss */
.module-popup .module-checkbox {
  display: inline-block;
  width: auto;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
/* line 387, ../sass/module/_popup.scss */
.module-popup .btn-wrap {
  width: 90%;
  max-width: 300px;
  margin-top: 1em;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
/* line 394, ../sass/module/_popup.scss */
.module-popup .btn-wrap a {
  padding-left: 1em;
}
/* line 397, ../sass/module/_popup.scss */
.module-popup .btn-wrap.style-center {
  text-align: center;
}
/* line 401, ../sass/module/_popup.scss */
.module-popup .btn-rounded {
  min-width: 140px;
}
/* line 404, ../sass/module/_popup.scss */
.module-popup .do-pop-forgotpw {
  font-size: 18px;
  padding-left: 1em;
}

/* line 409, ../sass/module/_popup.scss */
#popup-login.module-popup .btn-wrap {
  text-align: center;
  line-height: 2;
}

/* line 414, ../sass/module/_popup.scss */
.alert-msg {
  margin-top: 1em;
  font-size: 15px;
  color: #bd0d00;
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
}

/* line 422, ../sass/module/_popup.scss */
.module-popup-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 3;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #0f3b4c;
  color: white;
  font-size: 15px;
  text-align: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
@media (max-width: 767px) {
  /* line 422, ../sass/module/_popup.scss */
  .module-popup-bottom {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
/* line 438, ../sass/module/_popup.scss */
.module-popup-bottom a {
  color: #ff8c2d;
  font-size: 18px;
  padding-left: 1em;
}

/* line 444, ../sass/module/_popup.scss */
#popup-forgotpw {
  padding-bottom: 2em;
}

/* line 447, ../sass/module/_popup.scss */
#img-loading {
  max-width: 100%;
}

/*FIX POPUP IN MOBILE*/
@media only screen and (max-width: 1024px) {
  /* line 451, ../sass/module/_popup.scss */
  #img-loading {
    max-width: 100%;
    /*width: calc(100vw - 100px);*/
  }

  /* line 455, ../sass/module/_popup.scss */
  #cboxContent, #cboxLoadedContent {
    max-width: calc(100vw - 2em);
  }

  /* line 458, ../sass/module/_popup.scss */
  #col_box {
    max-width: 100%;
  }
}
/*FIX iOS COLORBOX POSITION BUG AFTER RESIZE */
@media only screen and (max-width: 1024px) {
  /* line 466, ../sass/module/_popup.scss */
  #colorbox {
    display: block;
    position: fixed !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    text-align: center !important;
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch !important;

    width: auto !important;
    height: auto !important;
  }

  /* line 480, ../sass/module/_popup.scss */
  #cboxWrapper {
    display: inline-block !important;
    position: relative !important;
    top: initial !important;
    right: initial !important;
    left: initial !important;
    text-align: left;
    z-index: 1;
  }
}
/* line 1, ../sass/module/_accordion.scss */
.layout-accordion {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 5, ../sass/module/_accordion.scss */
.layout-accordion .accordion-list {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 11, ../sass/module/_accordion.scss */
.layout-accordion ul {
  list-style-type: decimal;
  padding-left: 1.5em;
  border-top: 2px solid #ddd;
  border-right: 2px solid #ddd;
  border-left: 2px solid #ddd;
}
/* line 18, ../sass/module/_accordion.scss */
.layout-accordion .accordion-item {
  border-bottom: 1px solid #ddd;
}
/* line 23, ../sass/module/_accordion.scss */
.layout-accordion .accordion-item.on .accordion-item-content {
  max-height: 200vh;
}
/* line 29, ../sass/module/_accordion.scss */
.layout-accordion .accordion-item-title {
  padding-right: 1em;
  padding-left: 1em;
  line-height: 2.2;
  background-color: white;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  height: 34px;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  /* line 29, ../sass/module/_accordion.scss */
  .layout-accordion .accordion-item-title {
    height: 68px;
  }
}
/* line 43, ../sass/module/_accordion.scss */
.layout-accordion .accordion-item-dot {
  display: inline-block;
  padding-right: 1em;
  border-right: 1px solid #ddd;
  height: 100%;
}
/* line 48, ../sass/module/_accordion.scss */
.layout-accordion .accordion-item-dot img {
  vertical-align: middle;
}
@media only screen and (max-width: 767px) {
  /* line 43, ../sass/module/_accordion.scss */
  .layout-accordion .accordion-item-dot {
    line-height: 4.4;
  }
}
/* line 55, ../sass/module/_accordion.scss */
.layout-accordion .accordion-item-date {
  display: inline-block;
  padding-right: 1em;
  margin-right: 1em;
  border-right: 2px solid #ddd;
  height: 100%;
}
@media only screen and (max-width: 767px) {
  /* line 55, ../sass/module/_accordion.scss */
  .layout-accordion .accordion-item-date {
    height: 49%;
    display: block;
    border-right: 0;
  }
}
/* line 67, ../sass/module/_accordion.scss */
.layout-accordion .accordion-item-name {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  max-width: 60%;
  padding-left: 1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
/* line 81, ../sass/module/_accordion.scss */
.layout-accordion i.fa {
  float: right;
  -webkit-transition: transform;
  -o-transition: transform;
  transition: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  color: #aaa;
  line-height: 1.8em;
  font-size: 1.1em;
  margin-top: -1px;
}
/* line 90, ../sass/module/_accordion.scss */
.layout-accordion i.fa.fa-rotate-180 {
  margin-top: 5px;
  color: #eee;
}
@media only screen and (max-width: 767px) {
  /* line 81, ../sass/module/_accordion.scss */
  .layout-accordion i.fa {
    display: none;
  }
}
/* line 99, ../sass/module/_accordion.scss */
.layout-accordion .accordion-item-content {
  max-height: 0;
  width: 100%;
  overflow: hidden;
  -webkit-transition: max-height;
  -o-transition: max-height;
  transition: max-height;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  background-color: white;
}
/* line 108, ../sass/module/_accordion.scss */
.layout-accordion .accordion-item-article {
  padding-top: 1em;
  padding-right: 2em;
  padding-bottom: 1em;
  padding-left: 2em;
  line-height: 1.8;
}
/* line 114, ../sass/module/_accordion.scss */
.layout-accordion .accordion-item-article p {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 121, ../sass/module/_accordion.scss */
.privacy-list .accordion-item-name {
  max-width: 70%;
  max-width: calc(100vw - 10em);
}

/* line 1, ../sass/module/_animate.scss */
.btn-lr {
  -webkit-animation-name: btnmove;
  -moz-animation-name: btnmove;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  /* Safari and Chrome */
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

@keyframes btnmove {
  0% {
    padding-left: 10px;
    padding-right: 10px;
  }
  30% {
    padding-left: 20px;
    padding-right: 20px;
  }
  50% {
    padding-left: 20px;
    padding-right: 20px;
  }
  100% {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@-webkit-keyframes btnmove {
  0% {
    padding-left: 10px;
    padding-right: 10px;
  }
  30% {
    padding-left: 20px;
    padding-right: 20px;
  }
  50% {
    padding-left: 20px;
    padding-right: 20px;
  }
  100% {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/*# sourceMappingURL=global.css.map */

/*ver.20161014*/

/*fix header*/
.icon-login {
  background-image: url("../images/icon-login.png");
  width: 26px;
  height: 24px;
}

/*fix edit credit*/
.module-customselect-selected{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.status_button{
  position: relative;
  cursor: pointer;
}
.status_button input{
  cursor: pointer;
}
.status_photo .p2{
  line-height: 1.2;
}
#cboxContent #cboxTitle{
  /*bottom: -35px;*/
  bottom: -90px; //放按鈕
}
#cboxContent #cboxCurrent {
  bottom: -110px; //colorbox會自己長Image1of4文字
}
.popup-btn{
  margin-left: 4px;
  margin-right: 4px;
}
/*fix img title*/
.register-content table td img{
  max-width: 100vw !important;
  max-width: calc( 100vw - 30px ) !important;
  height: initial !important;
}

/*fix member edit*/
.email_button a{
  display: block; 
  height: 100%;
}
font[size="2px"]{
  line-height: 1.2;
  display: inline-block;
}
/*fix mypage*/
.profile-cont img{
  display: inline-block;
  padding-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.profile-cont td{
  word-break: break-all;
}
.popup-btn{
  margin-bottom: 8px;
}
/*fix q&a*/
.qa_content{
  width: 90% !important;
}
.qa_list .dataS{
  display: none !important;
  visibility: hidden !important;

}
.qa_list .dataH{
  display: block !important;
}
.qa_list .dataImg.style-rotate{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.qa_list output{
  display: none;
  max-width: 100% !important;
  width: 100% !important;
}
.qa_list output li, .qa_list output h3 .s{
  display: block;
}
.qa_list output ul li,.qa_list li{
  padding: 0 15px !important;
  margin-left: 1em !important;
}
.qa_list li img,.qa_list output img{
  max-width: 100% !important;
  height: initial !important;
}

.qa_header .search{
  max-width: 100%;
}
.top_qa{
  padding-top: 1em;
  padding-bottom: 1em;
}
@media only screen and (max-width: 1024px){
  .qa_left, .qa-right{
    width: 100% !important;
    float: none !important;
  }
  .qa_left{
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
  } 
  .qa_left dl{
    /*width: 100% !important;*/
  }
}
@media only screen and (max-width: 767px){
  .qa_content,.qa_left dl{
    width: 100% !important;
  }
  .qa_content{
    padding-left: 1em !important;
  }
}
/*fix product list*/
.btn-rounded22{
  margin-bottom: 10px;
}
ul.products li{
  margin-bottom: 1em;
}

/*fix cart*/
.chooseitem{
  display: inline-block;
  width: 25%;
  margin-left: -5px;
  padding-bottom: 0.5em;
}

.cart_check td:nth-child(1){
  vertical-align: top;
}
@media only screen and (max-width: 767px) {
  .chooseitem{
    width: 100%;
    display: block;
    margin-left: 0;
  }
  .cart_check tr td{
    display: block;
    width: 100%;
  }
  .cart_check td:first-child{
    text-align: center;
  }
  .cart_check td .option{
    text-align: center !important;
    padding-right: 0.5em;
    padding-left: 0.5em;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  .cart_check td .option label{
    text-align: left;
  }
  .cart_check td:nth-child(2) span:last-child::after{
    content: none;
  }
  .cart_check + .cart_check_btn{
    margin-top: 0;
  }
}

/*fix bid page POPUP*/
.module-product-innerbox-cover{
  pointer-events: none;
  z-index: 2;
  -webkit-border-radius: 50%;
  /*-moz-border-radius: 50%;*/
  /*border-radius: 50%;*/
}
.module-product-innerbox-cover a{
  pointer-events: auto;
}
.bidpopup .module-dl.style-rounded{
  white-space: nowrap;
}
.bidpopup .module-dl.style-rounded dt,.bidpopup .module-dl.style-rounded dd {
  display: inline-block;
}
#passCheckPage, #messagePage {
  /*width: initial !important;*/
  max-width: 100%;
}
#finishMsg{
  white-space: initial;  
}
#passCheckPage #ckTitle{
  line-height: 2;
}
@media only screen and (max-device-width: 1024px) {
  #colorbox{
    display: block;
    position: fixed !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    text-align: center !important;
    overflow: scroll !important;
    width: auto !important;
    height: auto !important;
  }
  #cboxWrapper {
    display: inline-block !important;
    position: relative !important;
    top: initial !important;
    right: initial !important;
    left: initial !important;
  }
  .bidpopup .col-left, .bidpopup .col-right {
    text-align: left; 
  }
  #passCheckPage,#messagePage{
    margin-left: auto;
    margin-right: auto;
    max-width: initial !important;
  }
}
@media only screen and (max-width: 767px) {
  .module-customselect.is-on ul{
    margin-bottom: 100px;
  }  
  #cboxLoadedContent{
    width: initial !important;
    overflow: visible !important;
  }
}
#passCheckPage #ckTitle,#messagePage #finishMsg{
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
}
#passCheckPage #passDCheck{
  text-align: left;
}

@media (max-width: 767px){
  #passCheckPage .module-dl.style-rounded dt, #passCheckPage .module-dl.style-rounded dd{
    display: inline-block;
    float: none;
    vertical-align: top;
    text-align: left;
  }
  #passCheckPage .module-dl.style-rounded dt {
      margin-left: 20px;
  }
  #passCheckPage .module-dl.style-rounded input{
    width: 100%;
    display: inline-block;
    height: 100%;
    padding-left: 10px;
  }
}
/*fix copyright page*/
@media only screen and (max-width: 767px) {
  .Statistics-txt table{
    width: 100% !important;
  }
  
}

/*fix register B2*/
.email_style dl{
  margin-bottom: 10px;
}
.register_t2 .w1{
  /*margin-left: auto;*/
  /*margin-right: auto;*/
}
/*fix news*/
.report_content .read_txt h2.shortContent p span{
    white-space: pre-wrap;
    word-break: break-all;
}
.headlines dd .txt18.shortContentLineWrap *{
  /*color: black !important;*/
}

/*fix login popup*/
.module-popup .btn-wrap a{
  display: inline-block;
}


/*Login Pages*/

.login-form-wrap form, .login-form-wrap p{
    max-width: 420px;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0 auto;
    text-align: center;
}
.login-form-wrap p{
  line-height: 1.6;
  font-size: 18px;
}
.login-form-wrap tel{
  font-weight: bold;
}
.login-form-wrap form .form-block{
  width: 100%;
}
.login-form-wrap form .btn-rounded{
  display: block;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 4em; 
}
.login-form-wrap .title-large {
    font-size: 3.5em;
    padding: 0.25em 0 0.5em 0;
    font-weight: normal;
}
@media only screen and (max-width: 768px){
  .login-form-wrap .title-large{
    font-size: 2em;
    padding: 0.5em 0 1em 0;
  }
}

#loginForm .form-block:not(.style-verifycode) .module-form-input{
  height: calc(100% - 8px);
  line-height: 16px;
  background-color: transparent;
}
@media only screen and (max-width: 767px){
  #loginForm .form-block:not(.style-verifycode) .module-form-input{
    width: calc(100% - 8em );
    line-height: 15px;    
  }
}
@media only screen and (max-width: 767px) {
  #loginForm .form-block:not(.style-verifycode) .module-form-label{
    text-align: left;
    padding-left: 0.5em;
    white-space: nowrap;
    width: 6.5em;
    font-size: 15px;
  }
}

#cboxLoadedContent{
  overflow: visible !important; 
}