.btn-lr{
  -webkit-animation-name: btnmove;
  -moz-animation-name: btnmove;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
 // animation-direction: alternate;
 // -webkit-animation-direction: alternate;
 // -moz-animation-direction: alternate;
     -webkit-transition-timing-function:cubic-bezier(1,0,0,1); /* Safari and Chrome */
    transition-timing-function: cubic-bezier(1,0,0,1);
}
@keyframes btnmove{
0% {  padding-left: 10px;padding-right: 10px;  }
30%{  padding-left: 20px;padding-right: 20px;  }
50%{  padding-left: 20px;padding-right: 20px;  }
100%{ padding-left: 10px;padding-right: 10px;  }
}
@-webkit-keyframes btnmove{
0% {  padding-left: 10px;padding-right: 10px;  }
30%{  padding-left: 20px;padding-right: 20px;  }
50%{  padding-left: 20px;padding-right: 20px;  }
100%{ padding-left: 10px;padding-right: 10px;  }
}