.btn-rounded{
  display: inline-block;
  font-size: 20px;
  line-height: 3;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-weight: 600;
  color: white;
  background-color: #ed842f;
  cursor: pointer;
  -moz-box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
  -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
  box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
  @include border-radius(30px);
  @include gradient-horizontal($start-color: #ed842f, $end-color: #d88e38, $start-percent: 20%, $end-percent: 80%);
}
.btn-circle{
  display: inline-block;
  vertical-align: middle;
  color: white;
  text-align: center;
  width: 95px;
  height: 95px;
  border: 1px solid white;
  @include border-radius(50%);
  i{
    margin-top: 20px;
  }
  p{
    padding-top: 8px;
  }
}

.btn-circle2 {
  display: inline-block;
  vertical-align: middle;
  color: white;
  text-align: center;
  padding-top: 2px;
  padding-right: 2px;
  width: 42px;
  height: 42px;
  border: 1px solid #025679;
  background-color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  i {
    margin-top: 6px;
  }
  p {
    padding-top: 8px;
  }
}
.btn-circle3 {
  display: inline-block;
  vertical-align: middle;
  color: #025679;
  text-align: center;
  margin-top: -5px;
  padding-top: 5px;
  padding-right: 2px;
  width: 35px;
  height: 35px;
  background-color: #025679;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  i {
    margin-top: 2px;
  }
}

.btn-circle5 {
  display: inline-block;
  vertical-align: middle;
  color: #025679;
  text-align: center;
  padding-top: 8px;
  padding-left: 2px;
  width: 43px;
  height: 43px;
  background-color: #025679;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);  
}

/*橢圓形按鈕*/
.btn-rounded2 {
  display: inline-block;
  font-size: 15px;
  padding-left: 1.5em;
  padding-right: 1em;
  padding-top: 1px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border: 1px solid #025679;
  border-radius: 33px;
  color: #025679;
  line-height: 27px;
  background-color: #fff;
  cursor: pointer;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  min-width: 150px;
  margin-right: 12px;
  margin-top: 2px;
  font-weight: 600;
  i{
    margin-top: 3px;
  }
  a{
    padding-bottom: 3px;
  }
}

.btn-rounded3 {
  display: inline-block;
  font-size: 20px;
  padding-left: 1.5em;
  padding-right: 1em;
  padding-top: 1px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 33px;
  color: #fff;
  line-height: 40px;
  background-color: #777;
  cursor: pointer;
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  min-width: 250px;
  font-weight: 600;
}

.btn-rounded5 {
  display: inline-block;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 33px;
  color: #025769;
  line-height: 40px;
  height: 40;
  background-color: #f1f1f1;
  cursor: pointer;
  margin-top: -2px;
  min-width: 270px;
  font-weight: 600;
}

.btn-rounded51 {
  display: inline-block;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 33px;
  color: #025769;
  line-height: 40px;
  height: 40;
  background-color: #FFF;
  cursor: pointer;
  margin-top: -2px;
  min-width: 270px;
  font-weight: 600;
}
.btn-rounded22 {
  display: inline-block;
  font-size: 14px;
  padding:5px 25px 4px 25px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border: 1px solid #025679;
  border-radius: 33px;
  color: #025679;
  line-height:28px;
  background-color: #fff;
  cursor: pointer;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  text-align:center;
  letter-spacing:1px;
  font-weight: 600;
  i {
    margin-top:3px; 
  }
  a {
    padding-bottom:3px; 
  }
}
.obtn{
  font-weight: 600;
}