.module-dl {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  @extend %clearFix;
  dt {
    float: left;
  //   width: 50%;
    clear: left;
  }
  dd {
    float: left;
    margin-left: 0;
  //   width: 50%;
  //   text-align: right;
  //   & + dd {
  //     width: 100%;
  //   }
    @media only screen and (max-width : 767px) {
      width: 100%;
    }
  }
}