%icon{
  display: inline-block;
  vertical-align: text-bottom;
  background-position: left top;
  background-repeat: no-repeat;
  @include backgroundSize(contain);
}

.icon-user{
  @extend %icon;
  background-image: url('/assets/images/icon-user.png');
  width: 24px;
  height: 24px;
}
.icon-set{
  @extend %icon;
  background-image: url('/assets/images/icon-set.png');
  width: 26px;
  height: 24px;
}
.icon-underline{
  display: inline-block;
  background-color: #53d6dd;
  width: 100px;
  height: 2px;
}
.icon-qna{
  @extend %icon;
  background-image: url('/assets/images/icon-qna.png');
  width: 30px;
  height: 29px;  
}
.icon-statistic{
  @extend %icon;
  background-image: url('/assets/images/icon-statistic.png');
  width: 32px;
  height: 30px;  
}
.icon-blacklist{
  @extend %icon;
  background-image: url('/assets/images/icon-blacklist.png');
  width: 30px;
  height: 28px;  
}
.icon-list{
  @extend %icon;
  background-image: url('/assets/images/icon-list.png');
  width: 28px;
  height: 28px;  
}
.icon-x{
  @extend %icon;
  background-image: url('/assets/images/icon-x.png');
  width: 28px;
  height: 28px;  
}

.icon-cart {
  @extend %icon;
  background-image: url("/assets/images/icon-cart.png");
  width: 26px;
  height: 24px;
}
.icon-follow {
  @extend %icon;
  background-image: url("/assets/images/icon-follow.png");
  width: 23px;
  height: 23px;
}
.icon-idea {
  @extend %icon;
  background-image: url("/assets/images/icon-idea.png");
  width: 24px;
  height: 24px;
}
.icon-fb {
  @extend %icon;
  background-image: url("/assets/images/icon-fb.png");
  width: 14px;
  height: 24px;
}
.icon-fb2 {
  @extend %icon;
  background-image: url("/assets/images/icon-fb.png");
  width: 16px;
  height: 28px;
}
.icon-crown {
  @extend %icon;
  background-image: url("/assets/images/icon-crown.png");
  width: 24px;
  height: 24px;
}

.icon-time {
  @extend %icon;
  background-image: url("/assets/images/icon-time.png");
  width: 24px;
  height: 24px;
}

.icon-bell {
  @extend %icon;
  background-image: url("/assets/images/icon-bell.png");
  width: 24px;
  height: 24px;
}
.icon-rise {
  @extend %icon;
  background-image: url("/assets/images/icon-rise.png");
  vertical-align: middle;
  padding-left: 60px;
  padding-top: 3px;
  margin: 0px auto 8px auto;
  height:  21px;  
  font-size: 16px;
  font-style: italic;
  color: #ed842f;
  font-weight: 600;
  z-index: 5;
}