#cboxContent{
  border: 2em solid white;
  border-bottom-width: 0.5em;
  @include border-radius(10px);
}
.bidpopup{
  color: #135c83;
  width: 100%;

  h3{
    padding-bottom: 0.8em;
  }
  .num-max,.num-min{
    font-size: 13px;
    color: #48b0b1;
    width: 3em;
    text-align: center;
    line-height: 2;
  }
  .num-max{
    padding-left: 1em;
  }
  .col-left{
    display: inline-block;
    vertical-align: top;
    width: auto;
    white-space: nowrap;
    height: 100%;
    @media (max-width: 767px) {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-left: 1em;
    }
  }
  .col-right{
    display: inline-block;
    vertical-align: top;
    width: auto;
    padding-left: 1em;
    @media (max-width: 767px) {
      font-size: 13px;
    }
  }
  .module-dl{
    dt{
      line-height: 36px;
      padding-left: 30px;
      width: 160px;
      @media (max-width: 767px) {
        width: 120px;
      }
    }
    dd{
      line-height: 36px;
      padding-right: 30px;
      width: 160px;
      font-size: 25px;
      text-align: right;
      font-weight: 300;
      @media (max-width: 767px) {
        width: 120px;
        font-size: 18px;
      }
    }
    span{
      width: 100%;
      height: 100%;
      display: inline-block;
      vertical-align: top;
      border-bottom: 1px solid #83d4d5;
    }
    &.style-rounded{
      border: 1px solid #ccc;
      padding-top: 12px;
      height: 60px;
      line-height: 60px;
      @include border-radius(30px);
      dt{
        width: 130px;
        padding-left: 0;
        margin-left: 30px;
        border-right: 1px solid #83d4d5;
        @media (max-width: 767px) {
          width: 90px;
        }
      }
      input{
        width: 130px;
        font-size: 25px;
        text-align: right;
        color: #135c83;
        border: 0;
        font-weight: 700;
        @media (max-width: 767px) {
          width: 80px;
          font-size: 18px;
        }
      }
      &.on-desk{
        @media (max-width: 767px) {
          display: none;
        }
      }
      &.on-mobile{
        display: none;
        width: 80%;
        margin-left: 10%;
        dt,dd,input{
          @media (max-width: 767px) {
            width: 80px;
            padding-right: 0;
          }
        }
        @media (max-width: 767px) {
          display: block;
        }
      }
    }
  }
  .btn-wrap{
    padding-top: 30px;
    text-align: center;
    .btn-rounded{
      margin-left: 0.5em;
      margin-right: 0.5em;
      @media (max-width: 767px) {
        font-size: 14px;
      }
    }
  }
}
.col-left-bar{
  display: inline-block;
  vertical-align: top;
  width: 35px;
  height: 100%;
  margin-left: 0.9em;
  @media (max-width: 767px) {
    width: 16px;
  }
}
.col-left-bidder{
  display: inline-block;
  vertical-align: top;
  width: auto;     
}
.per-bidder{
  line-height: 1.1;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
.bidder-price{
  display: inline-block;
  text-align: right;
  width: 2.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
.bidder-profile{
  position: relative;
  background-color: #b1fbfc;
  font-size: 13px;
  margin-left: 0.8em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  @include border-radius(6px);
  i{
    color: #cccccc;
  }
  &::before{
    content: '';
    position: absolute;
    left: -8px;
    top: 50%;
    margin-top: -6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 8px 6px 0;
    border-color: transparent #b1fbfc transparent transparent;
  }
  &.style-highlight.on-styling{
    color: white;
    background-color: #fe9037;
    &::before{
      border-color: transparent #fe9037 transparent transparent;
    }
  }
}
h3{
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 3px;
  padding-left: 8px;
}

.rangeslider.rangeslider--vertical{/*bar*/
  background-color: #48b0b1;
  width: 9px;
  height:340px;
  .rangeslider__fill{
    background-color: #48b0b1;    
  }
  .rangeslider__handle{
    width: 21px; 
    height: 21px;
    left: -6px;
    background: url('/assets/images/oa-circle.png') 0 0 no-repeat;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

#cboxClose{
  width: 32px;
  height: 32px;
  top: -45px;
  right: -45px;
  background: url('/assets/images/icon-cbclose.png') 0 0 no-repeat;
  &:hover{
    background-position: 0 0;
  }
}