/*PER ITEM*/
.module-product-box{
  display: inline-block;
  vertical-align: top;
  zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
  width: 180px;
  height: 180px;
  background-color: #01a2be;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  @include border-left-radius(50%);
  @include border-bottom-radius(50%);
  position: relative;
  &.style-check{
    .icon-add{
      &::after,&::before{
        content: none;
      }
    }
  }  
  &.style-joining{
    .icon-add{
      &::after{
        content: none;
      }
    }
  }
  &.style-finishd{
    background-color: #BEBEBE;
    .module-product-inbox{
      background-color: #E3E3E3;
    }
    .module-product-innerbox{
      background-color: #D5D5D5;
    }
    .module-product-innerbox-top{
      background-color: #AEAEAE;
      .module-product-class{
        background-color: #BDBDBD;
      }
    }
    .module-product-bar-containter{
      display: none;
    }
    .module-product-innerbox-bottom{
      color: #AEAEAE;
      .dollarsign{
        color: #AEAEAE;        
      }
    }
    .icon-add{
      &::before,&::after{
        content: none;
      }
    }
  }
  &.style-sale{
    background-color: #2cc986;
    .module-product-inbox{
      background-color: #82e8c3;
    }
    .module-product-innerbox{
      background-color: #61de9c;
    }
    .module-product-innerbox-top{
      background-color: #06bd87;
    }
    .module-product-bar-containter{
      display: none;
    }
    .module-product-innerbox-bottom{
      color: black;
      .dollarsign{
        color: #0e8a4e;
      }
    }
    .icon-add{
      &::before,&::after{
        content: none;
      }
    }

    &.sale-status-notbid{
      .icon-add{
        background: url('/assets/images/icon-sale-status-notbid.png') center no-repeat; 
      }
    }
    &.sale-status-bidding{
      background-color: #00a2bd;
      .icon-add{
        background: url('/assets/images/icon-sale-status-bidding.png') center no-repeat; 
      }
    }
    &.sale-status-purchased{
      background-color: #ff8a00;
    }
  }
  .module-checkbox{
    width: 29px;
    height: 29px;
    position: absolute;
    right: -8px;
    top: -4px;
    input{
      z-index: 3;
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      width: 29px;
      height: 29px;
      margin: 0;
      cursor: pointer;
      &:checked + .module-symbol{
        background: url('/assets/images/icon-check-ob.png') 0 0 no-repeat; 
      }
    }
  }
  .module-symbol{
    z-index: 0;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('/assets/images/icon-check-wb.png') 0 0 no-repeat; 
  }
}

.module-product-inbox{
  padding: 7px;
  width: 100%;
  height: 100%;
  background-color: #89f8ff;
  cursor: pointer;
  @include border-radius(50%);
}
.module-product-innerbox{
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #2bbdd6;
  color: white;
  @include border-radius(50%);
}
.module-product-innerbox-top{
  width: 100%;
  height: 50%;
  background-color: #01a2be;
  text-align: center;
}
.module-product-serialnumber{
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 7px;
  -webkit-transform: scale(0.9); 
}
.module-product-class{
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  margin-right: 6px;
  background-color: #8e0000;
   @include border-radius(8px);
   &:first-letter{
    font-size: 26px;
   }
   &.style-A{
    background-color: #68d517;
   }
   &.style-B{
    background-color: #ffc001;
   }
   &.style-C{
    background-color: #ff6d00;
   }
   &.style-D{
    background-color: #ee0000;
   }
   &.style-E{
    background-color: #8e0000;
   }   
}
.module-product-percent{
  font-size: 26px;
  line-height: 40px;
  vertical-align: middle;
}
.module-product-innerbox-bottom{
  width: 100%;
  height: 50%;
  padding-top: 10px;
  padding-left: 25px;
  font-size: 18px;
  line-height: 1.2;
  .dollarsign{
    color: black;
    font-size: 8px;
    padding-right: 0.5em;
    font-weight: 600;
    -webkit-transform: scale(0.95);
  }
}
.module-product-bar-containter{
height: 11px;
width: 100%;
position: absolute;
top: 50%;
left: 0;
margin-top: -5px;
background-color: #017e92;
}
.module-product-bar-valueimg{
  height: 100%;
  background-color: #ffd801;
  @include border-right-radius(4px);
}
.module-product-bar-number{
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  color: #2bbdd6;
  font-size: 9px;
  line-height: 11px;
  padding-right: 3px;
  -webkit-transform: scale(0.95);
}
.icon-add{
  width: 27px;
  height: 27px;
  display: block;
  position: absolute;
  padding: 0;
  right: 0;
  top: 0;
  cursor: pointer;

  &::before{
    content: '';
    display: block;
    position: absolute;
    background-color: white;
    width: 17px;
    height: 3px;
    top: 14px;
    right: 7px;
  }
  &::after{
    content: '';
    display: block;
    position: absolute;
    background-color: white;
    width: 3px;
    height: 17px;
    top: 7px;
    right: 14px;
  }
}