.table-wrap{
  max-height: 300px;
  overflow: auto;
  @media (max-width: 1023px) {
    // height: 300px;
  }
}
.pure-table {
  /* Remove spacing between table cells (from Normalize.css) */
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #f1f1f1;
  caption {
      color: #029567;
      padding: 1em 0;
      text-align: center;
    font-weight:normal;
  }
  td {
    border-left: 1px solid #cbcbcb;/*  inner column border */
    border-width: 0 0 1 0px;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.5em 1em; /* cell padding */
    color:#0f3b4c;
    background-color: transparent;
    word-break: break-all;
    &:nth-child(1){
      border-width: 0px;
    }
    @media (max-width: 767px) {
      padding-left: 0.2em;
      padding-right: 0.2em;
    }
    span{
      display: inline-block;
    }

  }
  tr:nth-child(odd) td {
      background-color: #fff;
  }
  th {
      border-left: 1px solid #cbcbcb;/*  inner column border */
      border-width: 0 0 0 0px;
      margin: 0;
      overflow: visible; /*to make ths where the title is really long work*/
      padding: 0.5em 1em; /* cell padding */
    color:#0f3b4c;
    font-weight:normal;
  }
  &.style-on-mobile{
    td{
      border-left: 0;
      border-right: 1px solid #cbcbcb;
      padding-top: 1em;
      padding-bottom: 1em;
      &:first-child{
        background-color: #F1F1F1;
        width: 8em;
      }
    }
  }
}


/* BORDERED TABLES */
.pure-table-bordered td {
    border-bottom: 1px solid #cbcbcb;
}
.pure-table-bordered tbody > tr:last-child > td {
    border-bottom-width: 0;
}


/* HORIZONTAL BORDERED TABLES */

.pure-table-horizontal td{  
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #e5e5e5; 
  }
.pure-table-horizontal th {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #f1f1f1;
  font-weight:normal;
}
.pure-table-horizontal tbody > tr:last-child > td {
    border-bottom-width: 0;
}